/* for sidenav to take a whole page */

html,
body {
    margin: 0;
    height: 100%;
}
.fa-heart-o{
    font-size: 24px;
    font-weight: bold;
}
.fa-plus-circle,.fa-phone{
    font-size: 20px;
}
#mat-badge-content-2{
  top :-18px!important;
}

a {
    text-decoration: none;
    /*color: white;*/
}
#icon i{
    font-size: 24px!important;
    font-weight: 400!important;
    padding: 0px 2px!important;
}

a:hover,
a:active {
    color: #ff5a5f;
}
.toll_free{
    background-color: #ffff!important;
    border-color: #888!important;
    border: 2px double;
    border-radius: 0px;
    padding: 0px 5px;
    transition: .3s all;
}

.toll_free:hover {
    background-color: #fff!important;
    border-color: #888!important;
    border: 2px double;
    border-radius: 0px;
    padding: 0px 5px;
    transition: .3s all;
}
.toll_free:hover #number{
    color: #00ff00!important;
}
.toll_free:hover #number  span a{
    color: #000!important;
    transition: .3s all;
}

.toll_free #number{
    color: #00ff00;
}
.toll_free a span{
    color: #000;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

@media(max-width: 768px) {
    mat-toolbar {
        border-radius: 3px;
        border-bottom: 1px solid darkgrey;
        background: #fff;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        position: fixed;
        top: 0px!important;
        width: 100%!important;
    }
}
.active{
    color: #ff5a5f!important;
}
.active:focus {
    color: #ff5a5f!important;
    background: #fff;
}

.active:focus{
    color: #ff5a5f!important;
}
.active_sub{
    background-color: #ff5a5f!important;
    color: #fff!important;
}

.active_sub:focus{
    background-color: #ff5a5f!important;
    color: #fff!important;
}

@media(min-width: 769px) {
    mat-toolbar {
        border-radius: 3px;
        border-bottom: 1px solid darkgrey;
        background: #fff;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        position: fixed;
        top: 0px!important;
        width: 100%!important;
    }
}

.material-icons {
    vertical-align: middle !important;
}


/*a.img_logo .logo2 {
    display: none;
  }*/

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}

 ::ng-deep .mat-toolbar {
    z-index: 1000!important;
    position: fixed;
    height: 100px;
    width: 100% !important;
    /* top: 0; */
    left: 0;
}

.profile_image {
    width: 60px !important;
    height: 60px !important;
}

.user_acc {
    margin-top: auto;
    margin-bottom: auto;
}

.wishlist_icon {
    color: orangered;
}

.wishlist_icon:hover {
    transform: scale(1.5);
}

.add_listing {
    border: 2px double #888;
    border-radius: 0px;
    padding: 0px 5px;
    margin-right: 15px!important;
}

.mat-menu-item.pro_img {
    height: 60px;
}

.mat-menu-item.links {
    height: 35px;
    line-height: 30px;
}