<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white py-4">
    <a class="navbar-brand ps-4 m-auto" href="#">
        <img src="assets/resources/images/header-logo2.png" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler mr15" type="button" data-bs-toggle="collapse" data-bs-target="#menu-navbar" aria-controls="menu-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end ml20" id="menu-navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/" data-bs-toggle="collapse" data-bs-target="#menu-navbar">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about" data-bs-toggle="collapse" data-bs-target="#menu-navbar">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="product-listing" data-bs-toggle="collapse" data-bs-target="#menu-navbar">Listing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact" data-bs-toggle="collapse" data-bs-target="#menu-navbar">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['plans']" data-bs-toggle="collapse" data-bs-target="#menu-navbar">Plans</a>
            </li>
            <li class="nav-item" *ngIf="LoggedIn">
                <a class="nav-link" routerLink="wishlist" data-bs-toggle="collapse" data-bs-target="#menu-navbar"><i class="fa fa-heart" aria-hidden="true"></i>
                    <span class="wishlistValue">{{wishlist_length}}</span></a>
            </li>
            <li class="nav-item" *ngIf="LoggedIn">
                <a class="nav-link" routerLink="product-compare" *ngIf="property_comp_length>1;else otherPro_menu" data-bs-toggle="collapse" data-bs-target="#menu-navbar">
                    <i class="fa fa-exchange" aria-hidden="true"></i>
                    <span class="wishlistValue">{{property_comp_length}}</span>
                </a>
                <ng-template #otherPro_menu>
                    <a class="nav-link compare" (click)="compare_notification()" data-bs-toggle="collapse" data-bs-target="#menu-navbar">
                        <i class="fa fa-exchange" aria-hidden="true"></i>
                        <span class="wishlistValue">{{property_comp_length}}</span>
                    </a>
                </ng-template>
            </li>
            <li class="nav-item" *ngIf="!LoggedIn">
                <a class="nav-link" [routerLink]="['login']" data-bs-toggle="collapse" data-bs-target="#menu-navbar">Login/Register</a>
            </li>
            <li class="nav-item dropdown" *ngIf="LoggedIn">
                <!-- <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu-navbar" [routerLink]="['logout']">Logout</a> -->
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user"></i>
                </a>
                <ul class="dropdown-menu text-center user-info" aria-labelledby="navbarDropdown">
                    <li *ngIf="profile_pic && profile_pic.indexOf('https') == -1">
                        <a class="dropdown-item " *ngIf="profile_pic == null;else OtherImage">
                            <img class="profile_image" src="{{ftpstring}}images/{{profile_pic}} " alt="Profile Pic">
                        </a>
                        <ng-template #OtherImage>
                            <img style="width:30%;" class="align-self-start mr-3" src="./../../assets/resources/images/property/img_avatar2-png-9.png" alt="No Product Image">
                        </ng-template>
                    </li>
                    <li *ngIf="profile_pic && profile_pic.indexOf('https') != -1">
                        <a class="dropdown-item "><img class="profile_image " [src]="google_profile_pic" alt="Profile Pic "></a>
                    </li>
                    <li>
                        {{userName}}
                    </li>
                    <li>
                        <hr class="dropdown-divider ">
                    </li>
                    <li><a class="dropdown-item" [routerLink]="['profile']" data-bs-toggle="collapse" data-bs-target="#menu-navbar">My Profile</a></li>
                    <li><a class="dropdown-item" [routerLink]="['my-properties']" data-bs-toggle="collapse" data-bs-target="#menu-navbar">My Properties</a></li>
                    <li><a class="dropdown-item" [routerLink]="['my-plans']" data-bs-toggle="collapse" data-bs-target="#menu-navbar">My Plans</a></li>
                    <li><a class="dropdown-item" [routerLink]="['agent/my-properties']" data-bs-toggle="collapse" data-bs-target="#menu-navbar">Listed Properties</a></li>
                    <li><a class="dropdown-item" [routerLink]="['logout']" data-bs-toggle="collapse" data-bs-target="#menu-navbar">Logout</a></li>
                </ul>
            </li>
            <li class="nav-item ">
                <a class="nav-link " [routerLink]="['list-property']" data-bs-toggle="collapse" data-bs-target="#menu-navbar">List Property</a>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link " [routerLink]="['agent']" data-bs-toggle="collapse" data-bs-target="#menu-navbar">Agent Dashboard</a>
            </li> -->
        </ul>
    </div>
</nav>