/* for sidenav to take a whole page */

html,
body {
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    /*color: white;*/
}

a:hover,
a:active {
    color: #ff5a5f;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

@media(max-width: 768px) {
    mat-toolbar {
        border-radius: 3px;
        border-bottom: 1px solid darkgrey;
        background: #fff;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        position: fixed;
        width: 100%!important;
    }
}

@media(min-width: 769px) {
    mat-toolbar {
        border-radius: 3px;
        border-bottom: 1px solid darkgrey;
        background: #fff;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        position: fixed;
        width: 99%!important;
    }
}

.material-icons {
    vertical-align: middle !important;
}


/*a.img_logo .logo2 {
    display: none;
  }*/

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}

 ::ng-deep .mat-toolbar {
    z-index: 1000!important;
    position: fixed;
    height: 100px;
    width: 100% !important;
    /* top: 0; */
    left: 0;
}

.profile_image {
    width: 60px !important;
    height: 60px !important;
}

.user_acc {
    margin-top: auto;
    margin-bottom: auto;
}

.wishlist_icon {
    color: orangered;
}

.wishlist_icon:hover {
    transform: scale(1.5);
}

.add_listing {
    border: 2px double #888;
    border-radius: 5px;
    padding: 0px 5px;
}

.mat-menu-item.pro_img {
    height: 60px;
}

.mat-menu-item.links {
    height: 35px;
    line-height: 30px;
}