<mat-toolbar class="navbar-scrolltofixed stricky">
    <div fxHide.gt-sm>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="m-auto">
        <a class="img_logo" href="/">
            <!-- <img class="logo1 img-fluid" src="./../../assets/css/images/header-logo.png" alt="header-logo.png"> -->
            <img class="logo2 img-fluid" src="../../../../assets/resources/images/header-logo2.png" alt="header-logo2.png">
        </a>
    </div>
    <div fxHide.gt-sm>
        <button mat-icon-button [matMenuTriggerFor]="user_info" aria-label="">
            <span class="material-icons">
                person
            </span>
            <span class="material-icons">
                expand_more
            </span>
        </button>
        <mat-menu #user_info="matMenu">
            <button mat-menu-item disabled *ngIf="LoggedIn">
                <span>{{ userName }}</span>
            </button>
            <button mat-menu-item class="text-center links" *ngIf="LoggedIn">
                <span>
                    <a class="dropdown-item text-secondary" href="/profile">My Profile</a>
                </span>
            </button>
            <button mat-menu-item class="text-center links" *ngIf="LoggedIn">
                <span>
                    <a class="dropdown-item text-secondary" href="/my-properties">My Properties</a>
                </span>
            </button>
            <button mat-menu-item class="text-center links" *ngIf="LoggedIn">
                <span>
                    <a class="dropdown-item text-secondary" href="/my-plans">My Plans</a>
                </span>
            </button>
            <button mat-menu-item class="text-center links" *ngIf="LoggedIn">
                <span>
                    <a class="dropdown-item text-secondary" href="/agent/my-properties">Listed Properties</a>
                </span>
            </button>
            <button mat-menu-item class="text-center links" *ngIf="LoggedIn">
                <span>
                    <a class="dropdown-item text-secondary" href="/agent/local-services">Local Services</a>
                </span>
            </button>
            <button mat-menu-item class="text-center links" *ngIf="LoggedIn">
                <span>
                    <a class="dropdown-item text-secondary" href="/agent/services-list">Services List</a>
                </span>
            </button>
            <button mat-menu-item class="text-center links" *ngIf="LoggedIn">
                <span>
                    <a class="dropdown-item text-secondary" href="/agent/services-user-list">Service User list</a>
                </span>
            </button>
            <button mat-menu-item class="text-center links" *ngIf="LoggedIn">
                <span><a class="dropdown-item text-secondary" href="/logout">Log out</a></span>
            </button>
            <button mat-menu-item class="text-center links" *ngIf="!LoggedIn">
                <span><a class="dropdown-item text-secondary" href="/login">Login</a></span>
            </button>
        </mat-menu>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.lt-md>
        <ul fxLayout fxLayoutGap="30px" class="navigation-items">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a [routerLink]="['about']">About</a>
            </li>
            <li>
                <a href="/product-listing">Listing</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/plans">Plans</a>
            </li>

            <li *ngIf="!LoggedIn">
                <a href="/login">Login/Register</a>
            </li>
            <li *ngIf="LoggedIn" class="user_acc">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <span class="material-icons">
                        person
                    </span>
                    <span class="material-icons">
                        expand_more
                    </span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="text-center pro_img">
                        <span *ngIf="profile_pic && profile_pic.indexOf('https') != -1">
                            <img class="profile_image" src="{{profile_pic}}" alt="Profile Pic"></span>
                        <span *ngIf="profile_pic && profile_pic.indexOf('https') == -1"><img class="profile_image"
                                src="{{ftpstring}}images/{{profile_pic}}" alt="Profile Pic"></span>
                        <span *ngIf="!profile_pic"><img class="profile_image"
                                src="./../../assets/images/no-image-icon.png" alt="Profile Pic"></span>
                    </button>
                    <button mat-menu-item disabled class="text-center links">
                        <span><strong>{{ userName }}</strong></span>
                    </button>
                    <button mat-menu-item class="text-center links">
                        <span>
                            <a class="dropdown-item text-secondary" href="/profile">My Profile</a>
                        </span>
                    </button>
                    <button mat-menu-item class="text-center links">
                        <span>
                            <a class="dropdown-item text-secondary" href="/my-properties">My Properties</a>
                        </span>
                    </button>
                    <button mat-menu-item class="text-center links">
                        <span>
                            <a class="dropdown-item text-secondary" href="/my-plans">My Plans</a>
                        </span>
                    </button>
                    <button mat-menu-item class="text-center links">
                        <span>
                            <a class="dropdown-item text-secondary" href="/agent/my-properties">Listed Properties</a>
                        </span>
                    </button>
                    <button mat-menu-item class="text-center links">
                        <span>
                            <a class="dropdown-item text-secondary" href="/agent/local-services">Local Services</a>
                        </span>
                    </button>
                    <button mat-menu-item class="text-center links" *ngIf="LoggedIn">
                        <span>
                            <a class="dropdown-item text-secondary" href="/agent/services-list">Services List</a>
                        </span>
                    </button>
                    <button mat-menu-item class="text-center links" *ngIf="LoggedIn">
                        <span>
                            <a class="dropdown-item text-secondary" href="/agent/services-user-list">Service User list</a>
                        </span>
                    </button>
                    <button mat-menu-item class="text-center links">
                        <span><a class="dropdown-item text-secondary" [routerLink]="['logout']">Log out</a></span>
                    </button>
                </mat-menu>

            </li>
            <li *ngIf="LoggedIn">
                <a href="/wishlist">
                    <span matBadge={{wishlist_length}} matBadgeOverlap="false" matBadgeColor="warn">
                        <mat-icon>favorite_border</mat-icon>
                    </span>
                </a>
            </li>
            <li *ngIf="LoggedIn">
                <a href="/product-compare" *ngIf="property_comp_length>1;else otherPro_menu">
                    <span matBadge={{property_comp_length}} matBadgeOverlap="false" matBadgeColor="warn">
                        <mat-icon>compare_arrows</mat-icon>
                    </span>
                </a>
                <ng-template #otherPro_menu>
                    <a (click)="compare_notification()">
                        <span matBadge={{property_comp_length}} matBadgeOverlap="false" matBadgeColor="warn">
                            <mat-icon>compare_arrows</mat-icon>
                        </span>
                    </a>
                </ng-template>
            </li>
            <li class="add_listing">
                <span>
                    <a href="/list-property">
                        <mat-icon>add_circle_outline</mat-icon>
                        <span> List Property</span>
                </a>
                </span>
            </li>
        </ul>
    </div>
</mat-toolbar>