.profile-img {
    width: 60%;
}

#label_upload {
    display: inline-block;
    background-color: rgb(255, 90, 95);
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin: auto;
    background-image: none !important;
}

.bank_details_section {
    padding: 0px 25px 25px 25px!important;
}
.lable_banktype{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bank_details_section .heading {
    font-size: 16px;
    font-weight: 600;
    padding: 13px 0px!important;
    margin: 0px 0px 20px!important;
    background-color: #0d6efd!important;
    color: #fff!important;
}

.bank_details_history .heading {
    font-size: 16px;
    font-weight: 600;
    padding: 13px!important;
    margin: 0px 0px 20px!important;
    background-color: #4caf50!important;
    color: #fff!important;
    display: flex;
    align-items: center;
    justify-content: space-between!important;
}

.status_heading .text-success {
    text-align: center!important;
    color: #fff!important;
    font-size: 16px;
    font-weight: 600!important;
    padding: 5px 0px!important;
    background-color: #4caf50!important;
    letter-spacing: 1.5px!important;
}

.status_heading .text-danger {
    text-align: center!important;
    color: #fff!important;
    font-size: 16px;
    font-weight: 600!important;
    background-color: #ff5a5f!important;
    padding: 5px 0px!important;
    letter-spacing: 1.5px!important;
}

#column_bank_histroy {
    border: 5px solid #fff!important;
    padding: 20px!important;
}

@media(max-width: 768px) {
    .profile-img {
        width: 40%;
    }
    .lable_banktype{
        margin: 15px 0px!important;
    }
}

#breadcrumb {
    position: relative;
}