
<div class="container container1 mt-4">
    <div class="row" *ngIf="showLoadingIndicator == false">
        <div class="col-lg-6">
            <button (click)="generatePDF()">Generate PDF</button>
        </div>
        <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-primary" (click)="my_property()">My All Property</button>
        </div>
    </div>
    <div *ngIf="showLoadingIndicator">
        <div class="preloader"></div>
    </div>
</div>
<div class="container mt-4" *ngIf="showLoadingIndicator == false">
    <div class="p-5 mb-4 bg-light rounded-3" id="cont1">
        <div class="container-fluid py-4">
            <div class="table-responsive p-5" id="htmlData">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th class="text-center"><img src="../../../../../assets/resources/images/logo/logo.png" alt=""></th>
                            <th class="text-center">
                                <h3>Rent Slip</h3>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="text-center" *ngIf="property_details?.property_invoice != null">
                                <h4>
                                    <!-- <span id="invoice_tag" (click)="viewInvoice(property_details?.property_invoice?.invoice_no)"> {{property_details?.property_invoice?.invoice_no}}</span> -->
                                    <!-- {{ property_details?.property_invoice?.invoice_no}} -->
                                </h4>
                            </th>
                        </tr>
                        
                    </thead>
                </table>

                <table class="table text-center">
                    <thead >
                        <tr>
                            <th>Sl No</th>
                            <th>Expected Payment For Renter related to property owner</th>
                            <th>Duration</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Rent</td>
                            <td>1 Month</td>
                            <td>&#8377; {{ property_details?.expected_rent }}</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Security Deposit</td>
                            <td>{{ property_details?.security_deposit }} Month</td>
                            <td>&#8377; {{security_dep_amount}}</td>
                        </tr>
                        <tr *ngIf="property_details?.maintenance_charge_status == '1'">
                            <th>3</th>
                            <td>Maintenance Charge</td>
                            <td>{{property_details?.maintenance_condition?.name}}</td>
                            <td>&#8377; {{property_details?.maintenance_charge}}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>Total Amount Receive For Renter <strong>(A)</strong></td>
                            <td></td>
                            <td><strong>&#8377; {{ total_amount_owner }}</strong></td>
                        </tr>
                    </tbody>
                    <thead *ngIf="property_details?.property_invoice?.plan_name == 'Standard'">
                        <tr>
                            <th>Sl No</th>
                            <th>Description & Specification of Service</th>
                            <th>Duration</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="property_details?.property_invoice?.plan_name == 'Standard'">
                        <tr>
                            <th>1</th>
                            <td> {{ property_details?.property_invoice?.plan_name }} Plan
                                <!-- <span *ngIf="inv_response?.plan_type == 'Rent'">(Property Renting Plan)</span> -->
                                <span *ngIf="property_details?.property_invoice?.plan_type == 'Let Out'">(Property Let Out Plan)
                                    <br>
                                    <span id="invoice_tag" (click)="viewInvoice(property_details?.property_invoice?.invoice_no)"> {{property_details?.property_invoice?.invoice_no}}</span>
                                </span>
                            </td>
                            <td>{{ property_details?.property_invoice?.sac }}</td>
                            <td>&#8377; {{ property_details?.property_invoice?.plan_price }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><strong>Total Invoice Payable Amount
                              
                                <span >(B)</span>
                            </strong></td>
                            <td></td>
                            <td><strong>&#8377;  {{ property_details?.property_invoice?.plan_price }}</strong></td>
                        </tr>
                    </tbody>
                    <tbody id="bottom_text">
                        <tr>
                            <td></td>
                            <td>
                                <strong>
                                  You Receive Final Payment
                                 </strong>
                            </td>
                            <td>
                                <strong *ngIf="property_details?.property_invoice?.plan_name != 'Standard'">(A) </strong>
                                <strong *ngIf="property_details?.property_invoice?.plan_name == 'Standard'">(A-B) </strong>
                            </td>
                            <td><strong *ngIf="property_details?.property_invoice?.plan_name != 'Standard'">&#8377; {{total_amount_owner}} </strong>
                                <strong *ngIf="property_details?.property_invoice?.plan_name == 'Standard'">&#8377; {{total_amount_owner -  property_details?.property_invoice?.plan_price }}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
