.material-icons {
    vertical-align: sub;
}
.container1{
    padding-top: 120px!important;
}

@media only screen and (max-width: 768px) {
    #htmlData {
        padding: 0 !important;
    }
    #cont1 {
        padding: 0 !important;
    }
}
#invoice_tag{
    color: blue;
    cursor: pointer;
}
#bottom_text td{
    padding: 22px 0px!important;
}
#bottom_text{
    padding: 20px 0px;
    font-size: 24px;
}