<div class="container mt-4">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h4>Hello {{ username }}</h4>
        <dl class="row">
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">{{ response?.roles.email }}</dd>
            <dt class="col-sm-3">Roles Assigned</dt>
            <dd class="col-sm-9">
                <p *ngFor="let role of roles_response">{{ role.role_name }}</p>
            </dd>
        </dl>
    </div>
    <div class="row">

        <!-- <div class="col-lg-6">
            <div class="p-5 mb-4 bg-light border border-dark rounded-3 text-center">
                <h3>Manage Plans</h3>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-secondary me-md-2" type="button" (click)="view_plans()">View Plans</button>
                    <button class="btn btn-secondary" type="button" (click)="add_plan()">Add Plan</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-5 mb-4 bg-light border border-dark rounded-3 text-center">
                <h3>Manage Roles and Permissions</h3>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-secondary me-md-2" type="button" (click)="create_user()">Create User</button>
                    <button class="btn btn-secondary" type="button" (click)="create_role()">Create Role</button>
                </div>
            </div>
        </div> -->
    </div>

</div>