<div class="container mt-4">
    <div class="alert alert-dark text-center" role="alert">
        Hello Admin
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="p-5 mb-4 bg-secondary bg-gradient rounded-3 text-center">
                <h3>Manage Plans</h3>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-light me-md-2" type="button" (click)="view_plans()">View Plans</button>
                    <button class="btn btn-light" type="button" (click)="add_plan()">Add Plan</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-5 mb-4 bg-secondary bg-gradient rounded-3 text-center">
                <h3>Manage Permissions</h3>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-light me-md-2" type="button">Button</button>
                    <button class="btn btn-light" type="button">Button</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <a [routerLink]="['/admin/user-reviews']">user-reviews</a>
        </div>
        <div class="col-lg-4">
            <a [routerLink]="['/admin/user-bank-details']">user-bank-details</a>
        </div>
        <div class="col-lg-4">
            <a [routerLink]="['/admin/user-list']">user-list</a>
        </div>
    </div>

</div>