.px-5{
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}
.my-4 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
.sign_up{
    cursor: pointer!important;
}
@media(min-width: 768px) {

    .preloader{
        height: 650px!important;
    }
    .bg-secondary {
        padding: 8rem 3rem 1rem 3rem!important;
    }
    
    
}

@media only screen and (max-width: 768px) {
    .bg-secondary {
        padding: 7rem 3rem 0rem 3rem!important;
    }
   
}
