.modal-dialog{
    max-width: 80vw!important;
    min-width: 80vw!important;

}
.material-icons {
    vertical-align: sub;
}
.container1{
    padding-top: 120px!important;
}

@media only screen and (max-width: 768px) {
    #htmlData {
        padding: 0 !important;
    }
    #cont1 {
        padding: 0 !important;
    }
}