
<div class="wrapper">
    <div class="p-5 bg-secondary rounded-3">
        <div class="container-fluid py-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                </ol>
            </nav>
            <h2 class="col-custom">Contact Us</h2>
        </div>
    </div>
    <div *ngIf="showLoadingIndicator">
        <div class="preloader"></div>
    </div>
    <section class="our-contact pb0 bgc-f7" *ngIf="showLoadingIndicator == false">
        <div class="container">
            <div class="row pb20">
                <div class="col-lg-7 col-xl-8">
                    <div class="form_grid">
                        <h4 class="mb5">Send Us An Email</h4>
                        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact_form" id="contact_form" name="contact_form" action="#" method="post" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_name" formControlName="name" name="form_name" class="form-control" required="required" type="text" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_email" formControlName="email" name="form_email" class="form-control required email" required="required" type="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Email is invalid</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_phone" formControlName="phone" name="form_phone" class="form-control required phone" required="required" (keypress)="keyPressNumbers($event)" type="text" maxlength="10" minlength="10" placeholder="Phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                            <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_subject" formControlName="subject" name="form_subject" class="form-control required" required="required" type="text" placeholder="Subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }">
                                        <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                                            <div *ngIf="f.subject.errors.required">Subject is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea id="form_message" formControlName="message" name="form_message" class="form-control required" rows="8" required="required" placeholder="Your Message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                            <div *ngIf="f.message.errors.required">Please enter a message</div>
                                        </div>
                                    </div>
                                    <div class="form-group mb0">
                                        <button type="submit" class="btn btn-lg btn-thm">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4">
                    <div class="contact_localtion">
                        <h4>Contact Us</h4>
                        <div class="row">
                        <div class="content_list col-12 col-lg-12 col-sm-6">
                            <h5>Address</h5>
                            <p>H. No B-165, <br>Ambedkar Colony, <br>Gali No 1, <br>Chhatarpur, <br>New Delhi - 110074
                            </p>
                        </div>
                       
                        <div class="content_list col-12 col-lg-12 col-sm-6">
                            <h5>Toll Free No</h5>
                            <p><a href="tel:{{toll_free}}" >{{toll_free}} </a></p>
                            <h5>Mail</h5>
                            <p><a href="mailto:support@housingstreet.com">support@housingstreet.com</a></p>
                        </div>
                        <!-- <div class="content_list">
                            <h5>Toll Free No</h5>
                            <p><a href="tel:toll_free" >{{toll_free}} </a></p>
                        </div> -->
                        <ul class="contact_form_social_area col-12 col-lg-12 col-sm-12">
                            <h5>Follow Us</h5>
                            <li class="list-inline-item"><a href="https://www.facebook.com/Housing-Street-100741482322047" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/HousingStreet" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li class="list-inline-item"><a href="https://www.instagram.com/Housingstreet/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <!-- <li class="list-inline-item"><a href="#"><i class="fa fa-google"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
                        </ul>

                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Real Estate Agent -->
    <app-real-estate-agent></app-real-estate-agent>
</div>