<div class="wrapper">
    <div class="bg-secondary">
        <div class="container-fluid py-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Thank-you </li>
                </ol>
            </nav>
            <h2 class="col-custom">Thank-you</h2>
        </div>
    </div>
    <section class="our-contact pb0 bgc-f7">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                <h2>Thank-you</h2>
                <h5>Your Feedback has been Completed.</h5>
                <span id="heading_redirect">Redirecting in: </span>  <span id="count_number_text">{{count_number}}</span><span id="heading_redirect"> sec</span>                  
                
            </div>
        </div>
    </div>
    </section>
</div>