<div class="wrapper">
    <div class="container mt20">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-12 create_column">
                <div class="my_dashboard_review">
                    <form role="form" action="" method="post" class="f" [formGroup]="Service_form" novalidate>
                        <div class="row">
                            <div class="col-lg-12 service_heading">
                                <h2>Update Service</h2>
                            </div>
                            <div class="col-lg-12 mtb10 col-sm-12">
                                <div class="form-group">
                                    <label for="service" class="form-label">Enter Service Name:</label>
                                    <input type="text" class="form-control" id="service" formControlName="service" [ngClass]="{ 'is-invalid': submitted && f.service.errors }">
                                </div>
                            </div>
                            <div class="col-lg-4 offset-lg-8 col-12 mt20 search-column">
                                <button type="submit" class="btn btn-submit" (click)="onSubmit()">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>