.why_chose_us.style2:hover .icon{
    background:#ff5a5f!important;
}

@media(max-width: 768px) {  
    section{
        padding: 40px 0px 30px!important;
    }
    .mt50 {
        margin-top: 20px!important;
    } 
    .about_content p.large{
        margin-bottom: 35px!important;
    }
    .main-title{
        margin-top: 30px!important;
        margin-bottom: 30px!important;
    }
}

@media(min-width: 768px) {
    .main-title {
        margin-bottom: 50px!important;
    } 
}