<div class="wrapper">
    <!--Breadcrumb-->
    <div class="p-5 bg-secondary rounded-3">
        <div class="container-fluid py-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
            <h2 class="col-custom">About Us</h2>
        </div>
    </div>

    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-title text-center">
                        <h2 class="mt0 text-thm">Hamara sapna ghar ho sabka apna apna</h2>
                    </div>
                </div>
            </div>
            <div class="row about-us">
                <section class="whychose_us bgc-f7 pb30">
                    <div id="about">
                        <p>There are hundreds of websites that help renters get the “perfect property” and assist property owners to get suitable tenants. Some provide this service for free, while others often charge a very nominal fee. So you might think
                            - what makes us different from our competitors, when the service is basically the same? </p>
                        <p>Yes, that's right - Housing Street finds the ideal property for renters, while aiding property owners to get good tenants. Same as the others! But this is what sets us apart from them - our objective isn't to just arrange a meeting
                            between property owners and prospective renters, pocket the commission, and then leave.</p>
                        <p>Our service doesn't end when a renter moves in; rather it is when our real work begins, which is to offer satisfaction and peace of mind. By providing contact numbers of service providers in the area, such as plumbers, maids, electricians,
                            we make the move as smooth as possible. Similarly, for property owners looking for a repairman to do few minor renovations, or fix up some other things after the property has been vacated (and before the next renter moves in),
                            we provide similar lists too. In fact, there is an option to change properties free of charge within a certain time period, if there are any issues. Property owners can avail this facility as well - if a place is prematurely
                            vacated, they don't have to pay the commission once again.</p>
                        <p>The idea behind Housing Street came into fruition after conversing with some friends and ex-colleagues. We listened to the hassles they faced while looking for properties. At times the property owner was unprofessional or the flats/buildings/houses
                            weren't up to the mark. Women had bigger challenges, such as looking for a secure listing, along with a safe neighborhood too. That is when we thought of creating a platform with 100% verified listings, stellar service both
                            before and after moving in, and zero hidden charges.</p>
                        <p>To sum up, this is what you can expect from us:</p>
                        <p>For property owners - we ensure your vacant property is occupied and you get decent rent. <br> For renters - we promise a safe and secure place and true value for money when it comes to rent.
                        </p>
                    </div>
                </section>
            </div>
            <!-- <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <div class="main-title text-center">
                        <h2 class="mt0">Our Vision</h2>
                        <hr>
                    </div>

                    <div class="about_content">
                        <p class="large text-center">To be India's most compelling Real Estate Platform, by Accelerating India's transition to online Real Estate Market.</p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <div class="main-title text-center">
                        <h2 class="mt0">Our Mission</h2>
                        <hr>
                    </div>

                    <div class="about_content">
                        <p class="large text-center">Organizing India's Real Estate on a single platform, to make it visible to the World, to help them find the Dreams, with hand holding Support of Experts.
                        </p>
                    </div>
                </div>
            </div> -->
            <app-why-choose-us></app-why-choose-us>
                        
        </div>
    </section>
    <!-- Our Testimonials -->
    <app-testimonial></app-testimonial>
    <!-- Real Estate Agent -->
    <app-real-estate-agent></app-real-estate-agent>