<div class="container mt-5">
    <div class="card">
        <div *ngIf="showLoadingIndicator">
            <div class="preloader"></div>
        </div>
        <div class="card-header text-center">
            <h5 class="card-title">View Internal Users</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <span class="status_tag badge">All User ({{user_list_length}})</span>
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">Sl. No</th>
                            <th scope="col">User</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let user of user_response?.data; let i = index">
                        <tr>
                            <th scope="row">
                                {{i+1}}
                            </th>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td> <td>
                                <label class="switch" *ngIf="user?.blocked == 0">
                                    <input type="checkbox"  (click)="user_status_changes(user?.id)" checked>
                                    <span class="slider round"></span>
                                  </label>
                                  <label class="switch" *ngIf="user?.blocked == 1">
                                      <input type="checkbox"  (click)="user_status_changes(user?.id)">
                                      <span class="slider round"></span>
                                    </label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ViewDetailsModal" (click)="viewDetails(user)">View</button>
                                <button type="button" class="btn btn-primary edit-button" data-bs-toggle="modal" data-bs-target="#EditDetailsModal" (click)="editDetails(user)">Edit</button>
                                <!-- <button type="button" class="btn btn-primary edit-button" data-bs-toggle="modal" data-bs-target="#DeleteUserModal" (click)="deleteUser(user)">Delete</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mbp_pagination" *ngIf="user_list_length>0">
                    <!-- {{user_bank_details.links | json}} -->
                    <ul class="page_navigation">
                        <li class="page-item" *ngFor="let link of user_response.links; index as i" [ngClass]="{'active' : link.active == true, 'disabled' : link.url == null}">
                            <button type="button" (click)="gotoPage(link.url)" class="page-link">
                                <span
                                    *ngIf="link.label.indexOf('Previous') == -1 && link.label.indexOf('Next') == -1"
                                    [innerHTML]="link.label"></span>
                                <span *ngIf="link.label.indexOf('Previous') > -1"
                                    class="flaticon-left-arrow"></span>
                                <span *ngIf="link.label.indexOf('Next') > -1"
                                    class="flaticon-right-arrow"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- More Details Modal -->
    <div class="modal fade" id="ViewDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
                    <button type="button" #closeModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-4">User Name: </dt>
                        <dd class="col-sm-8">{{ user_details?.name }}</dd>
                        <dt class="col-sm-4">Email: </dt>
                        <dd class="col-sm-8">{{ user_details?.email }}</dd>
                        <dt class="col-sm-4">Mobile: </dt>
                        <dd class="col-sm-8">{{ user_details?.other_mobile_number }}</dd>
                        <dt class="col-sm-4">Roles Assigned: </dt>
                        <dd class="col-sm-8">
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item" *ngFor="let role of user_details?.roles">
                                    {{ role.role_name }}
                                    <input class="form-check-input me-1" type="checkbox" value="" checked disabled>
                                </li>
                            </ol>
                        </dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>

    <!-- Edit Details Modal -->
    <div class="modal fade" id="EditDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit User Details - {{ edit_user_details?.name }}
                    </h5>
                    <button type="button" #closeEditModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="EditUserForm" class="mt-4">
                        <div class="form-check col-lg-6 ps-4" formArrayName="EditRolesArray" *ngFor="let role of roles_response; let i = index">
                            <input class="form-check-input" id="{{role.id}}" type="checkbox" [formControlName]="role.role_name">
                            <label class="form-check-label" for="{{role.id}}">
                                {{role.role_name}}
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="save_user(edit_user_details?.id)">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete User Modal -->
    <div class="modal fade" id="DeleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete User - {{ delete_user_details?.name }}</h5>
                    <button type="button" #closeDeleteModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to delete?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="delete_role(delete_user_details?.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
