.feat_property{
    margin-bottom: 0px!important;
}
.sidebar_feature_property_slider .owl-theme .owl-nav{
    background-color: #ff5a5f!important;
    color: #fff!important;
    font-size: 18px!important;
}