<div class="terms_condition_widget"  *ngIf="pro_featured?.data">
    <h4 class="title">Featured Properties</h4>
    <div class="sidebar_feature_property_slider">
        <owl-carousel-o [options]="featured_property">
            <ng-container *ngFor="let property of pro_featured?.data; let i = index ">
                <ng-template carouselSlide [id]="property.id">
                    <a (click)="navigate(property.id,property.build_name,property.city)">
                    <div class="item">
                        <div class="feat_property home7">
                            <div class="thumb">
                                <img class="img-whp" *ngIf="property.product_img.length>0;else OtherImage" src="{{ftpstring}}{{property.product_img[0].image}}" alt="fp3.jpg"><ng-template #OtherImage>
                                    <img class="img-whp" src="./../../assets/resources/images/no_image_available.jpg" alt="No Product Image">
                                    </ng-template>
                                <div class="thmb_cntnt">
                                    <ul class="tag mb0">
                                        <li class="list-inline-item"><a href="#">For Rent</a></li>
                                        <li class="list-inline-item"><a href="#">Featured</a></li>
                                    </ul>
                                    <a class="fp_price" *ngIf="property.expected_pricing != null">₹ {{ Price_convert(property.expected_pricing)}}</a>
                                    <a class="fp_price" *ngIf="property.expected_rent != null">₹ {{ Price_convert(property.expected_rent)}}<small>/mo</small></a>
                                    <h4 class="posr color-white">{{property.build_name | titlecase}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                  </a>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>