<h2 mat-dialog-title>Plan Details</h2>
<mat-dialog-content class="mat-typography">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Plans Available
                </mat-panel-title>
                <mat-panel-description>
                    Choose from the plans available
                    <mat-icon>list</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Invoice No</th>
                            <th scope="col">Plan Name</th>
                            <th scope="col">Payment Type</th>
                            <th scope="col">Payment Status</th>
                            <th scope="col">Plan Price</th>
                            <th scope="col">Amount Available</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let data of response.response; index as i">
                        <tr>
                            <th scope="row">{{ i+1 }}</th>
                            <td>{{ data.invoice_no }}</td>
                            <td>{{ data.plan_name }}</td>
                            <td>{{ data.payment_type }}</td>
                            <td>{{ data.payment_status }}</td>
                            <td>{{ data.plan_price }}</td>
                            <td>{{ data.expected_rent }}</td>
                            <td>
                                <!-- <button type="button" class="btn btn-success" *ngIf="data.payment_received != 'Pending'" data-bs-toggle="modal" data-bs-target="#Mymodal" (click)="confirmation_modal(data.invoice_no)" > </button>-->
                                
                                    <button type="button" class="btn btn-success" *ngIf="data.payment_received != 'Pending'" (click)="apply_plan(data.invoice_no)" >
                                        Use Plan
                                </button>
                                <button type="button" disabled class="btn btn-danger" *ngIf="data.payment_received == 'Pending'">Use
                                    Plan</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Purchase a Plan
                </mat-panel-title>
                <mat-panel-description>
                    Purchase a Plan
                    <mat-icon>shopping_cart</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container">
                <div class="row mb-3 mt-5 text-center justify-content-center">
                    <div *ngFor="let letout_plan of letout_feat_res" class="col-lg-4 col-md-4 mb-5">
                        <div class="card mb-4 rounded-3 shadow-sm border-secondary h-100">
                            <span class="banner" *ngIf="letout_plan.special_tag == 'yes'">Popular</span>
                            <div class="card-header py-3 h-220">
                                <h4>{{ letout_plan.plan_name }}</h4>
                                <hr>
                                <div *ngIf="letout_plan.discount == 1">
                                    <h4 class="strike_duration">{{ letout_plan.actual_price_days }} Days Rent</h4>
                                    <h4 class="discount_price">{{ letout_plan.discount_percentage }} % Off</h4>
                                    <h4>{{ letout_plan.discounted_price_days }} Days Rent</h4>
                                    <h4>Rs. {{ response.product_price / (30 / letout_plan.discounted_price_days) | number: '4.0-0'}}
                                    </h4>
                                </div>
                                <div *ngIf="letout_plan.discount == 0">
                                    <h4></h4>
                                    <h4></h4>
                                    <h4>{{ letout_plan.actual_price_days }} Days Rent</h4>
                                    <h4>Rs. {{ response.product_price / (30 / letout_plan.actual_price_days) | number: '4.0-0'}}
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body h-100">
                                <h1 class="card-title pricing-card-title"></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li *ngFor="let letout_plan_feature of letout_plan.features" class="h-100">
                                        <p class="text-muted row1">{{ letout_plan_feature.feature_name }}
                                            <!-- <span *ngIf="letout_plan_feature.more_info_status == '1'">
                                                    <mat-icon placement="bottom" [ngbPopover]="popoverContent">info</mat-icon>
                                                </span> -->
                                        </p>
                                        <ng-template #popoverContent>
                                            <div [innerHTML]="letout_plan_feature.more_info.more_info"></div>
                                        </ng-template>
                                        <p class="row2" *ngIf="letout_plan_feature.feature_details === 'yes'">
                                            <span class="checkmark">&#10003;</span>
                                        </p>
                                        <p class="row2" *ngIf="letout_plan_feature.feature_details === 'no'">
                                            <span class="wrong-sym">&#215;</span>
                                        </p>
                                        <p class="row2" *ngIf="letout_plan_feature.feature_details != 'no' && letout_plan_feature.feature_details != 'yes'">
                                            {{ letout_plan_feature.feature_details }}</p>
                                        <hr>
                                    </li>
                                </ul>
                                <a class="btn btn-block btn-success" (click)="plan_payment(letout_plan.plan_name, letout_plan.id, letout_plan.payment_type, letout_plan.plan_type, response.product_price, letout_plan.actual_price_days, letout_plan.discounted_price_days, letout_plan)">Select
                                    Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <!--<button mat-button [mat-dialog-close]="true" cdkFocusInitial>Make Live</button>-->
</mat-dialog-actions>


<!-- .modal -->
<div class="modal fade" id="Mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">
                    &times;
                </button> 
                <h4 class="modal-title">
                    Are you  statisfied this price for Property Live
                </h4>                                                             
            </div> 
            <div class="modal-body">
              <p>This Plan used Only Single Current Property</p>
            </div>   
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                    Cancle
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="apply_plan(current_invoice_no)">
                    Confirm
                </button>                                 
            </div>
        </div>                                                                       
    </div>                                      
</div>