<!--Breadcrumb-->
<div class="bg-secondary">
    <div class="container-fluid py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
        </nav>
        <h2 class="col-custom">Register</h2>
    </div>
</div>
<div *ngIf="showLoadingIndicator">
    <div class="preloader"></div>
</div>
<section class="our-log-reg bgc-fa">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 offset-lg-3">
                <div class="sign_up_form inner_page">
                    <div class="heading" *ngIf="isSuccessful == false && showLoadingIndicator == false && isVerified == false">
                        <h3 class="text-center">Register</h3>
                        <p class="text-center">Have an account? <a class="text-thm" routerLink="/login">Login</a></p>
                    </div>
                    <div class="details">
                        <form [formGroup]="form" *ngIf="!isSuccessful && isVerified == false && showLoadingIndicator == false" name="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">First Name</span>
                                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" name="firstName" id="firstName" aria-describedby="basic-addon1" (keypress)="keyPressNumbers1($event)" (paste)="onPaste($event)" readonly required>
                                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">Last Name</span>
                                        <input type="text" class="form-control" formControlName="lastName" name="lastName" id="lastName">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Email</span>
                                    <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" name="email" required>
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email is invalid</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Password</span>
                                    <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" name="password" minlength="6" required>
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">
                                            Password must be at least 6 characters
                                        </div>
                                        <div *ngIf="f.password.errors.maxlength">
                                            Password must not exceed 40 characters
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Confirm Password</span>
                                    <input type="password" class="form-control" formControlName="cpassword" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }" name="cpassword" minlength="6" required>
                                    <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.cpassword.errors.required">
                                            Confirm Password is required
                                        </div>
                                        <div *ngIf="f.cpassword.errors.confirmedValidator">
                                            Confirm Password does not match
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">+91</span>
                                    <input type="test" class="form-control" formControlName="phone_number" [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }" placeholder="Mobile Number" (keypress)="keyPressNumbers1($event)" (paste)="onPaste($event)" name="phone_number" minlength="10" maxlength="10" id="phone_number" 
                                        required readonly>
                                    <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
                                        <div *ngIf="f.phone_number.errors.required">Phone number is required</div>
                                        <div *ngIf="f.phone_number.errors.pattern">
                                            Phone number must be 10 digits
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                                    <select class="form-select" id="inputGroupSelect01" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" name="gender" required>
                                       <option value="" selected>Please Select Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                        <div *ngIf="f.gender.errors.required">Please select the Gender</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="inputGroupSelect01">User Type</label>
                                    <select class="form-select" id="inputGroupSelect01" formControlName="select_type" [ngClass]="{ 'is-invalid': submitted && f.select_type.errors }" name="select_type" required>
                                        <option value="">Select User Type</option>
                                        <option value="5">Renter</option>
                                        <option value="4">Property Owner</option>
                                        <!-- <option value="3">Agent</option> -->
                                    </select>
                                    <div *ngIf="submitted && f.select_type.errors" class="invalid-feedback">
                                        <div *ngIf="f.select_type.errors.required">Please select the User Type</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-log btn-block btn-thm">Register</button>
                            </div>

                            <div class="alert alert-warning mt20" *ngIf="submitted && isSignUpFailed">
                                <h4>SignUp Failed</h4>

                                <div *ngIf="!errorMessage.errors && errorMessage.message">
                                    {{ errorMessage.message }}
                                </div>

                                <div *ngIf="errorMessage.errors && errorMessage.errors.email">
                                    <p><strong> The Email Address has already been taken. </strong></p>
                                </div>

                                <div *ngIf="errorMessage.errors && errorMessage.errors.other_mobile_number">
                                    <p><strong>The Mobile Number has already been taken.</strong></p>
                                </div>

                            </div>
                        </form>

                        <div class="alert alert-success" *ngIf="isVerified">
                            Your Accout is verified, Login to continue.<a href="/login" class="page_links">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
