img{
    width:80px!important;
    height: 80px!important;
}
.media{
    cursor: pointer!important;
}
.media span{
    width: 100%!important;
    display: flex!important;
}
.media span ul li{
    padding-right: 2px!important;
}