@media(max-width: 768px) {
    .more_det {
        margin-top: 15px;
    }
}
a{
    cursor: pointer!important;
}
p{
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
}
.btn-danger {
    font-size: 12px!important;
}
.btn-success{
    font-size: 12px!important;
}
.btn-primary{
    font-size: 12px!important;
}