.list-inline-item a i{
    color: #ff5a5f !important;
    font-size: 30px;
    font-weight: 900;
}
.float-right .bucket-btn{
    border:1px solid #4caf50;
    color: #4caf50!important;
}
.preloader_row{
    position: relative;
    width: 100%!important;
    height: 50vh!important;
}
.inner_carosule .outer_slider{
    background-color: transparent!important;
}

.tollfree_row #heading a{
    color: #000!important;
}

.tollfree_row span i{
    color:#00ff00;
}
.tollfree_row span{
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    display: flex;
}
#feature-property .propertyListingPage .feat_property{
    height: 490px!important;
}

@media(max-width: 950px) { 
    #deshtop_view{
        display: none!important;
    }
}
@media(min-width: 950px) { 
    #mobile_view{
        display: none!important;
    }
}