<div class="row propertyListingPage">
    <div class="col-md-6 col-lg-6"
        *ngFor="let number of property?.data | paginate:{itemsPerPage:6, currentPage:p}">
        <div class="feat_property home7 style4">
        <owl-carousel-o [options]="customOptions" *ngIf="number.product_img.length>0;else OtherImage">
            <ng-template carouselSlide *ngFor="let img of number?.product_img">
            <img class="img-whp" src="{{ftpstring}}{{img?.image}}" alt="img1.jpg">
            <div class="thumb">
                <div class="thmb_cntnt style2">
                <ul class="tag mb0">
                    <li class="list-inline-item" *ngIf=" number.rent_availability != null"><a>For Rent</a></li>
                    <li class="list-inline-item" *ngIf=" number.sale_availability != null"><a>For Sale</a></li>
                </ul>
                </div>
                <div class="thmb_cntnt style3">
                <ul class="icon mb0">
                    <li class="list-inline-item" *ngIf="number[0] != null;else wishlistcontent">
                    <a (click)="Wishlist_remove(number.id)">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </a>
                    </li>
                    <ng-template #wishlistcontent>
                    <li class="list-inline-item">
                        <a (click)="wishlist_added(number.id)">    
                            <i class="fa fa-heart-o" aria-hidden="true"></i>  
                        </a>
                    </li>
                    </ng-template>
                </ul>
                <a *ngIf="number.expected_pricing != null" class="fp_price">₹
                    {{Price_convert(number.expected_pricing)}}<small></small></a>
                <a *ngIf="number.expected_rent != null" class="fp_price">₹ {{
                    Price_convert(number.expected_rent)}}<small></small></a>
                </div>
            </div>
            </ng-template>
        </owl-carousel-o>
        <ng-template #OtherImage>
            <img class="img-whp lazy" alt="No Product Image" style="height: 250px;"
            src="./../../assets/resources/images/no_image_available.jpg">
            <div class="thumb">
            <div class="thmb_cntnt style2">
                <ul class="tag mb0">
                <li class="list-inline-item" *ngIf=" number.rent_availability != null"><a>For Rent</a></li>
                <li class="list-inline-item" *ngIf=" number.sale_availability != null"><a>For Sale</a></li>
                </ul>
            </div>
            <div class="thmb_cntnt style3">
                <ul class="icon mb0">
                <li class="list-inline-item" *ngIf="number[0] != null;else wishlistcontent">
                    <a (click)="Wishlist_remove(number.id)">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </a>
                </li>
                <ng-template #wishlistcontent>
                    <li class="list-inline-item">
                    <a (click)="wishlist_added(number.id)">
                        <i class="fa fa-heart-o" aria-hidden="true"></i> 
                    </a>
                    </li>
                </ng-template>
                </ul>
                <a *ngIf="number.expected_pricing != null" class="fp_price">₹
                {{Price_convert(number.expected_pricing)}}<small></small></a>
                <a *ngIf="number.expected_rent != null" class="fp_price">₹ {{
                Price_convert(number.expected_rent)}}<small></small></a>
            </div>
            </div>
        </ng-template>

        <div class="details">
            <a  (click)="navigate(number.id,number.build_name,number.city)">
            <div class="tc_content">
                <p class="text-thm" *ngIf="number.property__type != null">{{ number.property__type.name |
                titlecase }}</p>
                <h4>{{number.build_name | titlecase}}</h4>
                <p><span class="flaticon-placeholder"></span> {{ number.address | titlecase }}</p>
                <ul class="prop_details mb0">
                <li class="list-inline-item"><a>Beds: {{ number.bedroom }}</a></li>
                <li class="list-inline-item"><a>Baths: {{ number.bathroom }}</a></li>
                <li class="list-inline-item"><a>Area unit: {{ number.area_unit }}</a></li>
                </ul>
            </div>
            </a>
            <div class="fp_footer" id="user_details">
            <ul class="fp_meta float-left mb0">
                <li class="list-inline-item"><a href="#">
                    <img src="./../../assets/resources/images/property/pposter1.png"
                    alt="pposter1.png"></a></li>
                <li class="list-inline-item"><a href="#">{{number.user_detail.name | titlecase}}</a></li>
                <div class="fp_pdate float-right" *ngIf="number.product_comparision==null">
                <button type="button" (click)="product_comp(number.id)"
                    class="btn btn-log btn-block btn-thm bg-white text-black-50">{{number.product_comparision}}Add to compare</button>
                </div>
                <div class="fp_pdate float-right" *ngIf="number.product_comparision !=null">
                <button type="button" class="btn  text-black-50 bucket-btn">Added To Compare</button>
                </div>
            </ul>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="property.data?.length>6">
    <div class="col-lg-12  agent_property">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
</div>