<section class="our-listing bgc-f7 pb30-991">
<!--Breadcrumb-->
<div class="bg-secondary" id="breadcrumb">
    <div class="container-fluid py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">FAQ</li>
            </ol>
        </nav>
        <h2 class="col-custom">Frequently Asked Questions</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="p-5 mb-4 bg-light rounded-3">
            <nav>
                <div class="nav nav-tabs nav-pills with-arrow flex-column flex-sm-row text-center" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-owner-tab" data-bs-toggle="tab" data-bs-target="#nav-owner" type="button" role="tab" aria-controls="nav-owner" aria-selected="true">For Property Owners</button>
                    <button class="nav-link" id="nav-renter-tab" data-bs-toggle="tab" data-bs-target="#nav-renter" type="button" role="tab" aria-controls="nav-renter" aria-selected="false">For Renters</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-owner" role="tabpanel" aria-labelledby="nav-owner-tab">
                    <div class="accordion accordion-flush mt-4" id="faq-accordion">
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel8" aria-expanded="true" aria-controls="panel8">
                                    Can I list properties for free?
                                </button>
                            </h2>
                            <div id="panel8" class="accordion-collapse collapse show" aria-labelledby="faq-h7">
                                <div class="accordion-body">
                                    No we don’t provide any free service. Reasonable plans are available for listing properties.  
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel9" aria-expanded="true" aria-controls="panel9">
                                    What is the commission I need to pay to get renters for my property?
                                </button>
                            </h2>
                            <div id="panel9" class="accordion-collapse collapse" aria-labelledby="faq-h7">
                                <div class="accordion-body">
                                   There  are two types of plans:

                                    <li>Raja – you need to pay 15 days of rent amount as commission.</li>
                                    <li> Maha Raja – you have to pay 20 days of rent amount as commission.</li>
                                    For more details, please refer to the Plans page and calculate commission accordingly.
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel10" aria-expanded="true" aria-controls="panel10">
                                    What is Local area service provider list?
                                </button>
                            </h2>
                            <div id="panel10" class="accordion-collapse collapse" aria-labelledby="faq-h7">
                                <div class="accordion-body">
                                    It is an updated list with contact numbers of electricians, plumbers, painters, cleaners, maids, maintenance people, etc.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel11" aria-expanded="true" aria-controls="panel11">
                                    What is the difference between Advance Payment Plans and Pay Later Plans?
                                </button>
                            </h2>
                            <div id="panel11" class="accordion-collapse collapse" aria-labelledby="faq-h7">
                                <div class="accordion-body">
                                    If you opt for Advance Payment, as available with Maha Raja and Raja Plans you have to pay the commission before you start receiving rent. With the Pay Later Option, as available with the Standard Plan, we deduct the service charge from the rent that the customer pays to Housing Street. The rest of the amount will be transferred to your account.
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel12" aria-expanded="true" aria-controls="panel12">
                                    What does client visit priority mean?
                                </button>
                            </h2>
                            <div id="panel12" class="accordion-collapse collapse" aria-labelledby="faq-h7">
                                <div class="accordion-body">
                                    Those with Maha Raja Plan properties are top priority, followed by Raja and Standard Plans, respectively.
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel13" aria-expanded="true" aria-controls="panel13">
                                    How long does it take to let out property?
                                </button>
                            </h2>
                            <div id="panel13" class="accordion-collapse collapse" aria-labelledby="faq-h7">
                                <div class="accordion-body">
                                    <li>Maha Raja – 30 days and 100% money-back guarantee. If your property is vacated within 5 months, you can let it out up to 3 times without paying any commission.</li>
                                    <li>Raja – 45 days and 100% money-back guarantee. If your property is vacated in 3 months, you can let it out 1 time without paying any commission. </li>
                                    <li>Standard – 60 days.</li>
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel14" aria-expanded="true" aria-controls="panel14">
                                    How will I receive rent? Where will I receive my first rent?
                                </button>
                            </h2>
                            <div id="panel14" class="accordion-collapse collapse" aria-labelledby="faq-h7">
                                <div class="accordion-body">
                                    The rent for the first month will be transferred directly to your bank account. From the next month, you take charge of the transactions. 
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel15" aria-expanded="true" aria-controls="panel15">
                                    Do you verify renters as well?
                                </button>
                            </h2>
                            <div id="panel15" class="accordion-collapse collapse" aria-labelledby="faq-h7">
                                <div class="accordion-body">
                                    No we don’t vet or run background checks on renters. It is the sole responsible of the property owner. 
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel16" aria-expanded="true" aria-controls="panel16">
                                    How do you operate?
                                </button>
                            </h2>
                            <div id="panel16" class="accordion-collapse collapse" aria-labelledby="faq-h7">
                                <div class="accordion-body">
                                    Fill in information about your property – be as specific as possible and make sure not to leave any field blank. The more details you give, the more convenient it is for us to find the ideal renter for you. Please upload photos in HD resolution to give the prospective renter a clear idea regarding your property. Once you fill in all details, we will visit the property to verify it. In case the photos are blurred and grainy, we will arrange for a professional photographer and get good images clicked. After verification, the property is officially listed on our website. The next step is to choose from our plans.
                                    <li>Maha Raja – 30 days to let out and 100% money-back guarantee. If your property is vacated within 5 months, you can let it out up to 3 times without paying any commission.</li> 
                                    <li>Raja – 45 days to let out and 100% money-back guarantee. If your property is vacated in 3 months, you can let it out 1 time without paying any commission.</li>
                                    <li>Standard – 60 days to let out.</li>
                                    Maha Raja and Raja are Advance Payment Plans, where we charge 20 days and 15 days of rent respectively as commission.  Standard is a Pay Later Plan where we deduct a service charge from the rent paid to us by the renter, and then transfer the remaining amount to your bank account. Rent agreement is prepared free of charge for all Plans.
                                    
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h4">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-four" aria-expanded="true" aria-controls="panel-four">
                                    What if a renter wants to vacate a property soon after moving in?
                                </button>
                            </h2>
                            <div id="panel-four" class="accordion-collapse collapse" aria-labelledby="faq-h4">
                                <div class="accordion-body">
                                    You are only charged once the renter moves in. If they vacate the property within 2 to 6 months of moving in, you won't have to pay any commission to start letting it out again.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h5">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-five" aria-expanded="true" aria-controls="panel-five">
                                    How is the rent deposited?
                                </button>
                            </h2>
                            <div id="panel-five" class="accordion-collapse collapse" aria-labelledby="faq-h5">
                                <div class="accordion-body">
                                    The rent of the very first month is deposited directly in your bank account. After that, you can take over the transactions and conduct them as per convenience.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-seven" aria-expanded="true" aria-controls="panel-seven">
                                    How do you ensure the move is seamless?
                                </button>
                            </h2>
                            <div id="panel-seven" class="accordion-collapse collapse" aria-labelledby="faq-h7">
                                <div class="accordion-body">
                                    Local service provider lists are given to both renters and property owners. For the former, it is to ensure they don't have trouble locating a plumber, electrician, or any other handyman after moving in. For property owners, the list is for fixing up
                                    the property before showing it to prospective clients, or after renters have vacated it.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-renter" role="tabpanel" aria-labelledby="nav-renter-tab">
                    <div class="accordion accordion-flush mt-4" id="faq-accordion">
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-renter1" aria-expanded="true" aria-controls="panel-renter1">
                                    What type of properties do you list?
                                </button>
                            </h2>
                            <div id="panel-renter1" class="accordion-collapse collapse show" aria-labelledby="faq-h2">
                                <div class="accordion-body">
                                    We list a wide range of properties starting from 5,000 INR up to 50,000 INR, depending upon your requirements and budget.
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-renter2" aria-expanded="true" aria-controls="panel-renter2">
                                    Are these properties verified?
                                </button>
                            </h2>
                            <div id="panel-renter2" class="accordion-collapse collapse" aria-labelledby="faq-h2">
                                <div class="accordion-body">
                                    Every listing on Housing Street is 100% verified by our officials.
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-renter3" aria-expanded="true" aria-controls="panel-renter3">
                                    Is parking available?
                                </button>
                            </h2>
                            <div id="panel-renter3" class="accordion-collapse collapse" aria-labelledby="faq-h2">
                                <div class="accordion-body">
                                    Availability of parking facilities will be mentioned – please go through the property details carefully.
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-renter4" aria-expanded="true" aria-controls="panel-renter4">
                                    Are there any hidden charges that I am not aware of before signing?
                                </button>
                            </h2>
                            <div id="panel-renter4" class="accordion-collapse collapse" aria-labelledby="faq-h2">
                                <div class="accordion-body">
                                    The breakup of charges such as rent, security deposit, etc. are mentioned clearly, so there are no hidden expenses involved.
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-renter5" aria-expanded="true" aria-controls="panel-renter5">
                                    What types of amenities can I expect at the listed properties?
                                </button>
                            </h2>
                            <div id="panel-renter5" class="accordion-collapse collapse" aria-labelledby="faq-h2">
                                <div class="accordion-body">
                                    Every property is inspected and given a go-ahead for listing only after it meets basic standards of living and comfort. Amenities are listed in detail alongside the particulars of a property, so please check them before you decide to visit. 
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-renter6" aria-expanded="true" aria-controls="panel-renter6">
                                    How much commission does Housing street charge?
                                </button>
                            </h2>
                            <div id="panel-renter6" class="accordion-collapse collapse" aria-labelledby="faq-h2">
                                <div class="accordion-body">
                                    <li>We don't charge any Brokerage or any service fee from Renter/Tenant. Our Service are 100% Free for Tenant/Renter</li>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-renter7" aria-expanded="true" aria-controls="panel-renter7">
                                    When can I move in after making the payment?
                                </button>
                            </h2>
                            <div id="panel-renter7" class="accordion-collapse collapse" aria-labelledby="faq-h2">
                                <div class="accordion-body">
                                    We are in possession of the keys, and have full access to the properties. We will do a walk-through of the property and if everything works out, we take you to our office immediately afterwards. Once you clear the payment, we hand over the keys, and proceed with the remaining paperwork and other formalities.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-renter8" aria-expanded="true" aria-controls="panel-renter8">
                                    How do you operate?
                                </button>
                            </h2>
                            <div id="panel-renter8" class="accordion-collapse collapse" aria-labelledby="faq-h2">
                                <div class="accordion-body">
                                    Go through the property listings on the website, and filter by area and neighborhood to get the best results. Remember that all properties are 100% verified, and meet basic living criteria. Once you zero in on a certain property, get in touch with us to fix an appointment so a Housing Street official can take you on a visit. If you like what you see, the rent meets your budget, and other requirements work out, you are taken to our office so you can clear the payment. Once the transaction is complete, we give you the keys, so you can move in whenever you want. Our team will complete the paperwork and give you the rent agreement.
                                    <li>MahaBachat Plan - 100% Free Service for Renter.</li>
                                    <li>You Only need to pay Rs-300 + 18% GST for Rent Agreement.</li>
                                    <!-- Rent agreement is provided free of charge for both Plans. -->
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-one" aria-expanded="true" aria-controls="panel-one">
                                    How long does it take to find a suitable property via Housing Street?
                                </button>
                            </h2>
                            <div id="panel-one" class="accordion-collapse collapse" aria-labelledby="faq-h1">
                                <div class="accordion-body">
                                    Although we can't guarantee a specific time period, our objective remains to find the best possible property for you in terms of budget and other requirements. As soon as you finalize a property, the process is initiated immediately so it can be handed
                                    over on the very same day.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-two" aria-expanded="true" aria-controls="panel-two">
                                    What is the average rent of a property listed on this website?
                                </button>
                            </h2>
                            <div id="panel-two" class="accordion-collapse collapse" aria-labelledby="faq-h2">
                                <div class="accordion-body">
                                    We list a wide range of properties on our site. Each property is vetted and verified by officials and only then is it listed. The rent of any property depends on various factors such as condition of property, neighborhood, etc.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h3">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-three" aria-expanded="true" aria-controls="panel-three">
                                    Are there hidden charges involved?
                                </button>
                            </h2>
                            <div id="panel-three" class="accordion-collapse collapse" aria-labelledby="faq-h3">
                                <div class="accordion-body">
                                    The breakup of charges such as rent, security deposit, etc. are mentioned clearly, so there are no hidden expenses to be shelled out.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq-h6">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-six" aria-expanded="true" aria-controls="panel-six">
                                    What if I don't like a property after moving in?
                                </button>
                            </h2>
                            <div id="panel-six" class="accordion-collapse collapse" aria-labelledby="faq-h6">
                                <div class="accordion-body">
                                    You have the right to change properties free of cost within 5 months.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>