<!--Breadcrumb-->
<div class="p-5 mb-4 bg-secondary rounded-3 mt100">
    <div class="container-fluid py-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Subscription Plans</li>
            </ol>
        </nav>
        <h2 class="col-custom">Subscription Plans</h2>
    </div>
</div>
<div *ngIf="showLoadingIndicator">
    <div class="preloader"></div>
</div>
<div class="p-4 rounded shadow mb-5">
    <nav>
        <div class="nav nav-tabs nav-pills with-arrow flex-column flex-sm-row text-center" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-rent-tab" data-bs-toggle="tab" data-bs-target="#nav-rent" type="button" role="tab" aria-controls="nav-rent" aria-selected="true">I want to rent
                property</button>
            <button class="nav-link" id="nav-let-out-tab" data-bs-toggle="tab" data-bs-target="#nav-let-out" type="button" role="tab" aria-controls="nav-let-out" aria-selected="false">I want to let out my
                property</button>
            <!-- Sale feature Commented -->
            <!-- <button class="nav-link" id="nav-sell-tab" data-bs-toggle="tab" data-bs-target="#nav-sell" type="button" role="tab" aria-controls="nav-sell" aria-selected="false">I want to sell
                property</button>
            <button class="nav-link" id="nav-buy-tab" data-bs-toggle="tab" data-bs-target="#nav-buy" type="button" role="tab" aria-controls="nav-buy" aria-selected="false">I want to buy
                property</button> -->
            <!-- Sale feature Commented -->
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-rent" role="tabpanel" aria-labelledby="nav-rent-tab">
            <div class="row mt-4 mb-4">
                <div class="col-lg-8">
                    <label for="budget" class="form-label">Select Budget</label>
                    <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
                </div>
                <div class="col-lg-4 pt-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">&#8377;</span>
                        <input type="text" class="form-control" [(ngModel)]="value">
                    </div>
                </div>
            </div>
            <div class="text-center visible-md">
                <h4>Choose from the following plans</h4>
            </div>
            <div class="row mb-3 mt-5 text-center justify-content-center visible-gt-md">
                <div *ngFor="let rent_plan of rent_feat_res" class="col-md-4 mb-5">
                    <div class="card mb-4 rounded-3 shadow-sm border-secondary h-100">
                        <span class="banner" *ngIf="rent_plan.special_tag == 'yes'">Popular</span>
                        <div class="card-header py-3">
                            <h4>{{ rent_plan.plan_name }}</h4>
                            <hr>
                            <div *ngIf="rent_plan.discount == 1">
                                <h4 class="strike_duration">{{ rent_plan.actual_price_days }} Days Rent</h4>
                                <h4 class="discount_price">{{ rent_plan.discount_percentage }} % Off</h4>
                                <h4>{{ rent_plan.discounted_price_days }} Days Rent</h4>
                                <h4>Rs. {{ value / (30 / rent_plan.discounted_price_days) | number: '4.0-0'}}</h4>
                            </div>
                            <div *ngIf="rent_plan.discount == 0">
                                <h4>&nbsp;</h4>
                                <h4>&nbsp;</h4>
                                <h4>{{ rent_plan.actual_price_days }} Days Rent</h4>
                                <h4>Rs. {{ value / (30 / rent_plan.actual_price_days) | number: '4.0-0'}}</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li *ngFor="let rent_plan_feature of rent_plan.features">
                                    <p class="text-muted row1">{{ rent_plan_feature.feature_name }}
                                        <span *ngIf="rent_plan_feature.more_info_status == '1'">
                                            <mat-icon placement="bottom" [ngbPopover]="popoverContent">info</mat-icon>
                                        </span>
                                    </p>
                                    <ng-template #popoverContent>
                                        <div [innerHTML]="rent_plan_feature.more_info.more_info"></div>
                                    </ng-template>
                                    <p class="row2" *ngIf="rent_plan_feature.feature_details === 'yes'">
                                        <span class="checkmark">&#10003;</span>
                                    </p>
                                    <p class="row2" *ngIf="rent_plan_feature.feature_details === 'no'">
                                        <span class="wrong-sym">&#215;</span>
                                    </p>
                                    <p class="row2" *ngIf="rent_plan_feature.feature_details != 'no' && rent_plan_feature.feature_details != 'yes'">
                                        {{ rent_plan_feature.feature_details }}</p>
                                    <hr>
                                </li>
                            </ul>
                            <button class="btn btn-success" (click)="plan_payment(rent_plan.plan_name, rent_plan.id, rent_plan.payment_type, rent_plan.plan_type, value, rent_plan.actual_price_days, rent_plan.discounted_price_days, rent_plan)">Fix
                                Appointment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mt-5 text-center justify-content-center visible-md">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab *ngFor="let rent_plan of rent_feat_res; let index = index" [label]="rent_plan.plan_name">
                        <div class="card mb-4 mt-5 rounded-3 shadow-sm border-secondary h-100">
                            <span class="banner" *ngIf="rent_plan.special_tag == 'yes'">Popular</span>
                            <div class="card-header py-3">
                                <h4>{{ rent_plan.plan_name }}</h4>
                                <hr>
                                <div *ngIf="rent_plan.discount == 1">
                                    <h4 class="strike_duration">{{ rent_plan.actual_price_days }} Days Rent</h4>
                                    <h4 class="discount_price">{{ rent_plan.discount_percentage }} % Off</h4>
                                    <h4>{{ rent_plan.discounted_price_days }} Days Rent</h4>
                                    <h4>Rs. {{ value / (30 / rent_plan.discounted_price_days) | number: '4.0-0'}}</h4>
                                </div>
                                <div *ngIf="rent_plan.discount == 0">
                                    <h4>&nbsp;</h4>
                                    <h4>&nbsp;</h4>
                                    <h4>{{ rent_plan.actual_price_days }} Days Rent</h4>
                                    <h4>Rs. {{ value / (30 / rent_plan.actual_price_days) | number: '4.0-0'}}</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title"></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li *ngFor="let rent_plan_feature of rent_plan.features">
                                        <p class="text-muted row1">{{ rent_plan_feature.feature_name }}
                                            <span *ngIf="rent_plan_feature.more_info_status == '1'">
                                                <mat-icon placement="bottom" [ngbPopover]="popoverContent">info
                                                </mat-icon>
                                            </span>
                                        </p>
                                        <ng-template #popoverContent>
                                            <div [innerHTML]="rent_plan_feature.more_info.more_info"></div>
                                        </ng-template>
                                        <p class="row2" *ngIf="rent_plan_feature.feature_details === 'yes'">
                                            <span class="checkmark">&#10003;</span>
                                        </p>
                                        <p class="row2" *ngIf="rent_plan_feature.feature_details === 'no'">
                                            <span class="wrong-sym">&#215;</span>
                                        </p>
                                        <p class="row2" *ngIf="rent_plan_feature.feature_details != 'no' && rent_plan_feature.feature_details != 'yes'">
                                            {{ rent_plan_feature.feature_details }}</p>
                                        <hr>
                                    </li>
                                </ul>
                                <button class="btn btn-success" (click)="plan_payment(rent_plan.plan_name, rent_plan.id, rent_plan.payment_type, rent_plan.plan_type, value, rent_plan.actual_price_days, rent_plan.discounted_price_days, rent_plan)">Fix
                                    Appointment</button>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-let-out" role="tabpanel" aria-labelledby="nav-let-out-tab">
            <div class="row mt-4 mb-4">
                <div class="col-lg-8">
                    <label for="exp_rent" class="form-label">Select Expected Rent</label>
                    <ngx-slider [(value)]="expected_rent_value" [options]="exp_rent_options"></ngx-slider>
                </div>
                <div class="col-lg-4 pt-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">&#8377;</span>
                        <input type="text" class="form-control" [(ngModel)]="expected_rent_value">
                    </div>
                </div>
            </div>
            <div class="text-center visible-md">
                <h4>Choose from the following plans</h4>
            </div>
            <div class="row mb-3 mt-5 text-center justify-content-center visible-gt-md">
                <div *ngFor="let letout_plan of letout_feat_res" class="col-lg-4 col-md-4 mb-5">
                    <div class="card mb-4 rounded-3 shadow-sm border-secondary h-100">
                        <span class="banner" *ngIf="letout_plan.special_tag == 'yes'">Popular</span>
                        <div class="card-header py-3 h-220">
                            <h4>{{ letout_plan.plan_name }}</h4>
                            <hr>
                            <div *ngIf="letout_plan.discount == 1">
                                <h4 class="strike_duration">{{ letout_plan.actual_price_days }} Days Rent</h4>
                                <h4 class="discount_price">{{ letout_plan.discount_percentage }} % Off</h4>
                                <h4>{{ letout_plan.discounted_price_days }} Days Rent</h4>
                                <h4>Rs. {{ expected_rent_value / (30 / letout_plan.discounted_price_days) | number: '4.0-0'}}
                                </h4>
                            </div>
                            <div *ngIf="letout_plan.discount == 0">
                                <h4></h4>
                                <h4></h4>
                                <h4>{{ letout_plan.actual_price_days }} Days Rent</h4>
                                <h4>Rs. {{ expected_rent_value / (30 / letout_plan.actual_price_days) | number: '4.0-0'}}
                                </h4>
                            </div>
                        </div>
                        <div class="card-body h-100">
                            <h1 class="card-title pricing-card-title"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li *ngFor="let letout_plan_feature of letout_plan.features" class="h-100">
                                    <p class="text-muted row1">{{ letout_plan_feature.feature_name }}
                                        <span *ngIf="letout_plan_feature.more_info_status == '1'">
                                            <mat-icon class="small" placement="bottom-right"
                                                [ngbPopover]="popoverContent">
                                                info</mat-icon>
                                        </span>
                                    </p>
                                    <ng-template #popoverContent>
                                        <div [innerHTML]="letout_plan_feature.more_info.more_info"></div>
                                    </ng-template>
                                    <p class="row2" *ngIf="letout_plan_feature.feature_details === 'yes'">
                                        <span class="checkmark">&#10003;</span>
                                    </p>
                                    <p class="row2" *ngIf="letout_plan_feature.feature_details === 'no'">
                                        <span class="wrong-sym">&#215;</span>
                                    </p>
                                    <p class="row2" *ngIf="letout_plan_feature.feature_details != 'no' && letout_plan_feature.feature_details != 'yes'">
                                        {{ letout_plan_feature.feature_details }}
                                    </p>
                                    <hr>
                                </li>
                            </ul>
                            <a class="btn btn-block btn-success" (click)="plan_payment(letout_plan.plan_name, letout_plan.id, letout_plan.payment_type, letout_plan.plan_type, expected_rent_value, letout_plan.actual_price_days, letout_plan.discounted_price_days, letout_plan)">Select
                                Plan</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mt-5 text-center justify-content-center visible-md">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab *ngFor="let letout_plan of letout_feat_res; let index = index" [label]="letout_plan.plan_name">
                        <div class="card mb-4 mt-5 rounded-3 shadow-sm border-secondary h-100">
                            <span class="banner" *ngIf="letout_plan.special_tag == 'yes'">Popular</span>
                            <div class="card-header py-3 h-220">
                                <h4>{{ letout_plan.plan_name }}</h4>
                                <hr>
                                <div *ngIf="letout_plan.discount == 1">
                                    <h4 class="strike_duration">{{ letout_plan.actual_price_days }} Days Rent</h4>
                                    <h4 class="discount_price">{{ letout_plan.discount_percentage }} % Off</h4>
                                    <h4>{{ letout_plan.discounted_price_days }} Days Rent</h4>
                                    <h4>Rs. {{ expected_rent_value / (30 / letout_plan.discounted_price_days) | number: '4.0-0'}}
                                    </h4>
                                </div>
                                <div *ngIf="letout_plan.discount == 0">
                                    <h4></h4>
                                    <h4></h4>
                                    <h4>{{ letout_plan.actual_price_days }} Days Rent</h4>
                                    <h4>Rs. {{ expected_rent_value / (30 / letout_plan.actual_price_days) | number: '4.0-0'}}
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body h-100">
                                <h1 class="card-title pricing-card-title"></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li *ngFor="let letout_plan_feature of letout_plan.features" class="h-100">
                                        <p class="text-muted row1">{{ letout_plan_feature.feature_name }}
                                            <span *ngIf="letout_plan_feature.more_info_status == '1'">
                                                <mat-icon class="small" placement="bottom-center"
                                                    [ngbPopover]="popoverContent">info</mat-icon>
                                            </span>
                                        </p>
                                        <ng-template #popoverContent>
                                            <div [innerHTML]="letout_plan_feature.more_info.more_info"></div>
                                        </ng-template>
                                        <p class="row2" *ngIf="letout_plan_feature.feature_details === 'yes'">
                                            <span class="checkmark">&#10003;</span>
                                        </p>
                                        <p class="row2" *ngIf="letout_plan_feature.feature_details === 'no'">
                                            <span class="wrong-sym">&#215;</span>
                                        </p>
                                        <p class="row2" *ngIf="letout_plan_feature.feature_details != 'no' && letout_plan_feature.feature_details != 'yes'">
                                            {{ letout_plan_feature.feature_details }}
                                        </p>
                                        <hr>
                                    </li>
                                </ul>
                                <a class="btn btn-block btn-success" (click)="plan_payment(letout_plan.plan_name, letout_plan.id, letout_plan.payment_type, letout_plan.plan_type, expected_rent_value, letout_plan.actual_price_days, letout_plan.discounted_price_days, letout_plan)">Select
                                    Plan</a>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <!-- Sale feature Commented -->
        <!-- <div class="tab-pane fade" id="nav-sell" role="tabpanel" aria-labelledby="nav-sell-tab">
            <div class="container mt20 text-center">
                Coming Soon
            </div>
        </div>
        <div class="tab-pane fade" id="nav-buy" role="tabpanel" aria-labelledby="nav-buy-tab">
            <div class="container mt20 text-center">
                Coming Soon
            </div>
        </div> -->
        <!-- Sale feature Commented -->
    </div>
</div>
<!-- Real Estate Agent -->
<app-real-estate-agent></app-real-estate-agent>