<!--Breadcrumb-->
<div class="bg-secondary mt100">
    <div class="container-fluid py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
            </ol>
        </nav>
        <h2 class="col-custom">Reset Password</h2>
    </div>
</div>
<div *ngIf="showLoadingIndicator">
    <div class="preloader"></div>
</div>
<div class="container py-4">
    <div class="h-100 p-5 bg-light border rounded-3">
        <div class="row" *ngIf="email_form_display">
            <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                <h3 class="text-center">Please enter your Email Address</h3>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Email</span>
                            <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" name="email" required>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email is invalid</div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-danger text-center mt-4" role="alert" *ngIf="submitted && !this.isEmailRegistered">
                <p><strong>This Email address is not registered with us.</strong></p>
            </div>
        </div>
        <div class="row text-center" *ngIf="email_display">
            <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                <div class="row">
                    <p>An OTP will be sent to the following Email Address</p>
                    <p>{{ user_email }}</p>
                </div>
                <div class="row text-center">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary" (click)="proceed_verify_email()">Proceed</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" *ngIf="mobile_number_display">
            <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                <div class="row">
                    <p>An OTP will be sent to the following Mobile Number</p>
                    <p>{{ mobile_slice }}</p>
                </div>
                <div class="row text-center">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary" (click)="proceed_verify()">Proceed</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form [formGroup]="otpForm" *ngIf="display_otp_form" (ngSubmit)="onSubmitotp()" novalidate>
                <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                    <div class="row">
                        <p class="text-secondary-50 mb-5">Enter OTP</p>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="mobile_number">OTP</span>
                            <input type="text" class="form-control" autocomplete="off" formControlName="otp_password" minlength="6" [ngClass]="{ 'is-invalid': otp_submitted && g.otp_password.errors }" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="alert alert-danger" role="alert" *ngIf="otp_submitted && g.otp_password.invalid">
                            <div *ngIf="g.otp_password.errors?.required">OTP is required
                            </div>
                            <div *ngIf="g.otp_password.errors?.minlength">
                                OTP must be 6 digits
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <button class="btn btn-thm px-5" type="submit">Verify</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="alert alert-danger text-center mt-4" role="alert" *ngIf="otp_submitted && isFailedVerify_otp">
                            <div *ngIf="errorMessage">
                                <p><strong>Verification failed.</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" *ngIf="showPasswordForm">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
                <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">New Password</span>
                            <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': pwd_submitted && p.password.errors }" name="password" minlength="6" required>
                            <div *ngIf="submitted && p.password.errors" class="invalid-feedback">
                                <div *ngIf="p.password.errors.required">Password is required</div>
                                <div *ngIf="p.password.errors.minlength">
                                    Password must be at least 6 characters
                                </div>
                                <div *ngIf="p.password.errors.maxlength">
                                    Password must not exceed 40 characters
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Confirm Password</span>
                            <input type="password" class="form-control" formControlName="cpassword" [ngClass]="{ 'is-invalid': pwd_submitted && p.cpassword.errors }" name="cpassword" minlength="6" required>
                            <div *ngIf="submitted && p.cpassword.errors" class="invalid-feedback">
                                <div *ngIf="p.cpassword.errors.required">
                                    Confirm Password is required
                                </div>
                                <div *ngIf="p.cpassword.errors.confirmedValidator">
                                    Confirm Password does not match
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary text-center">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- OTP sent to Email -->
        <div class="row">
            <form [formGroup]="otpEmailForm" *ngIf="display_otp_email_form" (ngSubmit)="onSubmitotp_email()" novalidate>
                <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                    <div class="row">
                        <p class="text-secondary-50 mb-5">Enter OTP</p>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="mobile_number">OTP</span>
                            <input type="text" class="form-control" autocomplete="off" formControlName="otp_password" minlength="6" [ngClass]="{ 'is-invalid': otp_submitted && e.otp_password.errors }" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="alert alert-danger" role="alert" *ngIf="e_otp_submitted && e.otp_password.invalid">
                            <div *ngIf="e.otp_password.errors?.required">OTP is required
                            </div>
                            <div *ngIf="e.otp_password.errors?.minlength">
                                OTP must be 6 digits
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <button class="btn btn-thm px-5" type="submit">Verify</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="alert alert-danger text-center mt-4" role="alert" *ngIf="e_otp_submitted && isFailedVerify_otp_email">
                            <div *ngIf="errorMessage">
                                <p><strong>Verification failed.</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" *ngIf="reset_success">
            <p>Password Reset Successful</p>
            <p>Please login <a class="page_links" [routerLink]="['/login']">Login</a></p>
        </div>
    </div>
</div>