<div class="wrapper">
    <div class="bg-secondary">
        <div class="container-fluid py-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mobile-verify-success</li>
                </ol>
            </nav>
            <h2 class="col-custom">Mobile-verify-success</h2>
        </div>
    </div>
    <section class="our-contact pb0 bgc-f7">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                <h2>Thank You!</h2>
                <h3>Your Mobile Number has verified Successfully.</h3>>
                <span id="heading_redirect">Redirecting in: </span>  <countdown [config]="config"></countdown><span id="heading_redirect"> sec</span>                  
            </div>
        </div>
    </div>
    </section>
</div>