<div class="wrapper">
    <div class="container mt20">
        <div class="row">
            <div class="col-lg-12  col-12">
                <div class="row preloader_row" *ngIf="showLoadingIndicator == true">
                    <div class="col-lg-12">
                        <div class="preloader"></div>
                    </div>
                </div>
                <div class="my_dashboard_review" *ngIf="showLoadingIndicator == false">
                    <div class="property_table">
                        <div class="table-responsive mt0">
                            <span class="status_tag badge">All User Bank ({{user_bank_length}})</span>
                            <table class="table table-striped  text-center">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col heading">User</th>
                                        <th scope="col">Account No</th>
                                        <th scope="col">IFSC Code</th>
                                        <th scope="col">Paytm verify</th>
                                        <th scope="col">Action On</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr  *ngFor="let data of user_bank_details?.data | paginate:{itemsPerPage:5, currentPage:p} ">
                                        <td>{{data?.account_holder}}</td>
                                        <td>{{data?.bank_acount_no}}</td>
                                        <td>{{data?.ifsc_code}}</td>
                                        <td>
                                            <span *ngIf="data?.account_paytm_verify_id != null">{{data?.account_paytm_verify_id}}</span>
                                            <span *ngIf="data?.account_paytm_verify_id == null">
                                                <p class="text-danger">Paytm  id is not Verify</p>
                                            </span>
                                        </td>
                                        <td>
                                            <ul class="view_edit_delete_list mb0">
                                                <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <a (click)="update_bank_details(data?.account_holder,data?.bank_acount_no,data?.ifsc_code,data?.account_paytm_verify_id,data?.other_mobile_number,data?.id)"><span class="flaticon-edit"></span></a>
                                                </li>
                                                <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <a (click)="delete_user_bank(data?.id)"><span class="flaticon-garbage"></span></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-lg-12 agent_property " *ngIf="user_bank_details?.data?.length>5 && showLoadingIndicator==false">
                            <pagination-controls (pageChange)="p=$event"></pagination-controls>
                            </div>
                            <div class="col-lg-12"  *ngIf="user_bank_length==0 && showLoadingIndicator==false">
                                <h3>No Data Availabe</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>