.status_tag {
    background-color: #ff5a5f!important;
}

.details .tc_content {
    text-align: left!important;
}
.btn-success{
    font-size: 14px;
}
.container1{
    padding-top: 120px!important;
}
.thead-light tr .heading {
    text-align: left!important;
}

#Mymodal .modal-header{
    flex-direction: row-reverse!important;
}
.flaticon-edit {
    color: #0d6efd;
    font-size: 20px;
    cursor: pointer!important;
}

.flaticon-view {
    color: #0d6efd;
    font-size: 20px;
    cursor: pointer!important;
}
.showLoadingIndicator_popup{
    height:250px;
}

.flaticon-garbage {
    color: #ff0000!important;
    font-size: 20px;
    cursor: pointer!important;
}

.preloader_row {
    position: relative;
    width: 100%;
    height: 150px;
}

.disabled_text h4 {
    color: red !important;
}

.enabled_text h4 {
    color: green !important;
}

.mat-raised-button.mat-primary {
    background-color: #888;
    border: 1px solid #ff5a5f;
}

.disabled_text {
    text-align: left;
}

.enabled_text {
    text-align: left;
}

.checkmark {
    color: #00D100;
}

@media(max-width: 768px) {
    .feat_property {
        width: 150px!important;
        height: 210px!important;
    }
    .feat_property .thumb img {
        height: 150px!important;
    }
    .property_table .table td,
    .property_table .table th {
        line-height: 24px!important;
    }
    .agent_property {
        padding: 0px!important;
    }
    .feat_property.list .details {
        width: 100%!important;
    }
    .hidden-xs {
        display: none!important;
    }
    .my_dashboard_review {
        margin: 12px 0px!important;
    }
    .status_tag {
        font-size: 16px!important;
        letter-spacing: 1.2px!important;
    }
}