<div class="wrapper">
    <div class="container container1 mt20">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-dark" role="alert">
                    {{product_length+this.draft_pro_length}} Listing Properties
                </div>
            </div>
        </div>
       <div class="row" *ngIf="product_length1==0 && showLoadingIndicator == true" >
        <div class="col-lg-12">
            <div class="preloader"></div>
        </div>
    </div>
        <div class="row" *ngIf="product_length1==0 && showLoadingIndicator == false && showLoadingIndicator_draft == false" >
            <div class="col-lg-12">
                <h3>No Property this Account</h3>
            </div>
        </div>
        <div class="row" *ngIf="product_length>0">
            <div class="col-lg-12">
                <div class="my_dashboard_review">
                    <div class="property_table">
                        <div class="table-responsive mt0">
                            <span class="status_tag badge">My Property({{product_length}})</span>
                            <table class="table text-center">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col heading">Listing Title</th>
                                        <th scope="col">Date published</th>
                                        <th scope="col">Views</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let property of agentproperty?.data?.data">
                                    <tr>
                                    <td id="wrapper_class">
                                        <div class="feat_property list favorite_page style2">
                                        <div class="thumb" *ngIf="property?.enabled == 'yes' && property?.order_status == '0'"  (click)="sub_navigate(property.id,property.build_name)">
                                            <img class="img-whp" *ngIf="property.product_img.length>0;else OtherImage"
                                            src="{{ftpstring}}{{property.product_img[0].image}}" alt="fp1.jpg">
                                            <ng-template #OtherImage>
                                            <img class="img-whp" src="./../../assets/resources/images/no_image_available.jpg"
                                                alt="No Product Image">
                                            </ng-template>
                                            <div class="thmb_cntnt">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item dn"></li>
                                                <li class="list-inline-item" *ngIf=" property.rent_availability  != null"><a>For
                                                    Rent</a></li>
                                                <li class="list-inline-item" *ngIf=" property.sale_availability  != null"><a>For
                                                    Sale</a></li>
                                            </ul>
                                            </div>
                                        </div>
                                        <div class="thumb" *ngIf="property?.enabled == 'yes' && property?.order_status == '1'"  (click)="product_preview(property.id,property.build_name)">
                                            <img class="img-whp" *ngIf="property.product_img.length>0;else OtherImage"
                                            src="{{ftpstring}}{{property.product_img[0].image}}" alt="fp1.jpg">
                                            <ng-template #OtherImage>
                                            <img class="img-whp" src="./../../assets/resources/images/no_image_available.jpg"
                                                alt="No Product Image">
                                            </ng-template>
                                            <div class="thmb_cntnt">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item dn"></li>
                                                <li class="list-inline-item" *ngIf=" property.rent_availability  != null"><a>For
                                                    Rent</a></li>
                                                <li class="list-inline-item" *ngIf=" property.sale_availability  != null"><a>For
                                                    Sale</a></li>
                                            </ul>
                                            </div>
                                        </div>
                                        <div class="thumb" *ngIf="property?.enabled == 'no' && property?.order_status == '0'"  (click)="live_navigate()">
                                            <img class="img-whp" *ngIf="property.product_img.length>0;else OtherImage"
                                            src="{{ftpstring}}{{property.product_img[0].image}}" alt="fp1.jpg">
                                            <ng-template #OtherImage>
                                            <img class="img-whp" src="./../../assets/resources/images/no_image_available.jpg"
                                                alt="No Product Image">
                                            </ng-template>
                                            <div class="thmb_cntnt">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item dn"></li>
                                                <li class="list-inline-item" *ngIf=" property.rent_availability  != null"><a>For
                                                    Rent</a></li>
                                                <li class="list-inline-item" *ngIf=" property.sale_availability  != null"><a>For
                                                    Sale</a></li>
                                            </ul>
                                            </div>
                                        </div>
                                        <div class="details" >
                                            <div class="tc_content">
                                            <h4>{{ property.build_name | titlecase}}</h4>
                                            <p class="hidden-xs hidden-sm"  *ngIf="property.address"><span class="flaticon-placeholder"></span>{{ property.address | titlecase }}</p>
                                            <a class="fp_price text-thm" *ngIf="property.expected_pricing != null">₹
                                                {{price_comma(property.expected_pricing) }}<small></small></a>
                                            <a class="fp_price text-thm" *ngIf="property.expected_rent != null">₹
                                                {{price_comma(property.expected_rent) }}<small></small></a>
                                            </div>
                                        </div>
                                        </div>
                                    </td>
                                        <td>{{ property.created_at | date: 'MMM d, y, h:mm:ss a' }}</td>
                                        <td>{{ property.view_counter }}</td>
                                        <td>
                                            <ul class="view_edit_delete_list mb0">
                                            <!-- <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Edit"
                                                *ngIf=" property.sale_availability  != null">
                                                <a (click)="navigate_sales(property.id)"><span class="flaticon-edit"></span></a>
                                            </li> -->
                                            <li class="list-inline-item " data-toggle="tooltip" data-placement="top" title="Edit"
                                                *ngIf=" property.rent_availability  != null && property?.order_status == '0'">
                                                <a (click)="navigate_rent(property.id)"><span class="flaticon-edit"></span></a>
                                            </li>
                                            
                                            <li class="list-inline-item " data-toggle="tooltip" data-placement="top" title="View Property"
                                                *ngIf=" property.rent_availability  != null && property?.order_status == '1'">
                                                <a (click)="product_preview(property?.id,property?.build_name)"><span class="flaticon-view"></span></a>
                                            </li>
                                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Delete" *ngIf="property?.enabled != 'yes'">
                                                <a (click)="delete_property(property.id)"><span class="flaticon-garbage"></span></a>
                                            </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr *ngIf="property?.enabled == 'no' && property.rent_availability == '1'">
                                      <td class="disabled_text" colspan="2">
                                        <h4>Your property is not live</h4>
                                      </td>
                                      <td colspan="2">
                                        <button mat-raised-button color="primary" (click)="checkCredits(property.product_uid, property.expected_rent)">
                                          Make your property Live
                                        </button>
                                      </td>
                                    </tr>
                                    <tr *ngIf="property?.enabled == 'yes'">
                                      <td class="enabled_text" colspan="2">
                                        <h4  *ngIf="property?.order_status == '0'"><span class="checkmark"><strong>&#10004;</strong></span> Your property is live</h4>
                                        <h4  *ngIf="property?.order_status == '1'"><span class="checkmark"><strong>&#10004;</strong></span> Your property is Rentout</h4>
                                      </td>
                                      <td class="enabled_text" colspan="2">
                                       
                                        <!-- <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#Mymodal" (click)="property_rent_slip(property.id)">
                                           Property Rent Slip
                                          </button> -->
                                          <button class="btn btn-success" *ngIf="property?.order_status == 1" (click)="rentslip(property.id)"> Property Rent Slip </button>
                                          <button class="btn btn-warning" *ngIf="property?.order_status == 0" (click)="rentslip(property.id)"> Property Rent Slip </button>
                                           <!-- <button type="button" class="btn btn-success" *ngIf="data.payment_received != 'Pending'" data-bs-toggle="modal" data-bs-target="#Mymodal" (click)="confirmation_modal(data.invoice_no)" > </button>-->
                               
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div class="col-lg-12 agent_property " *ngIf="product_length>2">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div> -->
                            
                            <div class="mbp_pagination" *ngIf="product_length>0">
                                <!-- {{user_bank_details.links | json}} -->
                                <ul class="page_navigation">
                                    <li class="page-item" *ngFor="let link of agentproperty.data.links; index as i" [ngClass]="{'active' : link.active == true, 'disabled' : link.url == null}">
                                        <button type="button" (click)="gotoPage(link.url)" class="page-link">
                                            <span
                                                *ngIf="link.label.indexOf('Previous') == -1 && link.label.indexOf('Next') == -1"
                                                [innerHTML]="link.label"></span>
                                            <span *ngIf="link.label.indexOf('Previous') > -1"
                                                class="flaticon-left-arrow"></span>
                                            <span *ngIf="link.label.indexOf('Next') > -1"
                                                class="flaticon-right-arrow"></span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" *ngIf="draft_pro_length>0">
            <div class="col-lg-12">
                <div class="my_dashboard_review">
                    <div class="property_table">
                        <div class="table-responsive mt0">
                            <span class="status_tag badge">Draft Property({{draft_pro_length}})</span>
                            <table class="table text-center">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col heading">Listing Title</th>
                                        <th scope="col">Date published</th>
                                        <th scope="col">Views</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody  *ngFor="let property of draftproperty?.data?.data">
                                    <tr *ngIf="showLoadingIndicator_draft == false" >
                                    <td id="wrapper_class">
                                        <div class="feat_property list favorite_page style2">
                                        <div class="thumb">
                                            <img class="img-whp" *ngIf="property.product_img.length>0;else OtherImage"
                                            src="{{ftpstring}}{{property.product_img[0].image}}" alt="fp1.jpg">
                                            <ng-template #OtherImage>
                                            <img class="img-whp" src="./../../assets/resources/images/no_image_available.jpg"
                                                alt="No Product Image">
                                            </ng-template>
                                            <div class="thmb_cntnt">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item dn"></li>
                                                <li class="list-inline-item" *ngIf=" property.rent_availability  != null"><a>For
                                                    Rent</a></li>
                                                <li class="list-inline-item" *ngIf=" property.sale_availability  != null"><a>For
                                                    Sale</a></li>
                                            </ul>
                                            </div>
                                        </div>
                                        <div class="details">
                                            <div class="tc_content">
                                            <h4 *ngIf="property.build_name != null">{{ property.build_name | titlecase}}</h4>
                                            <p class="hidden-xs hidden-sm" *ngIf="property.address"><span class="flaticon-placeholder"></span>{{ property.address | titlecase }}</p>
                                            <a class="fp_price text-thm" *ngIf="property.expected_pricing != null">₹
                                                {{price_comma(property.expected_pricing) }}<small></small></a>
                                            <a class="fp_price text-thm" *ngIf="property.expected_rent != null">₹
                                                {{price_comma(property.expected_rent) }}<small></small></a>
                                            </div>
                                        </div>
                                        </div>
                                    </td>
                                        <td>{{ property.created_at | date: 'MMM d, y, h:mm:ss a' }}</td>
                                        <td>{{ property.view_counter }}</td>
                                        <td>
                                            <ul class="view_edit_delete_list mb0">
                                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Edit"
                                                *ngIf=" property.sale_availability  != null">
                                                <a (click)="navigate_sales(property.id)"><span class="flaticon-edit"></span></a>
                                            </li>
                                            <li class="list-inline-item " data-toggle="tooltip" data-placement="top" title="Edit"
                                                *ngIf=" property.rent_availability  != null">
                                                <a (click)="navigate_rent(property.id)"><span class="flaticon-edit"></span></a>
                                            </li>
                                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <a (click)="delete_draft(property.id)"><span class="flaticon-garbage"></span></a>
                                            </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    
                                    <tr *ngIf="property?.enabled == 'no' && showLoadingIndicator_draft == false" >
                                        <td class="disabled_text" colspan="4">
                                          <h4 class="text-warning">Your property is Draft Mode</h4>
                                        </td>
                                      </tr>
                                </tbody>
                                <tbody >
                                    <tr  class="preloader_row" *ngIf="showLoadingIndicator_draft == true"> 
                                         <div class="preloader"></div>
                                    </tr>
                                </tbody>
                            </table>                            
                            <div class="mbp_pagination" *ngIf="draft_pro_length>0">
                                <!-- {{user_bank_details.links | json}} -->
                                <ul class="page_navigation">
                                    <li class="page-item" *ngFor="let link of draftproperty.data.links; index as i" [ngClass]="{'active' : link.active == true, 'disabled' : link.url == null}">
                                        <button type="button" (click)="gotoPage_draft(link.url)" class="page-link">
                                            <span
                                                *ngIf="link.label.indexOf('Previous') == -1 && link.label.indexOf('Next') == -1"
                                                [innerHTML]="link.label"></span>
                                            <span *ngIf="link.label.indexOf('Previous') > -1"
                                                class="flaticon-left-arrow"></span>
                                            <span *ngIf="link.label.indexOf('Next') > -1"
                                                class="flaticon-right-arrow"></span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- .modal -->
<div class="modal fade" id="Mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">
                    &times;
                </button> 
                <h4 class="modal-title">
                  {{property_name}} (Rent Slip)
                </h4>                                                             
            </div> 
            <div class="modal-body" id="htmlData">
                <div class="row showLoadingIndicator_popup" *ngIf="showLoadingIndicator_popup == true">
                    |<div class="col-12">
                        <div class="preloader"></div>
                    </div>
                </div>
                <div class="row" *ngIf="showLoadingIndicator_popup == false">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Invoice No:</th>
                                    <td>{{invoice_no}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Plan Name:</th>
                                    <td>{{plan_name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Plan Type:</th>
                                    <td>{{plan_type}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Plan Price:</th>
                                    <td>{{plan_price}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Property Price:</th>
                                    <td>{{product_price}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Difference Amount:</th>
                                    <td>{{different_price}}</td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>   
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Cancle
                </button>
                <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >
                    Confirm
                </button>                                  -->
                
            <button class="btn btn-primary" (click)="generatePDF()">Generate PDF</button>
            </div>
        </div>                                                                       
    </div>                                      
</div>
