<div class="wrapper">
    <div class="bg-secondary">
        <div class="container-fluid py-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Fixed-Appointment</li>
                </ol>
            </nav>
            <h2 class="col-custom">Fixed-Appointment</h2>
        </div>
    </div>
    <section class="our-contact pb0 bgc-f7">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                <h2>Fix Appointment</h2>
                <h3>Your appointment has been fixed.</h3>
                <h5>You will receive a callback from us shortly.</h5>
                <div  class="row d-flex justify-content-end align-items-center">
                    <div class="col-lg-2 col-6">
                        <button type="button" class="btn btn-secondary" routerLink="/">Home</button>
                    </div>
                    <div class="col-lg-2 col-6">
                        <button type="button" class="btn btn-primary" (click)="navigate()">Go Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>