@media(max-width: 768px) { 
    .bg-secondary {
        padding: 2rem 3rem 2rem 3rem!important;
    }
}
.loader_class{
    position: relative;
    height:50vh!important;
}
.fa{
    font-size: 24px!important;
}