<!-- <app-guest-header></app-guest-header>
<router-outlet></router-outlet>
<app-guest-footer></app-guest-footer> -->

<!-- <mat-sidenav-container id="deshtop_viewed">
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-guest-header (sidenavToggle)="sidenav.toggle()"></app-guest-header>
        <router-outlet></router-outlet>
        <app-guest-footer></app-guest-footer>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <span id="mobile_viewed"> -->
    <!-- <mat-sidenav-container> -->
        <mat-sidenav #sidenav role="navigation" (sidenavClose)="sidenav.close()" id="main_sidebar">
            <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
        </mat-sidenav>
        <!-- </mat-sidenav-container> -->
        <!-- </span> -->
<app-guest-header (sidenavToggle)="sidenav.toggle()"></app-guest-header>
<app-offer-banner></app-offer-banner>
        <router-outlet (sidenavClose)="sidenav.close()"></router-outlet>
<app-guest-footer></app-guest-footer>
<!-- </span> -->