
@media(min-width: 768px) {

    .preloader{
        height: 650px!important;
    }
    .bg-secondary {
        padding: 8rem 3rem 1rem 3rem!important;
    }
    section{
        padding: 60px 0px!important;
        color: #fff!important;
    }
    
    
}

#dropdownerror{
    font-size: 16px!important;
    font-weight: 600;
    padding: 5px 10px!important;
    background-color: #fff;
    color: #dc3545;
    margin-left: 10px;
  }
  #stars{
      border:1px solid #dee2e6!important;
      width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  label.star{
      padding:0px 12px!important;
  }
  .btn-primary{
      width: 100%!important;
  }
@media only screen and (max-width: 768px) {
    .bg-secondary {
        padding: 5rem 3rem 0rem 3rem!important;
    }
    
   
}
.col-lg-10{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background: #fff;
    text-align: center;
    padding: 25px 0px;
}
.col-lg-8 h2,h5{
    border-bottom: 1px solid #dee2e6!important;
    margin-bottom: 15px!important;
}
.col-lg-8 h5{
    padding: 15px 0px!important;
}