<div>    
    <div class="modal-header">
        <h5 class="modal-title"><div>{{email}}</div>
            ({{mobile}})</h5>
        <button type="button" class="close" data-bs-dismiss="modal" (click)="closeModal('dismiss')" >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped  text-center">
                <thead>
                    <!-- <th>Acconut Holder</th>
                    <th>Mobile No</th> -->
                    <th>Account No</th>
                    <th>IFSC Code</th>
                    <th>Updateed At</th>
                </thead>
                <tbody >
                    <tr *ngFor="let data of user_bank_details?.data"> 
                        <!-- <td>{{data?.account_holder}}</td>
                        <td>{{data?.mobile_no}}</td> -->
                        <td>{{data?.bank_acount_no}}</td>
                        <td>{{data?.ifsc_code}}</td>
                        <td>{{ data?.updated_at | date: 'MMM d y h:mm:ss a' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" >Update Details</button>
    </div> -->
</div>