<div class="wrapper">
    <div class="p-5 bg-secondary rounded-3">
        <div class="container-fluid py-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Intellectual Property Disclaimer</li>
                </ol>
            </nav>
            <h2 class="col-custom"> Intellectual Property Disclaimer</h2>
        </div>
    </div> 

    <!-- Our Terms & Conditions -->
    <section class="our-terms bgc-f7">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12">
                    <div class="terms_condition_grid">
                        <div class="grids mb30">
                            <h2 class="text-center"><b>IP Disclaimer</b></h2>
                            <!--<ol class="mt35">-->
                            <!-- <li>-->
                            <h3><b>1. Intellectual Property</b></h3>
                            <p>Housingstreet Marketing and Consulting Private Limited ('<b>Owner</b>') is the owner
                                of this website 'www.housingstreet.com' and any related applications (together the
                                '<b>Platform</b>'). The Owner reserves all rights, including intellectual property
                                rights, in the Platform or any part thereof worldwide, across all modes, media, and
                                platforms.</p>
                            <ol class="ml-4">
                                <li>
                                    <p>a. <b>Copyright:</b> All content (including text, images, trademarks,
                                        illustrations, designs, graphics and arrangements) available on the Owner’s
                                        Platform, is protected by copyright, trade secret, and other intellectual
                                        property laws and treaties. All materials on the Platform are © <i>2021
                                            Housingstreet Marketing and Consulting Private Limited</i>. You are not
                                        given any rights or licences in or to any of the Platform’s content under
                                        any copyright or other intellectual property right. You may not reprint or
                                        create a hypertext link or frame to any content given on our Platform
                                        without the prior written authorization of the Owner. You are not entitled
                                        to incorporate any element of our Platform, in whole or in part, on any
                                        other websites, programmes, or by any other means without the prior written
                                        authorization of the Owner.</p>
                                </li>
                                <li>
                                    <p>b. <b>Trademark:</b> All rights, title, and interest in the trademarks
                                        'Housing Street', 'Housingstreet.com' and <img class="logo-img"
                                            src="../../assets/resources/images/header-logo2.png" alt="Logo"> are owned and controlled
                                        solely by the Owner. Any trademark or other intellectual property right in
                                        any content available on our Platform, whether owned or licenced, is not
                                        granted to you. Without the Owner's prior written approval, you may not use
                                        our trademark. Intellectual property rights protect parts of the Platform
                                        that are trademarked or otherwise protected. It is forbidden to include any
                                        element of our Platform, in whole or in part, into any other websites,
                                        programmes, or by any other means without the prior written authorization of
                                        the Owner.</p>
                                </li>
                            </ol>
                            <!--</li>-->
                            <!--<li>-->

                            <!--</li>-->
                            <!--<li>-->

                            <!--</li>-->
                            <!--<li>-->

                            <!--</li>-->
                            <!--</ol>-->
                        </div>
                        <div class="grids mb30">
                            <h3><b>2. Liability</b></h3>
                            <ol>
                                <li>
                                    <p>a. The Owner has arranged the contents of the Platform with care, taking into
                                        account their current state of knowledge. The user's access to and use of
                                        the Platform, as well as any other websites or applications linked to or
                                        from it, is entirely at their own risk and responsibility. Damages and
                                        warranty claims arising from the absence or inaccuracy of data are expressly
                                        excluded. The Owner disclaims all responsibility and liability for damages
                                        of any kind, including indirect or consequential damages, resulting from
                                        access to or use of this website or other websites linked to or from it.</p>
                                </li>
                                <li>
                                    <p>b. The Platform may include links to third-party websites. The Owner
                                        disclaims all liability for the content of such external websites.</p>
                                </li>
                            </ol>
                        </div>
                        <div class="grids mb30">
                            <h3><b>3. Claim for Infringement Policy</b></h3>
                            <p>Upon receipt of a notice, we shall examine all allegations of intellectual property
                                infringement relating to our Platform's content in line with applicable intellectual
                                property laws. Please submit the following information to report an alleged
                                copyright infringement:</p>
                            <ol class="ml-4">
                                <li>
                                    <p>a. A copy of the allegedly infringed work;</p>
                                </li>
                                <li>
                                    <p>b. A physical or electronic copy of proof proving that the person alleging
                                        infringement is the copyright owner or his or her authorised representative;
                                    </p>
                                </li>
                                <li>
                                    <p>c. A link to and description of the allegedly infringing material's presence
                                        on our Platform;</p>
                                </li>
                                <li>
                                    <p>d. An affidavit from you saying that you made the report in good faith and
                                        that you believe the copyright owner has not permitted us to use the
                                        copyrighted material;</p>
                                </li>
                                <li>
                                    <p>e. An affidavit signed by you under penalty of perjury stating that all
                                        information in the notice is correct and that you are the copyright owner or
                                        the copyright owner's authorised representative.</p>
                                </li>
                            </ol>
                        </div>
                        <div class="grids mb30">
                            The following email address can be used to contact us: <a class="page_links" href="mailto:legal@housingstreet.com">legal@housingstreet.com</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Real Estate Agent -->
    <app-real-estate-agent></app-real-estate-agent>  
 </div>  