<section class="home-one home1-overlay home1_bgi1">
    <div class="container">
        <div class="row posr">
            <div class="col-lg-12">
                <div class="home_content">
                    <div class="home-text text-center">
                        <h2 class="fz55">A Street to Dream Home</h2>
                        <p class="fz18 color-white">Hamaara Sapna Ghar Ho Sabka Apna Apna</p>
                    </div>
                    <div class="home_adv_srch_opt">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item m-auto" (click)="rent_price_fun()">
                                <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rent</a>
                            </li>
                            <!-- Sale feature Commented -->
                            <!-- <li class="nav-item" (click)="buyyer_price_fun()">
                                <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab" aria-controls="pills-profile" aria-selected="false">Buy</a>
                            </li> -->
                            <!-- Sale feature Commented -->
                        </ul>
                        <div class="tab-content home1_adsrchfrm" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <form [formGroup]="searchForm" class="home1-advnc-search" action="#" name="searchHome" id="searchhome" #searchhome="ngForm">
                                    <div class="home1-advnc-search">
                                        <ul class="h1ads_1st_list mb0">
                                            <!-- <li class="list-inline-item">
                                                <div class="form-group">
                                                    <input type="text" class="form-control input-text" name="name" formControlName="build_name" id="build_name" placeholder="Enter keywords...">
                                                </div>
                                            </li> -->
                                            <li class="list-inline-item li_list">
                                                <div class="search_option_two">
                                                    <div class="candidate_revew_select">
                                                        <select class="form-select h50" name="type" id="type" formControlName="city">
                                                            <option value="Delhi" selected>Delhi</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- <li class="list-inline-item">
                                                <div class="search_option_two">
                                                    <div class="candidate_revew_select">
                                                        <input type="hidden" class="form-control" id="search_type" name="search_type" formControlName="search_type">
                                                       <select class="form-select h50" name="type" formControlName="type" id="type">
                                                            <option value ="" selected>Select Property Type</option>
                                                            <option  *ngFor="let properrt_category of category?.data" [value]="properrt_category.category" >{{properrt_category.category}}</option>
                                                    </select>
                                                    </div>
                                                </div>
                                            </li> -->
                                            <li class="list-inline-item locality_list">
                                                <div class="search_option_two form-group">
                                                    <input class="w100 form-control" type="text" placeholder="Search locality/Sub-locality" matInput aria-label="Number" formControlName="locality_data" [matAutocomplete]="auto" (ngModelChange)="get_locality($event)" (keypress)="alphaNumberOnly($event)" (paste)="onPaste($event)">
                                                    <mat-autocomplete #auto="matAutocomplete"> 
                                                        <mat-option *ngFor="let area of filteredOptions | async" [value]="area.item_text" (onSelectionChange)="selected_locality(area.item_text)">
                                                            {{area.item_text}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </div>
                                            </li>
                                            <!-- <li class="list-inline-item">
                                                <div class="form-group">
                                                    <input #search autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="location" type="search" class="form-control input-text" placeholder="Enter Location..." />
                                                    <label for="exampleInputEmail"><span
                                                        class="flaticon-maps-and-flags"></span></label>
                                                </div>
                                            </li> -->
                                            <!-- <li class="list-inline-item" *ngIf="rent_range_slider== true">
                                                <div class="small_dropdown2">
                                                    <div id="prncgs" class="btn dd_btn1">
                                                        <ngx-slider [options]="options" formControlName="sliderControl"></ngx-slider>
                                                    </div>
                                                </div>
                                            </li> -->
                                            <!-- Sale feature Commented -->
                                            <!-- <li class="list-inline-item" *ngIf="buyyer_range_slider== true">
                                                <div class="small_dropdown2">
                                                    <div id="prncgs" class="btn dd_btn1">
                                                        <ngx-slider [options]="options_sales" formControlName="sliderControl"></ngx-slider>
                                                    </div>
                                                </div>
                                            </li> -->
                                            <!-- Sale feature Commented -->
                                            <!-- <li class="custome_fields_520 list-inline-item">
                                                <a class="btn" data-bs-toggle="collapse" data-bs-target="#amenities_collapse" role="button" aria-expanded="false" aria-controls="amenities_collapse">
                                                Advanced <i class="fa fa-angle-down"></i>
                                            </a>
                                            </li> -->
                                            <li class="list-inline-item li_list">
                                                <div class="search_option_button">
                                                    <button type="submit" class="btn btn-thm" (click)="searchhome.form.valid && navigate()">Search</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="collapse" id="amenities_collapse">
                                        <div class="card card-body">
                                            <div class="row mt20 mb20">
                                                <div class="col-lg-12">
                                                    <h4 class="text-thm3 text-center">Amenities
                                                    </h4>
                                                    <hr>
                                                </div>
                                                <ul class="col-lg-12 ui_kit_checkbox selectable-list">
                                                    <!-- <div class="row"> -->
                                                    <li *ngFor="let amenties of amenties?.data" class="col-lg-2 col-xs-6 amentites_li">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="{{amenties.id}}" id="{{amenties.id}}" (change)="onchangeAmenties($event,amenties.id)">
                                                            <label class="form-check-label" for="{{amenties.id}}">
                                                                {{amenties.name}}
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <!-- </div> -->
                                                </ul>
                                            </div>
                                            <div class="row p15 pt0-xsd">
                                                <div class="col-lg-12 col-xl-12">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                                            <div class="candidate_revew_select">
                                                                <select class="form-select" aria-label="Default select example" name="bathrooms" formControlName="bathrooms" id="bathrooms">
                                                                    <option value="">Select Bathrooms
                                                                    </option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6 </option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8 </option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10 </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                                            <div class="candidate_revew_select">
                                                                <select class="form-select" aria-label="Default select example" name="bedrooms" formControlName="bedrooms" id="bedrooms">
                                                                    <option value="">Select Bedrooms
                                                                    </option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6 </option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8 </option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10 </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                                            <div class="candidate_revew_select">
                                                                <select class="form-select" aria-label="Default select example" name="years" formControlName="years" id="years">
                                                                    <option value="">Select Built year</option>
                                                                    <option value="2000">2000</option>
                                                                    <option value="2001">2001</option>
                                                                    <option value="2002">2002</option>
                                                                    <option value="2003">2003</option>
                                                                    <option value="2004">2004</option>
                                                                    <option value="2005">2005</option>
                                                                    <option value="2006">2006</option>
                                                                    <option value="2007">2007</option>
                                                                    <option value="2008">2008</option>
                                                                    <option value="2009">2009</option>
                                                                    <option value="2010">2010</option>
                                                                    <option value="2011">2011</option>
                                                                    <option value="2012">2012</option>
                                                                    <option value="2013">2013</option>
                                                                    <option value="2014">2014</option>
                                                                    <option value="2015">2015</option>
                                                                    <option value="2016">2016</option>
                                                                    <option value="2017">2017</option>
                                                                    <option value="2018">2018</option>
                                                                    <option value="2019">2019</option>
                                                                    <option value="2020">2020</option>
                                                                    <option value="2021">2021</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                                            <div class="candidate_revew_select">
                                                                <select class="form-select" aria-label="Default select example" name="area_unit" formControlName="area_unit" id="area_unit">
                                                                    <option value="">Select Area Unit
                                                                    </option>
                                                                    <option value="sq.ft.">sq.ft.
                                                                    </option>
                                                                    <option value="sq.yards">
                                                                        sq.yards</option>
                                                                    <option value="sq.m.">sq.m.
                                                                    </option>
                                                                    <option value="acres">acres
                                                                    </option>
                                                                    <option value="marla">marla
                                                                    </option>
                                                                    <option value="cents"> cents
                                                                    </option>
                                                                    <option value="bigha">bigha
                                                                    </option>
                                                                    <option value="kottah">kottah
                                                                    </option>
                                                                    <option value="kanal"> kanal
                                                                    </option>
                                                                    <option value="grounds">grounds
                                                                    </option>
                                                                    <option value="biswa">biswa
                                                                    </option>
                                                                    <option value="guntha"> guntha
                                                                    </option>
                                                                    <option value="aankadam">
                                                                        aankadam</option>
                                                                    <option value="hectares">
                                                                        hectares</option>
                                                                    <option value="rood">rood
                                                                    </option>
                                                                    <option value="chataks">chataks
                                                                    </option>
                                                                    <option value="perch"> perch
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--row -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title text-center">
                    <h5>Let's face it - property rental is a tricky affair, whether you are a property owner, or someone looking for accommodation. However, it doesn't have to be that way - at Housing Street, we make it all the simpler.</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="home_post">
                        <div class="details">
                            <h5>Renters</h5>
                            <hr>
                            <p>There are loads of hassles renters have to deal with, such as plumbing issues, electricity problems, etc. Sometimes the dealer doesn't disclose important details and also takes time with the process. Yet another problem is
                                they often make you shell out money in the form of hidden charges. </p>
                            <p>At Housing Street, we ensure you don't have to go through such trouble. Not only is each property listed on this website verified by officials, but you get end to end support, starting from property visit to the handover via
                                a personal relationship officer. Every property is subjected to rigorous quality checks - whether it is clean, whitewashed, meets basic living requirements, has parking for cars and bikes, and so on. Only if it complies
                                with certain criteria, is the property listed on the website.</p>
                            <p>Once you decide to move in, the property handover is completed on the same day. For your convenience, we provide local services provider contact lists. Rest assured, your move will be seamless! Payment mode can be through credit
                                card if that is preferable. The total breakup of charges such as rent, security deposit, and other fees, will be clearly mentioned, as we believe in total transparency. In case you don't find the property suitable, you
                                can change the accommodation within 2 to 4 months without paying anything extra.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="home_post">
                        <div class="details">
                            <h5>Property Owners</h5>
                            <hr>
                            <p>Have an apartment ready to be let out? No idea how to get good tenants who will pay rent on time? Let us help you out! Not only do you get an extra income, but we ensure you don't have to pay us unnecessary commission if the
                                property is prematurely vacated!</p>
                            <p>We offer complete backend support. You don't have to be bothered about tackling calls from clients - our team will handle it. In fact, you don't have to show the vacant property to customers as well - that is exactly what we
                                are there for. The rental agreement is prepared free of charge. At the end of the month, the rent is deposited directly in your bank account.</p>
                            <p>Don't worry - you have to pay only if the customer moves into the vacant property. Furthermore, if the property is vacated within 4 months, you don't have to pay any commission to let out the property once again. Contact details
                                of local area service providers such as tiles, painter, carpenter, electricians, etc. will be provided too.</p>
                            <p>So regardless of whether you are a property owner or renter, feel free to get in touch with us right away - just drop off an email or give us a call, and we will work towards finding the best solution for you.</p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>
<!-- feature-property section -->
<app-homepagefeature></app-homepagefeature>

<!-- Property Cities -->
<section id="property-city" class="property-city pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h2>Find Properties in These Cities</h2>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xl-4" (click)="property_search()">
                <div class="properti_city">
                    <div class="thumb"><img class="img-fluid w100" src="../../../../../assets/resources/images/property/city_image_1.jpeg" alt="pc1.jpg">
                    </div>
                    <div class="overlay">
                        <div class="details">
                            <h4>{{city_name | titlecase}}</h4>
                            <p>{{product_length}} Properties</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-8" (click)="property_search_locality()">
                <div class="properti_city">
                    <div class="thumb"><img class="img-fluid w100" src="../../../../../assets/resources/images/property/chattarpur_sharp.jpg" alt="pc2.jpg">
                    </div>
                    <div class="overlay">
                        <div class="details">
                            <h4>{{chattarpur | titlecase}}</h4>
                            <p>{{chattarpur_length}} Properties</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-8 col-xl-8" (click)="location_fetch()">
                <div class="properti_city">
                    <div class="thumb"><img class="img-fluid w100" src="../../../../../assets/resources/images/property/city_image_2.jpeg" alt="pc3.jpg">
                    </div>
                    <div class="overlay">
                        <div class="details">
                            <h4>Gurugram</h4>
                            <p>No Properties</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4" (click)="location_fetch()">
                <div class="properti_city">
                    <div class="thumb"><img class="img-fluid w100" src="../../../../../assets/resources/images/property/city_image_1.jpeg" alt="pc4.jpg">
                    </div>
                    <div class="overlay">
                        <div class="details">
                            <h4>Faridabad</h4>
                            <p>No Properties</p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<!-- Why Choose Us -->
<app-why-choose-us></app-why-choose-us>

<!-- Our Testimonials -->
<app-testimonial></app-testimonial>

<!-- Articles and Tips -->
<app-articals></app-articals>

<!-- Real Estate Agent -->
<app-real-estate-agent></app-real-estate-agent>