mat-slider {
    width: 100%;
}

.bg-lightgray {
    background-color: lightgray;
}
.container1{
    padding-top: 120px!important;
}
ul .list-inline-item {
    width: 100%!important;
}


/* .row .ng-invalid{
  border: 1px solid  red!important;
} */

.google_map_error {
    font-size: 22px;
    font-weight: 600;
    background: #fff;
    text-align: center;
}

.preloader_row {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 100!important;
}

.preloader_row1 {
    position: relative;
    width: 100%;
    height: 250px;
    z-index: 100!important;
}

.portfolio_item {
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
    height: 200px;
    margin: 15px 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.portfolio_item img {
    height: 200px;
    width: 100%;
}

.portfolio_item .edu_stats_list {
    border-radius: 8px;
    background-color: rgb(255, 90, 95);
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 35px;
}

.portfolio_item .edu_stats_list:hover {
    border-radius: 8px;
    background-color: rgb(255, 90, 95);
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 35px;
}

.portfolio_item .edu_stats_list span {
    color: rgb(255, 255, 255);
}

.additional_row {
    margin: 15px 0px!important;
    padding: 15px 0px!important;
    background-color: #fff!important;
}

.additional_row .form-group {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.additional_row li label {
    margin-left: 12px!important;
    font-size: 12px!important;
}

#Negotiable_info_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Negotiable_info_btn i {
    font-size: 32px;
    color: #f35b3f;
}

.draftbtn {
    margin-right: 15px!important;
    color: #fff;
    background-color: #ff5a5f!important;
}

#dropdownerror {
    font-size: 16px!important;
    font-weight: 600;
    padding: 5px 10px!important;
    background-color: #fff;
    color: #dc3545;
    margin-left: 10px;
}

@media(max-width: 768px) {
    .additional_row li label {
        margin-left: 2px!important;
    }
    .btn_location_map {
        width: 100%!important;
    }
    .additional_row .form-group {
        display: flex!important;
        align-items: center!important;
        justify-content: space-around!important;
        margin: 7px 0px!important;
    }
    .additional_row .col-6 {
        padding: 0px!important;
    }
    #mobile_view {
        margin-bottom: 10px;
        display: block;
        font-size: 14px!important;
        padding: 5px 10px!important;
        background-color: #fff;
        color: #dc3545;
        border: 1px solid #dc3545;
        box-shadow: 5px 1px 5px #dc3545;
    }
    #deshtop_view {
        display: none!important;
    }
    .flaticon-maps-and-flags {
        right: 50px!important;
        top: 80px!important;
    }
    .text-right {
        display: flex;
        justify-content: flex-end!important;
        align-items: center;
    }
    .form-label {
        margin-top: 15px!important;
    }
    .mt-3 {
        margin-top: 0px!important;
    }
    .mt-3 button {
        margin-top: 15px!important;
    }
    .additional_row {
        margin: 15px 0px!important;
        padding: 15px 5px!important;
        background-color: #fff!important;
    }
     :host ::ng-deep .mat-horizontal-content-container {
        padding: 0 8px 24px 8px;
    }
}

@media(min-width: 769px) {
    #mobile_view {
        display: none!important;
    }
    #deshtop_view {
        font-size: 16px!important;
        font-weight: 600;
        padding: 5px 10px!important;
        background-color: #fff;
        color: #dc3545;
        margin-left: 10px;
        border: 1px solid #dc3545;
        box-shadow: 5px 1px 5px #dc3545;
    }
}

@media(max-width: 498px) {
     :host ::ng-deep .mat-step-label {
        display: none;
    }
}