<div class="container p-3">
    <div class="h-100 p-3 bg-light border rounded-3">
        <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
            <mat-step label="Step 1" state="phone" [stepControl]="form_step1">
                <div class="h-100 p-3 bg-lightgray bg-gradient border rounded-3 mt-2">
                    <form [formGroup]="form_step1" class="g-3">
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="property_name" class="form-label">Property Name</label>
                                <input type="text" class="form-control" id="property_name" formControlName="property_name" required>
                                <!-- <input type="hidden" class="form-control" id="draft_form_id" formControlName="draft_form_id" required> -->
                            </div>
                            <div class="col-md-6">
                                <label for="property_type" class="form-label">Property Type</label>
                                <select id="property_type" class="form-select form-select-lg w100" formControlName="property_type">
                                    <option value ="" selected>Select Property Type</option>
                                    <optgroup label="ALL RESIDENTIAL">
                                        <option value="Flat/ Apartment">Flat/ Apartment</option>
                                        <option value="Residential House">Residential House</option>
                                        <option value="Villa">Villa</option>
                                        <option value="Builder Floor Apartment">Builder Floor Apartment
                                        </option>
                                        <option value="Residential Land/ Plot">Residential Land/ Plot
                                        </option>
                                        <option value="Penthouse">Penthouse</option>
                                        <option value="Studio Apartment">Studio Apartment</option>
                                    </optgroup>
                                    <optgroup label="ALL COMMERCIAL">
                                        <option value="Commercial Office Space">Commercial Office Space
                                        </option>
                                        <option value="Office in IT Park/ SEZ">Office in IT Park/ SEZ
                                        </option>
                                        <option value="Commercial Shop">Commercial Shop</option>
                                        <option value="Commercial Showroom">Commercial Showroom</option>
                                        <option value="Commercial Land">Commercial Land</option>
                                        <option value="Warehouse/ Godown">Warehouse/ Godown</option>
                                        <option value="Industrial Land">Industrial Land</option>
                                        <option value="Industrial Building">Industrial Building</option>
                                        <option value="Industrial Shed">Industrial Shed</option>
                                    </optgroup>
                                    <optgroup label="ALL AGRICULTURAL">
                                        <option value="Agricultural Land">Agricultural Land</option>
                                        <option value="Farm House">Farm House</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="area_unit" class="form-label">Area Unit</label>
                                <select id="area_unit" class="form-select form-select-lg w100" formControlName="area_unit">
                                    <option value="">Select Area Unit</option>
                                    <option value="sq.ft.">sq.ft.</option>
                                    <option value="sq.yards">sq.yards</option>
                                    <option value="sq.m.">sq.m.</option>
                                    <option value="acres">acres</option>
                                    <option value="marla">marla</option>
                                    <option value="cents"> cents</option>
                                    <option value="bigha">bigha</option>
                                    <option value="kottah">kottah</option>
                                    <option value="kanal"> kanal</option>
                                    <option value="grounds">grounds</option>
                                    <option value="biswa">biswa</option>
                                    <option value="guntha"> guntha</option>
                                    <option value="aankadam">aankadam</option>
                                    <option value="hectares"> hectares</option>
                                    <option value="rood">rood</option>
                                    <option value="chataks">chataks</option>
                                    <option value="perch"> perch</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="property_area" class="form-label">Property Area</label>
                                <input type="text" class="form-control" id="property_area" formControlName="property_area" (keypress)="keyPressNumbers($event)" maxlength="8">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label for="bedrooms" class="form-label">Bedrooms</label>
                                <select id="bedrooms" class="form-select form-select-lg w100" formControlName="bedrooms">
                                    <option value="" disabled>Select Bedrooms
                                    </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6 </option>
                                    <option value="7">7</option>
                                    <option value="8">8 </option>
                                    <option value="9">9</option>
                                    <option value="10">10 </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="bathrooms" class="form-label">Bathrooms</label>
                                <select id="bathrooms" class="form-select form-select-lg w100" formControlName="bathrooms">
                                    <option value="" disabled>Select Bathrooms
                                    </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6 </option>
                                    <option value="7">7</option>
                                    <option value="8">8 </option>
                                    <option value="9">9</option>
                                    <option value="10">10 </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="balconies" class="form-label">Balconies</label>
                                <select id="balconies" class="form-select form-select-lg w100" formControlName="balconies">
                                    <option value="" disabled>Select Balconies</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label for="property_desc" class="form-label">Property Description</label>
                                <textarea class="form-control" aria-label="With textarea" id="property_desc" formControlName="property_desc"></textarea>
                            </div>
                        </div>
                    </form>
                    <div class="row mt-3">
                        <div class="col-md-12 text-right">
                            <button class="draftbtn" mat-raised-button (click)="save_draft()">Save Draft</button>
                            <button mat-raised-button matStepperNext>Next</button>
                        </div>
                    </div>
                </div>
            </mat-step>

            <mat-step label="Step 2" state="chat" [stepControl]="form_step2">
                <form [formGroup]="form_step2" class="g-3">
                    <div class="h-100 p-3 bg-lightgray bg-gradient border rounded-3 mt-2">
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label for="address" class="form-label">Enter Address</label>
                                <input #search autocorrect="off" autocapitalize="on"
                                spellcheck="off" formControlName="address" type="search"
                                class="form-control input-text"
                                placeholder="Enter Address" />
                            <span class="flaticon-maps-and-flags"
                                style="position: absolute;top: 278px; right: 215px"></span>
                            <agm-map style="height: 300px;" [latitude]="latCus"
                                [longitude]="longCus" [zoom]="15" class="main-card-agm-map">
                                <agm-marker [latitude]="latCus" [longitude]="longCus"
                                    [markerDraggable]="true"
                                    (dragEnd)="markerDragEnd($event)">
                                    <agm-info-window> </agm-info-window>
                                </agm-marker>
                            </agm-map>
                            <input type="hidden" class="form-control" id="map_latitude" formControlName="map_latitude">
                            <input type="hidden" class="form-control" id="map_longitude" formControlName="map_longitude">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <label for="city" class="form-label">City</label>
                                <select id="city" class="form-select form-select-lg w100" formControlName="city">
                                    <option value="" disabled>Select</option>
                                    <option>Delhi</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="locality" class="form-label">Locality</label>
                                <select id="locality" class="form-select form-select-lg w100" formControlName="locality" (ngModelChange)="onchange_locality($event)">
                                    <option value="" disabled>Select Option</option>
                                    <option *ngFor="let locality of locality_data" value="{{locality.id}}">{{locality.area}}</option>             
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="pincode" class="form-label">Pincode</label>
                                <input type="text" class="form-control" id="pincode" formControlName="pincode" readonly>
                            </div>
                            <div class="col-md-3">
                                <label for="nearest_place" class="form-label">Nearest Place</label>
                                <input type="text" class="form-control" id="nearest_place" formControlName="nearest_place">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6 col-4">
                                <button mat-raised-button matStepperPrevious>Back</button>
                            </div>
                            <div class="col-md-6 col-8 text-right">
                                <button class="draftbtn" mat-raised-button (click)="save_draft()">Save Draft</button>
                                <button mat-raised-button matStepperNext>Next</button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-step>

            <mat-step label="Step 3" [stepControl]="form_step3">
                <form [formGroup]="form_step3" class="g-3">
                    <div class="h-100 p-3 bg-lightgray bg-gradient border rounded-3 mt-2">
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label for="additional_rooms" class="form-label">Additional Rooms</label>
                                <select id="additional_rooms" class="form-select form-select-lg w100" formControlName="additional_rooms" (ngModelChange)="onchange_add_room($event)">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="facing_towards" class="form-label">Facing Towards</label>
                                <select id="facing_towards" class="form-select form-select-lg w100" formControlName="facing_towards">
                                    <option value="" disabled>Select</option>
                                    <option value="East">East</option>
                                    <option value="North East">North East</option>
                                    <option value="North">North</option>
                                    <option value="West">West</option>
                                    <option value="South">South</option>
                                    <option value="South East">South-East</option>
                                    <option value="North West">North West</option>
                                    <option value="South West">South West</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="year_built" class="form-label">Year Built</label>
                                <select id="year_built" class="form-select form-select-lg w100" formControlName="year_built">
                                    <option value="">Select Built year</option>
                                    <option value="2000">2000</option>
                                    <option value="2001">2001</option>
                                    <option value="2002">2002</option>
                                    <option value="2003">2003</option>
                                    <option value="2004">2004</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row additional_row" *ngIf="add_room_tab == true"> 
                            <div class="col-6 col-sm col-lg-3" *ngFor="let add_room of addition_room">
                                <ul class="ui_kit_checkbox selectable-list">
                                    <li>
                                        <div class="custom-control custom-checkbox ">
                                            <div class="form-group">
                                            <input type="checkbox" class="custom-control-input"
                                                id="{{add_room.id}}" (change)="onchange_rooms($event,add_room.name)">
                                                <label class="custom-control-label"
                                                for="{{add_room.id}}">{{add_room.name}}</label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label for="furnishings" class="form-label">Furnishings</label>
                                <select id="furnishings" class="form-select form-select-lg w100" formControlName="furnishings" (ngModelChange)="furnishStatus($event)">
                                    <option value="1">Furnished</option>
                                    <option value="0">Not furnished</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="reserved_parking" class="form-label">Reserved Parking</label>
                                <select id="reserved_parking" class="form-select form-select-lg w100" formControlName="reserved_parking"  (ngModelChange)="parkingStatus($event)">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row additional_row" *ngIf="furnish_row == true"> 
                            <div class="col-12  col-lg-12" >
                                <ul class="row ui_kit_checkbox selectable-list">
                                    <li *ngFor="let amenties_data of amenties?.data" class="col-lg-2 col-xs-6 amentites_li">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="{{amenties_data.name}}"  (change)="onchangeAmenties($event,amenties_data.id)">
                                            <label class="form-check-label" for="{{amenties_data.name}}" (change)="onchangeAmenties($event,amenties_data.id)">
                                                {{amenties_data.name}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row additional_row " *ngIf="parking_row == true">
                            <div class="col-md-6">
                                <label for="parking_covered_count" class="form-label">Covered Parking</label>
                                <select id="parking_covered_count" class="form-select form-select-lg w100" formControlName="parking_covered_count">
                                    <option value="" disabled>Select Option</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="parking_open_count" class="form-label">Open Parking</label>
                                <select id="parking_open_count" class="form-select form-select-lg w100" formControlName="parking_open_count">
                                    <option value="" disabled>Select Option</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="h-100 p-3 bg-lightgray border rounded-3 mt-2">
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label for="willing_to_rent" class="form-label">Willing to Rent Out to</label>
                                <select id="willing_to_rent" class="form-select form-select-lg w100" formControlName="willing_to_rent">
                                    <option value="" disabled>Select</option>
                                    <option value="Family">Family</option>
                                    <option value="Single Men">Single Men</option>
                                    <option value="Single Women">Single Women</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="agreement_type" class="form-label">Agreement Type</label>
                                <select id="agreement_type" class="form-select form-select-lg w100" formControlName="agreement_type">
                                    <option value="" disabled>Select Preferred </option>
                                    <option value="Company Lease Agreement">Company Lease
                                        Agreement</option>
                                    <option value="Any">Any</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="available_date" class="form-label">Available On</label>
                                <input type="date" class="form-control" id="available_date" formControlName="available_date">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label for="notice_month" class="form-label">Month of Notice</label>
                                <select id="notice_month" class="form-select form-select-lg w100" formControlName="notice_month">
                                    <option value="" disabled>Select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="agreement_duration" class="form-label">Duration of Rent Agreement</label>
                                <select id="agreement_duration" class="form-select form-select-lg w100" formControlName="agreement_duration">
                                    <option value="" disabled>Select</option>
                                    <option value="One Year">One Year</option>
                                    <option value="Three Year">Three Years</option>
                                    <option value="Custom">Custom</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="agreement_duration" class="form-label">Availability</label>
                                <select id="agreement_duration" class="form-select form-select-lg w100" formControlName="availability_condition">
                                    <option value="" disabled>Select Availability</option>
                                    <option value="Under Construction">Under Construction
                                    </option>
                                    <option value="Ready To Move">Ready To Move</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="h-100 p-3 bg-lightgray bg-gradient border rounded-3 mt-2">
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="property_floor" class="form-label">Property is present on which
                                    floor?</label>
                                <select id="property_floor" class="form-select form-select-lg w100" formControlName="property_floor">
                                    <option value="" disabled>Select Present Floors </option>
                                    <option value="Ground Floor">Ground Floor</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="total_floors" class="form-label">Number of floors in the property?</label>
                                <select id="total_floors" class="form-select form-select-lg w100" formControlName="total_floors">
                                    <option value="" disabled>Select Number of Floors </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 col-4">
                                <button mat-raised-button matStepperPrevious>Back</button>
                            </div>
                            <div class="col-md-6 col-8 text-right">
                                <button class="draftbtn" mat-raised-button (click)="save_draft()">Save Draft</button>
                                <button mat-raised-button matStepperNext>Next</button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-step>

            <mat-step label="Step 4">
                <form [formGroup]="form_step4" class="g-3">
                    <div class="h-100 p-3 bg-lightgray bg-gradient border rounded-3 mt-2">
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="security_deposit" class="form-label">Security Deposit</label>
                                <select id="security_deposit" class="form-select form-select-lg w100" formControlName="security_deposit">
                                    <option value="" disabled>Select Option</option>
                                    <option value="1 Month Rent">1 Month Rent</option>
                                    <option value="2 Month Rent">2 Month Rent</option>
                                    <option value="3 Month Rent">3 Month Rent</option>
                                    <option value="4 Month Rent">4 Month Rent</option>
                                    <option value="5 Month Rent">5 Month Rent</option>
                                    <option value="6 Month Rent">6 Month Rent</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="expected_rent" class="form-label">Expected Rent</label>
                                <div class="row">
                                    <div class="col-7 col-lg-9">
                                        <ngx-slider [options]="options" formControlName="sliderControl" (valueChange)="RangeSlider_Price($event)"></ngx-slider>
                                    </div>
                                    <div class="col-5 col-lg-3">
                                        <input type="text" class="form-control"  formControlName="expected_rent" id="expected_rent" name="expected_rent" placeholder="Please Enter Expected Rent..."  maxlength="8"
                                         (keypress)="keyPressNumbers($event)" autocomplete="off" (ngModelChange)="rangeInput_Price($event)">
                                    </div>
                                   </div>
                               <span class="alert-danger" *ngIf="Expected_PriceEroor == true">Expected Price Between 5k to 5 lakhs</span>                                  
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="electricity_water" class="form-label">Inclusive Electricity and Water
                                    Bill</label>
                                <select id="electricity_water" class="form-select form-select-lg w100" formControlName="electricity_water">
                                    <option value="" disabled>Select Option</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="price_negotiable" class="form-label">Is Price Negotiable?</label>
                                <select id="price_negotiable" class="form-select form-select-lg w100" formControlName="price_negotiable_status"  (ngModelChange)="price_negotiable_status($event)">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row  mt-3" *ngIf="price_negotiable_row == true">
                            <div class="col-lg-10 col-md-10 col-sm-12">
                                <div class="form-group">
                                    <label for="locality">Price Negotiable</label>
                                    <input type="text" class="form-control"
                                        formControlName="price_negotiable" placeholder="Enter the Price Negotiable" maxlength="8" (keypress)="keyPressNumbers($event)">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12" id="Negotiable_info_btn">
                                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="This Price will not shown visiable to cumtomers. this for us to negotiate with customer on your behalf"></i>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="tax_govt_charge" class="form-label">Is Tax and Govt. Charges
                                    Included?</label>
                                <select id="tax_govt_charge" class="form-select form-select-lg w100" formControlName="tax_govt_charge">
                                    <option value="" disabled>Select Option</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="maintenance_charge_status" class="form-label">Any Maintenance
                                    Charge?</label>
                                <select id="maintenance_charge_status" class="form-select form-select-lg w100" formControlName="maintenance_charge_status" (ngModelChange)="maintenanceStatus($event)">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3" *ngIf="maintenance_row == true"> 
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Maintenance Charge Condition</label>
                                    <select class="form-select form-select-lg w100" formControlName="maintenance_charge_condition">
                                      <option value="" disabled>Select Option</option>
                                      <option value="Monthly">Monthly</option>
                                      <option value="Annually">Annually</option>
                                      <option value="One Time">One Time</option>
                                    </select>
                                </div>
                            </div> <div class="col-lg-6 col-6">
                                <div class="form-group">
                                    <label for="locality">Maintenance Charge Amount</label>
                                    <input type="text" class="form-control"
                                        formControlName="maintenance_charge" placeholder="Enter the Maintenance Charge Negotiable" maxlength="8" (keypress)="keyPressNumbers($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-100 p-3 bg-lightgray bg-gradient border rounded-3 mt-2">
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label for="images" class="form-label">Click to Upload Multiple Images</label>
                                <input type="file" class="form-control" id="images" formControlName="images" accept=".jpg,.png,.jpeg" multiple (change)="insert_image($event)">
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <ul class="row mt20">
                                    <div class="col-6 col-lg-3" *ngIf="image1">
                                        <li class="list-inline-item" *ngIf="image1">
                                            <span>Property Image1</span>
                                            <div class="portfolio_item">
                                                <img class="img-fluid" src="{{ image1 }}"
                                                    alt="First Image">
                                                <div class="edu_stats_list" data-toggle="tooltip"
                                                    data-placement="top" title="Delete"
                                                    data-original-title="Delete"><button type="button"
                                                        class="btn btn-thm2 float-right"
                                                        (click)="delete_pic1(image1)"><span
                                                            class="flaticon-garbage"></span></button>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="col-6 col-lg-3" *ngIf="image2">                                   
                                    <li class="list-inline-item" *ngIf="image2">
                                        <span>Property Image2</span>
                                        <div class="portfolio_item">
                                            <img class="img-fluid" src="{{ image2 }}"
                                                alt="Second Image">
                                            <div class="edu_stats_list" data-toggle="tooltip"
                                                data-placement="top" title="Delete"
                                                data-original-title="Delete"><button type="button"
                                                    class="btn btn-thm2 float-right"
                                                    (click)="delete_pic2(image2)"><span
                                                        class="flaticon-garbage"></span></button>
                                            </div>
                                        </div>
                                    </li>
                                    </div>
                                    <div class="col-6 col-lg-3" *ngIf="image3">
                                    <li class="list-inline-item" *ngIf="image3">
                                        <span>Property Image3</span>
                                        <div class="portfolio_item">
                                            <img class="img-fluid" src="{{ image3 }}"
                                                alt="Third Image">
                                            <div class="edu_stats_list" data-toggle="tooltip"
                                                data-placement="top" title="Delete"
                                                data-original-title="Delete"><button type="button"
                                                    class="btn btn-thm2 float-right"
                                                    (click)="delete_pic3(image3)"><span
                                                        class="flaticon-garbage"></span></button>
                                            </div>
                                        </div>
                                    </li>
                                    </div>
                                    <div class="col-6 col-lg-3" *ngIf="image4">
                                    <li class="list-inline-item" *ngIf="image4">
                                        <span>Property Image4</span>
                                        <div class="portfolio_item">
                                            <img class="img-fluid" src="{{ image4 }}"
                                                alt="Fourth Image">
                                            <div class="edu_stats_list" data-toggle="tooltip"
                                                data-placement="top" title="Delete"
                                                data-original-title="Delete"><button type="button"
                                                    class="btn btn-thm2 float-right"
                                                    (click)="delete_pic4(image4)"><span
                                                        class="flaticon-garbage"></span></button>
                                            </div>
                                        </div>
                                    </li>
                                    </div>
                                    <div class="col-6 col-lg-3" *ngIf="image5">
                                    <li class="list-inline-item" >
                                        <span>Property Image5</span>
                                        <div class="portfolio_item">
                                            <img class="img-fluid" src="{{ image5 }}"
                                                alt="Fifth Image">
                                            <div class="edu_stats_list" data-toggle="tooltip"
                                                data-placement="top" title="Delete"
                                                data-original-title="Delete"><button type="button"
                                                    class="btn btn-thm2 float-right"
                                                    (click)="delete_pic5(image4)"><span
                                                        class="flaticon-garbage"></span></button>
                                            </div>
                                        </div>
                                    </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label for="video_link" class="form-label">Property Video Link (You Tube)</label>
                                <input type="text" class="form-control" id="video_link" formControlName="video_link">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6  col-4">
                                <button mat-raised-button matStepperPrevious>Back</button>
                            </div>
                            <div class="col-md-6 col-8 text-right">
                                <button class="draftbtn" mat-raised-button (click)="save_draft()">Save Draft</button>
                                <button mat-raised-button matStepperNext (click)="submit_rent()">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-step>
            <!-- Icon overrides. -->
            <ng-template matStepperIcon="phone">
                <mat-icon>call_end</mat-icon>
            </ng-template>

            <ng-template matStepperIcon="chat">
                <mat-icon>forum</mat-icon>
            </ng-template>

        </mat-horizontal-stepper>
    </div>
</div>
