.search-column button {
    width: 100%;
    color: #fff!important;
    background-color: #f35b3f!important;
    opacity: 1!important;
}

.create_column {
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 12%);
    padding: 25px 20px;
    height: 360px;
}

.service_heading {
    background: rgb(36, 50, 74);
    padding: 15px 20px;
    margin-bottom: 25px;
}

.service_heading h2 {
    color: #fff!important;
    font-size: 18px!important;
    margin: 0px!important;
}

.status_tag {
    background-color: #ff5a5f!important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:#198754;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #198754;
  }
  .status_tag{
    background-color: #ff5a5f!important;
    font-size: 16px;
    letter-spacing: 1.4px;
}
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }


.flaticon-garbage {
    color: #ff5a5f!important;
    font-size: 20px;
    cursor: pointer!important;
}
.error_message{
  color: #ff5a5f!important;
}

.flaticon-edit {
    color: #4caf50!important;
    font-size: 20px;
    cursor: pointer!important;
}

.preloader_row {
    position: relative;
    width: 100%;
    height: 350px;
}
#searh_row{
    padding: 5px 0px;
    margin-bottom: 20px;
    border: 3px solid rgb(36, 50, 74);
}
 #searh_row h2{
    background: #0d6efd;
      color: #fff;
      padding: 10px;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1.2px;
  }
  
  .refresh{
    display: flex;
    align-items: center!important;
    justify-content: center!important;
  }
  .refresh button{
    width: 100%;
    color:#fff!important;
    background-color: #198754!important;
    opacity: 1!important;
  }
  .refresh button:hover{
  background-color: #198754!important;
  color: #fff!important;
  opacity: 1!important;
  }
#dropdownerror1 {
    font-size: 16px!important;
    font-weight: 600;
    padding: 5px 10px!important;
    background-color: #fff;
    color: #dc3545;
    margin-left: 10px;
    top: 0px;
    position: relative;
}
#dropdownerror {
    font-size: 16px!important;
    font-weight: 600;
    padding: 5px 10px!important;
    background-color: #fff;
    color: #dc3545;
    margin-left: 10px;
    top: 6px;
    position: relative;
}
.paragharph{
    inline-size: 170px!important;
    overflow-wrap: break-word!important;
    line-height: 18px!important;
    margin: 0px!important;
    font-size: 12px!important;
}

@media(max-width: 768px) {
    .create_column {
        margin-bottom: 20px!important;
    }
}