<section class="start-partners bgc-thm pt50 pb50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="start_partner tac-smd">
                    <h2>A One-stop destination for all the Property Renting Needs</h2>
                    <p>Have a property and want to rent it out? Looking for a house apartment to rent in a decent neighborhood with necessary amenities? Just leave it to us and we will arrange it for you! We prioritize your requirements and find the best solutions.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="parner_reg_btn tac-smd">
                    <a class="btn btn-thm2" routerLink="/agentregister">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
