.artical .thumb img {
    height: 250px!important;
}

.artical .feat_property .details .tc_content {
    height: 130px!important;
}

.artical .for_blog {
    width: 360px!important;
}

.list-inline-item .flaticon-user {
    color: #ff5a5f;
    font-size: 30px;
}

.preloader_row {
    position: relative;
    width: 100%!important;
    height: 50vh!important;
}

.profile_image {
    width: 40px !important;
    height: 40px;
    border-radius: 50%;
}