<div *ngIf="showLoadingIndicator">
    <div class="preloader"></div>
</div>
<div class="container container1 mb20" *ngIf="show_section==true">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Choose a Plan
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row  text-center justify-content-center">
                        <div class="row text-center justify-content-center visible-md" id="mobile_views">
                            <mat-tab-group mat-align-tabs="center">
                                <mat-tab *ngFor="let rent_plan of rent_feat_res; let index = index" [label]="rent_plan.plan_name">
                                    <div class="card mb-4 mt-5 rounded-3 shadow-sm border-secondary h-100">
                                        <span class="banner" *ngIf="rent_plan.special_tag == 'yes'">Popular</span>
                                        <div class="card-header py-3">
                                            <h4>{{ rent_plan.plan_name }}</h4>
                                            <hr>
                                            <div *ngIf="rent_plan.discount == 1">
                                                <h4 class="strike_duration">{{ rent_plan.actual_price_days }} Days Rent</h4>
                                                <h4 class="discount_price">{{ rent_plan.discount_percentage }} % Off</h4>
                                                <h4>{{ rent_plan.discounted_price_days }} Days Rent</h4>
                                                <h4>Rs. {{ expected_rent / (30 / rent_plan.discounted_price_days) | number: '4.0-0'}}</h4>
                                            </div>
                                            <div *ngIf="rent_plan.discount == 0">
                                                <h4>&nbsp;</h4>
                                                <h4>&nbsp;</h4>
                                                <h4>{{ rent_plan.actual_price_days }} Days Rent</h4>
                                                <h4>Rs. {{ expected_rent / (30 / rent_plan.discounted_price_days) | number: '4.0-0'}}</h4>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h1 class="card-title pricing-card-title"></h1>
                                            <ul class="list-unstyled mt-3 mb-4">
                                                <li *ngFor="let rent_plan_feature of rent_plan.features">
                                                    <p class="text-muted row1">{{ rent_plan_feature.feature_name }}
                                                        <span *ngIf="rent_plan_feature.more_info_status == '1'">
                                                            <mat-icon placement="bottom" [ngbPopover]="popoverContent">info
                                                            </mat-icon>
                                                        </span>
                                                    </p>
                                                    <ng-template #popoverContent>
                                                        <div [innerHTML]="rent_plan_feature.more_info.more_info"></div>
                                                    </ng-template>
                                                    <p class="row2" *ngIf="rent_plan_feature.feature_details === 'yes'">
                                                        <span class="checkmark">&#10003;</span>
                                                    </p>
                                                    <p class="row2" *ngIf="rent_plan_feature.feature_details === 'no'">
                                                        <span class="wrong-sym">&#215;</span>
                                                    </p>
                                                    <p class="row2" *ngIf="rent_plan_feature.feature_details != 'no' && rent_plan_feature.feature_details != 'yes'">
                                                   <span  *ngIf="rent_plan_feature.feature_name == 'Rent Agreement' && rent_plan_feature.feature_details > 0">&#8377; </span>{{ rent_plan_feature.feature_details }}</p>
                                                    <hr>
                                                </li>
                                            </ul>
                                            <button class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#collapseTwo" (click)="plan_payment(rent_plan.plan_name, rent_plan.id, rent_plan.payment_type, rent_plan.plan_type, expected_rent, rent_plan.actual_price_days, rent_plan.discounted_price_days, rent_plan)"
                                                id="select_plan">Select Plan</button>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                        <div *ngFor="let rent_plan of rent_feat_res" class="col-md-4 mb-5 mb-3 mt-5" id="deshtop_views">
                            <div class="card mb-4 rounded-3 shadow-sm border-secondary h-100">
                                <span class="banner" *ngIf="rent_plan.special_tag == 'yes'">Popular</span>
                                <div class="card-header py-3">
                                    <h4>{{ rent_plan.plan_name }}</h4>
                                    <hr>
                                    <div *ngIf="rent_plan.discount == 1">
                                        <h4 class="strike_duration">{{ rent_plan.actual_price_days }} Days Rent</h4>
                                        <h4 class="discount_price">{{ rent_plan.discount_percentage }} % Off</h4>
                                        <h4>{{ rent_plan.discounted_price_days }} Days Rent</h4>
                                        <h4>Rs. {{ expected_rent / (30 / rent_plan.discounted_price_days) | number: '4.0-0'}}</h4>
                                    </div>
                                    <div *ngIf="rent_plan.discount == 0">
                                        <h4>&nbsp;</h4>
                                        <h4>&nbsp;</h4>
                                        <h4>{{ rent_plan.actual_price_days }} Days Rent</h4>
                                        <h4>&#8377; {{ expected_rent / (30 / rent_plan.actual_price_days) | number: '4.0-0'}}</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title"></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li *ngFor="let rent_plan_feature of rent_plan.features">
                                            <p class="text-muted row1">{{ rent_plan_feature.feature_name }}
                                                <span *ngIf="rent_plan_feature.more_info_status == '1'">
                                                    <mat-icon placement="bottom" [ngbPopover]="popoverContent">info</mat-icon>
                                                </span>
                                            </p>
                                            <ng-template #popoverContent>
                                                <div [innerHTML]="rent_plan_feature.more_info.more_info"></div>
                                            </ng-template>
                                            <p class="row2" *ngIf="rent_plan_feature.feature_details === 'yes'">
                                                <span class="checkmark">&#10003;</span>
                                            </p>
                                            <p class="row2" *ngIf="rent_plan_feature.feature_details === 'no'">
                                                <span class="wrong-sym">&#215;</span>
                                            </p>
                                            <p class="row2" *ngIf="rent_plan_feature.feature_details != 'no' && rent_plan_feature.feature_details != 'yes'">
                                                <span  *ngIf="rent_plan_feature.feature_name == 'Rent Agreement' && rent_plan_feature.feature_details > 0">&#8377; </span>{{ rent_plan_feature.feature_details }}</p>
                                                
                                            <hr>
                                        </li>
                                    </ul>
                                    <button class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#collapseTwo" (click)="plan_payment(rent_plan.plan_name, rent_plan.id, rent_plan.payment_type, rent_plan.plan_type, expected_rent, rent_plan.actual_price_days, rent_plan.discounted_price_days, rent_plan)"
                                        id="select_plan">Select Plan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                    Payment Summary
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="card text-center mb20">
                                        <div class="card-header">
                                            <h4>Property Details</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row subRow">

                                                <div class="col-lg-4 col-md-6">
                                                    <p class="text-muted row1">Property Name</p>
                                                    <p class="row2">{{ pro_data?.build_name }}</p>
                                                </div>

                                                <div class="col-lg-4 col-md-6">
                                                    <p class="text-muted row1">Property Size</p>
                                                    <p class="row2">{{ pro_data?.area }} {{ pro_data?.property_area_unit?.unit }}</p>
                                                </div>

                                                <div class="col-lg-4 col-md-6">
                                                    <p class="text-muted row1">Rent</p>
                                                    <p class="row2">{{ pro_data?.expected_rent }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="card text-center mb20">
                                        <div class="card-header">
                                            <h4>Plan Details</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row subRow">
                                                <div class="col-lg-6 col-md-6">
                                                    <p class="text-muted row1">Plan Name</p>
                                                    <p class="row2">{{ plan_name }}</p>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <p class="text-muted row1">Plan Price</p>
                                                    <p class="row2">{{ plan_price }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card text-center mb20">
                                    <div class="card-header">
                                        <h4>Payment Details</h4>
                                    </div>
                                    <div class="card-body" >
                                        <h6><strong>Payable to Owner (A)</strong></h6>
                                        <hr>
                                        <div class="row">
                                            <div class="col-8"><h6 class="heading_text">1 Month Rent:</h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ expected_rent }}</strong></h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8"><h6 class="heading_text">Security Deposit <span *ngIf="security_deposit == 0">(NA)</span><span *ngIf="security_deposit > 0">:<br>({{security_deposit}} Months)</span></h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong >{{
                                                security_dep_amount }}</strong></h6></div>
                                        </div>
                                        
                                        <div class="row" *ngIf="pro_data?.maintenance_charge_status == '1'">
                                            <div class="col-8">
                                                <h6 class="heading_text">Maintenance Charge:
                                                    <br>({{ pro_data?.maintenance_condition?.name }})</h6>
                                            </div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ pro_data.maintenance_charge }}</strong></h6></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-8"><h6 class="heading_text"><strong>Total Amount(A):</strong></h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ total_amount_owner }}</strong></h6></div>
                                        </div>
                                        <hr>

                                        <h6><strong>Payable to HousingStreet (B)</strong></h6>
                                        <hr>
                                        
                                        <div class="row">
                                            <div class="col-8"><h6 class="heading_text">Plan Price:</h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ plan_price }}</strong></h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8"><h6 class="heading_text">Rent Aggrement:</h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ rent_aggrement_price }}</strong></h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8"><h6 class="heading_text"><strong>Taxable Amount: </strong></h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ plan_aggrement_price }}</strong></h6></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-8"><h6 class="heading_text">SGST@9%:</h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ sgst_amount }}</strong></h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8"><h6 class="heading_text">CGST@9%:</h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ cgst_amount }}</strong></h6></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-8"><h6 class="heading_text"><strong>Total Amount(B):</strong></h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ total_amount_hs }}</strong></h6></div>
                                        </div>
                                        <hr>
                                        <div class="row" *ngIf="purchase_property==false && book_property==true">
                                            <div class="col-8"><h6 class="heading_text">Select Percentage:</h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ payment_percentage }}%</strong></h6></div>
                                            <div class="col-8"><h6 class="heading_text"><strong> Amount(C) :<br>({{ payment_percentage }}% of A)</strong></h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ section_c }}</strong></h6></div>
                                            <!-- <div class="col-8"><h6 class="heading_text"><strong>Total Amount(C):</strong></h6></div>
                                            <div class="col-4"><h6 class="heading_amount"><strong>{{ section_c }}</strong></h6></div> -->
                                        </div>
                                        <hr *ngIf="purchase_property==false && book_property==true">
                                        <div class="row" *ngIf="purchase_property==false && book_property==true">
                                            <div class="col-7 col-lg-8"> 
                                                <h6 class="heading_text"><strong>Total Payable Amount(B+C):</strong></h6>
                                                <!-- <h6><strong>(A+B)</strong></h6> -->
                                            </div>
                                            <div class="col-5 col-lg-4"><h6 class="heading_amount"><strong>{{  total_amount}}</strong></h6></div>
                                        </div>
                                        <div class="row" *ngIf="purchase_property==true && book_property==false">
                                            <div class="col-7 col-lg-8"> 
                                                <h6 class="heading_text"><strong>Total Payable Amount(A+B):</strong></h6>
                                                <!-- <h6><strong>(A+B)</strong></h6> -->
                                            </div>
                                            <div class="col-5 col-lg-4"><h6 class="heading_amount"><strong>{{  total_amount}}</strong></h6></div>
                                        </div>
                                        <hr>
                                        
                                        <div class="row">
                                            
                                            <div class="col-12 mt10 mb10">
                                                <div class="row">
                                                    <div class="col-12 mt10 mb10">
                                                        <h6 style="margin:10px 0px ;"><strong>Payment Percentage</strong></h6>
                                                    </div>
                                                    <div class="col-6"> 
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="payment_type" id="purchase_property" value="purchase_property" (change)="changepayment_type($event)" checked>
                                                            <label class="form-check-label" for="purchase_property">
                                                                Rent Property
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="payment_type" id="book_property" value="book_property" (change)="changepayment_type($event)" >
                                                            <label class="form-check-label" for="book_property">
                                                                Book Property
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12" *ngIf="purchase_property==false && book_property==true">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h6>Select Percentage</h6>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="percentage" id="fifteen" value="15" (change)="changepercentage($event)" >
                                                            <label class="form-check-label" for="fifteen">
                                                                15%
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="percentage" id="twenty" value="20" (change)="changepercentage($event)" >
                                                            <label class="form-check-label" for="twenty">
                                                                20%
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="percentage" id="thirty" value="30" (change)="changepercentage($event)" >
                                                            <label class="form-check-label" for="thirty">
                                                                30%
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="percentage" id="forteen" value="40" (change)="changepercentage($event)" checked>
                                                            <label class="form-check-label" for="forteen">
                                                                40%
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <h6 style="margin:10px 0px ;"><strong>Mode of Payment</strong></h6>
                                            </div>
                                            <div class="col-6"> 
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="payment" id="online_payment" value="Online" (change)="changePayment($event)" checked>
                                                    <label class="form-check-label" for="online_payment">
                                                        Online Payment
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="payment" id="cash_payment" value="Cash" (change)="changePayment($event)">
                                                    <label class="form-check-label" for="cash_payment">
                                                        Offline Payment
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12" *ngIf="isLoggedIn == true">
                                                <button class="btn btn-success" *ngIf="online_pay_btn" [disabled]="clicked" (click)="proceedToPayment();clicked = true;">Proceed to Payment</button>
                                                <button class="btn btn-info" *ngIf="cash_pay_btn"  [disabled]="clicked" (click)="generateInvoice();  clicked = true;">Generate Invoice</button>
                                                <button class="chekout_btn w100 h50"><a href="tel:{{toll_free}}" ><span>CALL NOW! To Fix Your Property Visit</span><br><i class="fa fa-phone"></i> {{toll_free}}</a></button>
                        
                                            </div>
                                            <div class="col-12" *ngIf="isLoggedIn == false">
                                                <button class="btn btn-success" *ngIf="online_pay_btn"  (click)="proceedToPayment();">Proceed to Payment</button>
                                                <button class="btn btn-info" *ngIf="cash_pay_btn"   (click)="generateInvoice();">Generate Invoice</button>
                                                <button class="chekout_btn w100 h50"><a href="tel:{{toll_free}}" ><span>CALL NOW! To Fix Your Property Visit</span><br><i class="fa fa-phone"></i> {{toll_free}}</a></button>
                        
                                            </div>
                                        </div>
                                        <!-- <h4><strong>Total Payable Amount (A+B): {{ total_amount_hs + total_amount_owner
                                                }}</strong></h4>
                                        <div class="d-grid gap-3">
                                            <label>Mode of Payment</label>
                                            <div class="p-2 bg-light border">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="payment" id="online_payment" value="Online" (change)="changePayment($event)" checked>
                                                    <label class="form-check-label" for="online_payment">
                                                        Online Payment
                                                    </label>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="payment" id="cash_payment" value="Cash" (change)="changePayment($event)">
                                                    <label class="form-check-label" for="cash_payment">
                                                        Payment By Cash
                                                    </label>
                                                </div>
                                                <button class="btn btn-success" *ngIf="online_pay_btn" (click)="proceedToPayment()">Proceed to Payment</button>
                                                <button class="btn btn-info" *ngIf="cash_pay_btn" (click)="generateInvoice()">Generate Invoice</button>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container1 mb20" *ngIf="show_section==false">
    <div class="wrapper no_property_row">
        <div  class="container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                   <h3 class="text-danger no_property"  *ngIf="pro_data.order_status==1">This Property has been Let Out</h3>
                    <h3 class="text-danger no_property"  *ngIf="pro_data.order_status== 2">This Property has been Book</h3>
                    <img class="img-whp noproduct" src="./../../assets/resources/images/error.png" alt="No Product Image">
                </div>
            </div>
        </div>
    </div>
</div>
