.status_tag{
    background-color: #ff5a5f!important;
    font-size: 16px;
    letter-spacing: 1.4px;
}
.flaticon-garbage{    
    color:#ff0000!important;
    font-size: 20px;
    cursor: pointer!important;
}

.flaticon-edit{
    color:#0d6efd;
    font-size: 20px;
    cursor: pointer!important;
}
.flaticon-view{
    color:#0dfd35;
    font-size: 20px;
    cursor: pointer!important;
}

.preloader_row{
    position: relative;
    width: 100%;
    height: 50px;
}
.view_edit_delete_list li{
    padding-right: 10px;
}
.thumb{
    width: 100%;
}
.img-whp{
    border-radius: 50px;
    height: 120px;
}
.img_tr{
    width: 13%;
}
dt{
    font-size: 13px;
}
dd{
    font-size: 13px;
}
.status_tag{
    background-color: #ff5a5f!important;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1.4px;
}
.flaticon-garbage{    
    color:#ff0000!important;
    font-size: 20px;
    cursor: pointer!important;
}
.fa-star{
    color: #fd4!important;
    cursor: pointer;
}
.text-primary{
  cursor: pointer;
}
.star{
    font-size: 20px!important;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:#198754;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #198754;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .search-column{
    display: flex;
    align-items: flex-end;
    justify-content: center!important;
  }
  .search-column button{
      width: 100%;
      color:#fff!important;
      background-color: #f35b3f!important;
      opacity: 1!important;
  }
  .search-column button:hover{
    background-color: #f35b3f!important;
    color: #fff!important;
    opacity: 1!important;
  }
  .refresh{
    display: flex;
    align-items: center!important;
    justify-content: center!important;
  }
  .refresh button{
    width: 100%;
    color:#fff!important;
    background-color: #198754!important;
    opacity: 1!important;
  }
  .refresh button:hover{
  background-color: #198754!important;
  color: #fff!important;
  opacity: 1!important;
  }
form h2{
  background: #0d6efd;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.preloader_row{
  position: relative;
  width: 100%;
  height: 150px;
}
p{
    margin: 0px!important;
    font-size: 14px;
}
#property_name{
  color: #0d6efd!important;
  cursor: pointer;
}
@media(max-width: 768px) {
    .status_tag{
        font-size: 16px!important;
        letter-spacing: 1.2px!important;
    }
    form{
      border: 5px solid rgb(36, 50, 74);
      padding: 20px 15px;
    }
    .star_rating{
      padding: 0px!important;
    }
    .star_rating span{
      font-size: 13px!important;
    }
}
@media(min-width: 768px) {
  form{
    border: 5px solid rgb(36, 50, 74);
    padding: 20px 40px 40px!important;
  }
}