<section class="our-listing bgc-f7 pb30-991">
    <div class="container">
        <div class="row" id="search_form_popup" [ngStyle]="{'display':displayStyle}">
            <div class="col-lg-12">
                <div class="listing_sidebar dn db-991">
                    <div class="sidebar_content_details style3">
                        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
                        <div class="sidebar_listing_list style2 mobile_sytle_sidebar mb0">
                            <div class="sidebar_advanced_search_widget">
                                <h4 class="mb25">Advanced Search
                                    <a class="filter_closed_btn float-right" (click)="closePopup()">
                                        <!-- <small>Hide Filter</small> -->
                                        <span class="flaticon-close"></span>
                                    </a>
                                </h4>
                                <ul class="sasw_list mb0">
                                    <form [formGroup]="searchForm" class="home1-advnc-search" action="#" name="searchHome" id="searchhome" #searchhome="ngForm">
                                        <li class="search_area">
                                            <div class="form-group mb20">
                                                <input type="text" class="form-control input-text" name="build_name" formControlName="build_name" id="build_name" placeholder="Enter keywords...">
                                                <label for="exampleInputEmail"><span
                                                        class="flaticon-magnifying-glass"></span></label>
                                            </div>
                                        </li>
                                        <li class="search_area">
                                            <div class="form-group mb20">
                                                <input #search autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="location" type="search" class="form-control input-text" placeholder="Enter Location..." />
                                                <label for="exampleInputEmail"><span
                                                        class="flaticon-maps-and-flags"></span></label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="form-select w100 show-tick" name="area_unit" formControlName="area_unit" id="area_unit">
                                                        <option value="">Select Area Unit</option>
                                                        <option value="sq.ft.">sq.ft.</option>
                                                        <option value="sq.yards">sq.yards</option>
                                                        <option value="sq.m.">sq.m.</option>
                                                        <option value="acres">acres</option>
                                                        <option value="marla">marla</option>
                                                        <option value="cents"> cents</option>
                                                        <option value="bigha">bigha</option>
                                                        <option value="kottah">kottah</option>
                                                        <option value="kanal"> kanal</option>
                                                        <option value="grounds">grounds</option>
                                                        <option value="biswa">biswa</option>
                                                        <option value="guntha"> guntha</option>
                                                        <option value="aankadam">aankadam</option>
                                                        <option value="hectares"> hectares</option>
                                                        <option value="rood">rood</option>
                                                        <option value="chataks">chataks</option>
                                                        <option value="perch"> perch</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="form-select w100 show-tick" name="type" formControlName="type" id="type">
                                                        <option value ="" selected>Select Property Type</option>
                                                        <optgroup label="ALL RESIDENTIAL">
                                                            <option value="Flat/ Apartment">Flat/ Apartment</option>
                                                            <option value="Residential House">Residential House</option>
                                                            <option value="Villa">Villa</option>
                                                            <option value="Builder Floor Apartment">Builder Floor Apartment
                                                            </option>
                                                            <option value="Residential Land/ Plot">Residential Land/ Plot
                                                            </option>
                                                            <option value="Penthouse">Penthouse</option>
                                                            <option value="Studio Apartment">Studio Apartment</option>
                                                        </optgroup>
                                                        <optgroup label="ALL COMMERCIAL">
                                                            <option value="Commercial Office Space">Commercial Office Space
                                                            </option>
                                                            <option value="Office in IT Park/ SEZ">Office in IT Park/ SEZ
                                                            </option>
                                                            <option value="Commercial Shop">Commercial Shop</option>
                                                            <option value="Commercial Showroom">Commercial Showroom</option>
                                                            <option value="Commercial Land">Commercial Land</option>
                                                            <option value="Warehouse/ Godown">Warehouse/ Godown</option>
                                                            <option value="Industrial Land">Industrial Land</option>
                                                            <option value="Industrial Building">Industrial Building</option>
                                                            <option value="Industrial Shed">Industrial Shed</option>
                                                        </optgroup>
                                                        <optgroup label="ALL AGRICULTURAL">
                                                            <option value="Agricultural Land">Agricultural Land</option>
                                                            <option value="Farm House">Farm House</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="form-select w100 show-tick" name="bathrooms" formControlName="bathrooms" id="bathrooms">
                                                        <option value="">Select Bathrooms</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6 </option>
                                                        <option value="7">7</option>
                                                        <option value="8">8 </option>
                                                        <option value="9">9</option>
                                                        <option value="10">10 </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="form-select w100 show-tick" name="bedrooms" formControlName="bedrooms" id="bedrooms">
                                                        <option value="">Select Bedrooms</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6 </option>
                                                        <option value="7">7</option>
                                                        <option value="8">8 </option>
                                                        <option value="9">9</option>
                                                        <option value="10">10 </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="form-select w100 show-tick" name="years" formControlName="years" id="years">
                                                        <option value="">Select Built year</option>
                                                        <option value="2000">2000</option>
                                                        <option value="2001">2001</option>
                                                        <option value="2002">2002</option>
                                                        <option value="2003">2003</option>
                                                        <option value="2004">2004</option>
                                                        <option value="2005">2005</option>
                                                        <option value="2006">2006</option>
                                                        <option value="2007">2007</option>
                                                        <option value="2008">2008</option>
                                                        <option value="2009">2009</option>
                                                        <option value="2010">2010</option>
                                                        <option value="2011">2011</option>
                                                        <option value="2012">2012</option>
                                                        <option value="2013">2013</option>
                                                        <option value="2014">2014</option>
                                                        <option value="2015">2015</option>
                                                        <option value="2016">2016</option>
                                                        <option value="2017">2017</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="form-select w100 show-tick" name="search_type" formControlName="search_type" id="search_type" (change)="property_type()">
                                                        <option value="all">Select Availability</option>
                                                        <option value="rent">Rental Property</option>
                                                        <option value="sales">Sales Property</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li *ngIf="range_slider== true">
                                            <div class="pricing_acontent pro_list mb20 mt40">
                                                <ngx-slider [options]="options" formControlName="sliderControl">
                                                </ngx-slider>
                                            </div>
                                        </li>
                                        <li *ngIf="rent_range_slider== true">
                                            <div class="pricing_acontent pro_list mb20 mt40">
                                                <ngx-slider [options]="options_rent" formControlName="sliderControl">
                                                </ngx-slider>
                                            </div>
                                        </li>
                                        <li *ngIf="buyyer_range_slider== true">
                                            <div class="pricing_acontent pro_list mb20 mt40">
                                                <ngx-slider [options]="options_sales" formControlName="sliderControl">
                                                </ngx-slider>
                                            </div>
                                        </li>

                                        <li>
                                            <div id="accordion" class="panel-group">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a href="#panelBodyRating" class="accordion-toggle link advanced" data-bs-toggle="collapse" data-parent="#accordion"><i
                                                                    class="flaticon-more"></i> Advanced features</a>
                                                            <!-- <a class="accordion-toggle link share" (click)="navigate()">
                                                                    <i class="fa fa-share-alt-square" aria-hidden="true"></i> 
                                                                </a> -->
                                                        </h4>
                                                    </div>
                                                    <div id="panelBodyRating" class="panel-collapse collapse">
                                                        <div class="panel-body row">
                                                            <div class="col-lg-12">
                                                                <ul class="ui_kit_checkbox selectable-list float-left fn-400">
                                                                    <div class="row" *ngIf="this.search_amenties?.length>0,else amenties_row">
                                                                        <div class="col-lg-6 col-6" *ngFor="let amenties of amenties?.data">
                                                                            <li *ngIf="(amenties.id | amenitiesactive :this.search_amenties) as result,else OtherAmenties">
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="{{amenties.id}}" id="{{amenties.id}}" (change)="onchangeAmenties($event,amenties.id)" checked>
                                                                                    <label class="form-check-label" for="{{amenties.id}}">
                                                                                        {{amenties.name}}
                                                                                    </label>
                                                                                </div>
                                                                            </li>
                                                                            <ng-template #OtherAmenties>
                                                                                <li>
                                                                                    <div class="form-check">
                                                                                        <input class="form-check-input" type="checkbox" value="{{amenties.id}}" id="{{amenties.id}}" (change)="onchangeAmenties($event,amenties.id)">
                                                                                        <label class="form-check-label" for="{{amenties.id}}">
                                                                                            {{amenties.name}}
                                                                                        </label>
                                                                                    </div>
                                                                                </li>
                                                                            </ng-template>
                                                                        </div>
                                                                    </div>
                                                                    <ng-template #amenties_row>
                                                                        <div class="row">
                                                                            <div class="col-lg-6 col-6" *ngFor="let amenties of amenties?.data">
                                                                                <li>
                                                                                    <div class="form-check">
                                                                                        <input type="checkbox" class="form-check-input" value="{{amenties.id}}" id="{{amenties.id}}" (change)="onchangeAmenties($event,amenties.id)">
                                                                                        <label class="form-check-label" for="{{amenties.id}}">
                                                                                            {{amenties.name}}
                                                                                        </label>
                                                                                    </div>
                                                                                </li>
                                                                            </div>
                                                                        </div>
                                                                    </ng-template>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_button">
                                                <button type="submit" class="btn btn-thm" (click)="searchhome.form.valid && navigate()">Search</button>
                                                <button type="button" class="btn btn-primary" (click)="reset_Search()">Reset</button>
                                            </div>
                                        </li>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="breadcrumb_content style2 mb0-991">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item text-drk"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active text-thm" aria-current="page">Property Listing
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dn db-991 mt30 mb0">
                    <div id="main2">
                        <span id="open2" class="flaticon-filter-results-button filter_open_btn style2" (click)="openPopup()">Show
                            Filter</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xl-4">
                <div class="sidebar_listing_grid1 dn-991">
                    <div class="sidebar_listing_list">
                        <div class="sidebar_advanced_search_widget">
                            <ul class="sasw_list mb0">
                                <form [formGroup]="searchForm" class="home1-advnc-search" action="#" name="searchHome" id="searchhome" #searchhome="ngForm">
                                    <li class="search_area">
                                        <div class="form-group mb20">
                                            <input type="text" class="form-control input-text" name="build_name" formControlName="build_name" id="build_name" placeholder="Enter keywords...">
                                            <label for="exampleInputEmail"><span
                                                    class="flaticon-magnifying-glass"></span></label>
                                        </div>
                                    </li>
                                    <li class="search_area">
                                        <div class="form-group mb20">
                                            <input #searching autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="location" type="search" class="form-control input-text" placeholder="Enter Location..." />
                                            <label for="exampleInputEmail"><span
                                                    class="flaticon-maps-and-flags"></span></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_two">
                                            <div class="candidate_revew_select">
                                                <select class="form-select w100 show-tick" name="area_unit" formControlName="area_unit" id="area_unit">
                                                    <option value="">Select Area Unit</option>
                                                    <option value="sq.ft.">sq.ft.</option>
                                                    <option value="sq.yards">sq.yards</option>
                                                    <option value="sq.m.">sq.m.</option>
                                                    <option value="acres">acres</option>
                                                    <option value="marla">marla</option>
                                                    <option value="cents"> cents</option>
                                                    <option value="bigha">bigha</option>
                                                    <option value="kottah">kottah</option>
                                                    <option value="kanal"> kanal</option>
                                                    <option value="grounds">grounds</option>
                                                    <option value="biswa">biswa</option>
                                                    <option value="guntha"> guntha</option>
                                                    <option value="aankadam">aankadam</option>
                                                    <option value="hectares"> hectares</option>
                                                    <option value="rood">rood</option>
                                                    <option value="chataks">chataks</option>
                                                    <option value="perch"> perch</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_two">
                                            <div class="candidate_revew_select">
                                                <select class="form-select w100 show-tick" name="type" formControlName="type" id="type">
                                                    <option value ="" selected>Select Property Type</option>
                                                    <optgroup label="ALL RESIDENTIAL">
                                                        <option value="Flat/ Apartment">Flat/ Apartment</option>
                                                        <option value="Residential House">Residential House</option>
                                                        <option value="Villa">Villa</option>
                                                        <option value="Builder Floor Apartment">Builder Floor Apartment
                                                        </option>
                                                        <option value="Residential Land/ Plot">Residential Land/ Plot
                                                        </option>
                                                        <option value="Penthouse">Penthouse</option>
                                                        <option value="Studio Apartment">Studio Apartment</option>
                                                    </optgroup>
                                                    <optgroup label="ALL COMMERCIAL">
                                                        <option value="Commercial Office Space">Commercial Office Space
                                                        </option>
                                                        <option value="Office in IT Park/ SEZ">Office in IT Park/ SEZ
                                                        </option>
                                                        <option value="Commercial Shop">Commercial Shop</option>
                                                        <option value="Commercial Showroom">Commercial Showroom</option>
                                                        <option value="Commercial Land">Commercial Land</option>
                                                        <option value="Warehouse/ Godown">Warehouse/ Godown</option>
                                                        <option value="Industrial Land">Industrial Land</option>
                                                        <option value="Industrial Building">Industrial Building</option>
                                                        <option value="Industrial Shed">Industrial Shed</option>
                                                    </optgroup>
                                                    <optgroup label="ALL AGRICULTURAL">
                                                        <option value="Agricultural Land">Agricultural Land</option>
                                                        <option value="Farm House">Farm House</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_two">
                                            <div class="candidate_revew_select">
                                                <select class="form-select w100 show-tick" name="bathrooms" formControlName="bathrooms" id="bathrooms">
                                                    <option value="">Select Bathrooms</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6 </option>
                                                    <option value="7">7</option>
                                                    <option value="8">8 </option>
                                                    <option value="9">9</option>
                                                    <option value="10">10 </option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_two">
                                            <div class="candidate_revew_select">
                                                <select class="form-select w100 show-tick" name="bedrooms" formControlName="bedrooms" id="bedrooms">
                                                    <option value="">Select Bedrooms</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6 </option>
                                                    <option value="7">7</option>
                                                    <option value="8">8 </option>
                                                    <option value="9">9</option>
                                                    <option value="10">10 </option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_two">
                                            <div class="candidate_revew_select">
                                                <select class="form-select w100 show-tick" name="years" formControlName="years" id="years">
                                                    <option value="">Select Built year</option>
                                                    <option value="2000">2000</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_two">
                                            <div class="candidate_revew_select">
                                                <select class="form-select w100 show-tick" name="search_type" formControlName="search_type" id="search_type" (change)="property_type()">
                                                    <option value="all">Select Availability</option>
                                                    <option value="rent">Rental Property</option>
                                                    <option value="sales">Sales Property</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li *ngIf="range_slider== true">
                                        <div class="pricing_acontent pro_list mb20 mt40">
                                            <ngx-slider [options]="options" formControlName="sliderControl">
                                            </ngx-slider>
                                        </div>
                                    </li>
                                    <li *ngIf="rent_range_slider== true">
                                        <div class="pricing_acontent pro_list mb20 mt40">
                                            <ngx-slider [options]="options_rent" formControlName="sliderControl">
                                            </ngx-slider>
                                        </div>
                                    </li>
                                    <li *ngIf="buyyer_range_slider== true">
                                        <div class="pricing_acontent pro_list mb20 mt40">
                                            <ngx-slider [options]="options_sales" formControlName="sliderControl">
                                            </ngx-slider>
                                        </div>
                                    </li>

                                    <li>
                                        <div id="accordion" class="panel-group">
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#panelBodyRating" class="accordion-toggle link advanced" data-bs-toggle="collapse" data-parent="#accordion"><i
                                                                class="flaticon-more"></i> Advanced features</a>
                                                        <!-- <a class="accordion-toggle link share" (click)="navigate()">
                                                            <i class="fa fa-share-alt-square" aria-hidden="true"></i> 
                                                        </a> -->
                                                    </h4>
                                                </div>
                                                <div id="panelBodyRating" class="panel-collapse collapse">
                                                    <div class="panel-body row">
                                                        <div class="col-lg-12">
                                                            <ul class="ui_kit_checkbox selectable-list float-left fn-400">
                                                                <div class="row" *ngIf="this.search_amenties?.length>0,else amenties_row">
                                                                    <div class="col-lg-6 col-6" *ngFor="let amenties of amenties?.data">
                                                                        <li *ngIf="(amenties.id | amenitiesactive :this.search_amenties) as result,else OtherAmenties">
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="checkbox" value="{{amenties.id}}" id="{{amenties.id}}" (change)="onchangeAmenties($event,amenties.id)" checked>
                                                                                <label class="form-check-label" for="{{amenties.id}}">
                                                                                    {{amenties.name}}
                                                                                </label>
                                                                            </div>
                                                                        </li>
                                                                        <ng-template #OtherAmenties>
                                                                            <li>
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="{{amenties.id}}" id="{{amenties.id}}" (change)="onchangeAmenties($event,amenties.id)">
                                                                                    <label class="form-check-label" for="{{amenties.id}}">
                                                                                        {{amenties.name}}
                                                                                    </label>
                                                                                </div>
                                                                            </li>
                                                                        </ng-template>
                                                                    </div>
                                                                </div>
                                                                <ng-template #amenties_row>
                                                                    <div class="row">
                                                                        <div class="col-lg-6 col-6" *ngFor="let amenties of amenties?.data">
                                                                            <li>
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="{{amenties.id}}" id="{{amenties.id}}" (change)="onchangeAmenties($event,amenties.id)">
                                                                                    <label class="form-check-label" for="{{amenties.id}}">
                                                                                        {{amenties.name}}
                                                                                    </label>
                                                                                </div>
                                                                            </li>
                                                                        </div>
                                                                    </div>
                                                                </ng-template>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_button">
                                            <button type="submit" class="btn btn-thm" (click)="searchhome.form.valid && navigate()">Search</button>
                                            <button type="button" class="btn btn-primary" (click)="reset_Search()">Reset</button>
                                        </div>
                                    </li>
                                </form>
                            </ul>
                        </div>
                    </div>
                    <!-- featured property -->
                    <app-featured-property></app-featured-property>

                    <!-- product category  -->
                    <app-product-category></app-product-category>

                    <!-- Recently viewed product  -->
                    <app-recently-viewed-product></app-recently-viewed-product>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="grid_list_search_result">
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-5">
                            <div class="left_area tac-xsd">
                                <p>{{product_length}} Search results</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-7">
                            <div class="right_area text-right tac-xsd mar-xsd">
                                <ul>
                                    <form [formGroup]="searchForm" class="home1-advnc-search" action="#" name="searchHome" id="searchhome" #searchhome="ngForm">
                                        <li class="list-inline-item"><span class="stts">Status:</span>
                                            <select class="form-select show-tick" formControlName="property_status" id="property_status" (change)="property_status()">
                                                <option value="all">All Property</option>
                                                <option value="viewed">Most Viewed</option>
                                                <option value="recently">Recently Added</option>
                                            </select>
                                        </li>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row preloader_row" *ngIf="showLoadingIndicator">
                    <div class="col-lg-12">
                        <div class="preloader"></div>
                    </div>
                </div>
                <!-- property listing page details -->
                <div class="row propertyListingPage" *ngIf="product_length>0">
                    <div class="col-md-6 col-lg-6" *ngFor="let number of property | paginate:{itemsPerPage:8, currentPage:p}">
                        <div class="feat_property home7 style4">
                            <owl-carousel-o [options]="customOptions" *ngIf="number.product_img.length>0;else OtherImage">
                                <ng-template carouselSlide *ngFor="let img of number?.product_img">
                                    <img class="img-whp" src="{{ftpstring}}{{img?.image}}" alt="img1.jpg">
                                    <div class="thumb">
                                        <div class="thmb_cntnt style2">
                                            <ul class="tag mb0">
                                                <li class="list-inline-item" *ngIf=" number.rent_availability != null">
                                                    <a>For Rent</a></li>
                                                <li class="list-inline-item" *ngIf=" number.sale_availability != null">
                                                    <a>For Sale</a></li>
                                            </ul>
                                        </div>
                                        <div class="thmb_cntnt style3">
                                            <ul class="icon mb0">
                                                <li class="list-inline-item" *ngIf="number[0] != null;else wishlistcontent">
                                                    <a (click)="wishlist_remove(number.id)">
                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <ng-template #wishlistcontent>
                                                    <li class="list-inline-item">
                                                        <a (click)="wishlist_added(number.id)">
                                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                </ng-template>
                                            </ul>
                                            <a *ngIf="number.expected_pricing != null" class="fp_price">₹
                                                {{Price_convert(number.expected_pricing)}}<small></small></a>
                                            <a *ngIf="number.expected_rent != null" class="fp_price">₹ {{
                                                Price_convert(number.expected_rent)}}<small></small></a>
                                        </div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                            <ng-template #OtherImage>
                                <img class="img-whp lazy" alt="No Product Image" style="height: 250px;" src="./../../assets/resources/images/no_image_available.jpg">
                                <div class="thumb">
                                    <div class="thmb_cntnt style2">
                                        <ul class="tag mb0">
                                            <li class="list-inline-item" *ngIf=" number.rent_availability != null">
                                                <a>For Rent</a></li>
                                            <li class="list-inline-item" *ngIf=" number.sale_availability != null">
                                                <a>For Sale</a></li>
                                        </ul>
                                    </div>
                                    <div class="thmb_cntnt style3">
                                        <ul class="icon mb0">
                                            <li class="list-inline-item" *ngIf="number[0] != null;else wishlistcontent">
                                                <a (click)="wishlist_remove(number.id)">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <ng-template #wishlistcontent>
                                                <li class="list-inline-item">
                                                    <a (click)="wishlist_added(number.id)">
                                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ng-template>
                                        </ul>
                                        <a *ngIf="number.expected_pricing != null" class="fp_price">₹
                                            {{Price_convert(number.expected_pricing)}}<small></small></a>
                                        <a *ngIf="number.expected_rent != null" class="fp_price">₹ {{
                                            Price_convert(number.expected_rent)}}<small></small></a>
                                    </div>
                                </div>
                            </ng-template>

                            <div class="details">
                                <a (click)="sub_navigate(number.id,number.build_name,number.city)">
                                    <div class="tc_content">
                                        <p class="text-thm" *ngIf="number.type != null">{{ number.type | titlecase }}</p>
                                        <h4>{{number.build_name | titlecase}}</h4>
                                        <p *ngIf="number.address != null"><span class="flaticon-placeholder"></span> {{ number.address | titlecase }}
                                        </p>
                                        <ul class="prop_details mb0">
                                            <li class="list-inline-item"><a>Beds: {{ number.bedroom }}</a></li>
                                            <li class="list-inline-item"><a>Baths: {{ number.bathroom }}</a></li>
                                            <li class="list-inline-item"><a>Area unit: {{ number.area_unit }}</a></li>
                                        </ul>
                                    </div>
                                </a>
                                <div class="fp_footer" id="user_details">
                                    <ul class="fp_meta float-left mb0">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <img src="./../../assets/resources/images/property/pposter1.png" alt="pposter1.png"></a>
                                        </li>
                                        <li class="list-inline-item"><a href="#">{{number.user_detail.name |
                                                titlecase}}</a></li>
                                        <div class="fp_pdate float-right" *ngIf="number.product_comparision==null">
                                            <button type="button" (click)="product_comp(number.id)" class="btn btn-log btn-block btn-thm bg-white text-black-50">{{number.product_comparision}}Add
                                                to compare</button>
                                        </div>
                                        <div class="fp_pdate float-right" *ngIf="number.product_comparision !=null">
                                            <button type="button" class="btn  text-black-50 bucket-btn">Added To
                                                Compare</button>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="propertyresultlength == true">
                    <div class="col-lg-12">
                        <h3>No Search property!!!... </h3>
                    </div>
                </div>
                <div class="row" *ngIf="property?.length>8">
                    <div class="col-lg-12  agent_property">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>