.search_option_button {
    align-items: center!important;
    justify-content: space-around!important;
    display: flex!important;
}
.container1{
    padding-top: 90px!important;
}
#no_proeprty_link{
    cursor: pointer!important;
    color:blue!important;
    padding: 0px 5px!important;
}
#planaccess{
    margin: 7px 0px 0px 0px!important;
 width: 100% !important;
 background-color: #ff5a5f;
 text-align: center!important;
}

#planaccess a{
 color: #fff!important;
}
#no_proeprty_link a{
    cursor: pointer!important;
    color:blue!important;
    padding: 0px 5px!important;
}
.ui_kit_checkbox {
    width: 100%!important;
}

.form-check {
    margin-bottom: 0px!important;
}

.list-inline-item a i {
    color: #ff5a5f !important;
    font-size: 30px;
    font-weight: 900;
}

.locality_heading {
    color: #ff5a5f!important;
    padding-left: 14px;
}

.float-right .bucket-btn {
    border: 1px solid #4caf50;
    color: #4caf50!important;
}

.preloader_row {
    position: relative;
    width: 100%;
    height: 100vh;
}

.ui_kit_checkbox .form-check-label {
    display: flex!important;
    padding-right: 0px!important;
}

.form-select {
    font-size: 14px !important;
    height: 50px!important;
    width: 180px;
    border: 1px solid #ebebeb;
}

#search-text {
    background-color: #f7f7f7;
    border-left: 8px solid #ff5a5f;
    border-right: 8px solid #ff5a5f;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 20px;
    border-top: 1px solid #ff5a5f;
    border-bottom: 1px solid #ff5a5f;
}

@media(max-width: 768px) { 
    #deshtop_view{
        display: none!important;
    }
    .sidebar_advanced_search_widget h4{
        margin-bottom: 25px!important;
    }
    .status_change_form{
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
    }
    .grid_list_search_result .right_area ul li:first-child {
        margin-right: 0px!important;
        position: relative;
    }
    #search-text{
        padding:14px 5px!important
    }
    #search-text h5{
        font-size: 16px!important;
    }
}
@media(min-width: 768px) { 
    #mobile_view{
        display: none!important;
    }
}