.property-active-btn{
    background-color: #4caf50;
    color: #fff!important;
    /* cursor: no-drop!important; */
}
.property-active-btn:hover{
    background-color: #4caf50;
    color: #fff!important;
    /* cursor: no-drop!important; */
}
/* .property-active-btn a{
    cursor: no-drop!important;
} */

#planaccess{
    margin: 7px 0px 0px 0px!important;
 width: 100% !important;
 background-color: #ff5a5f;
 text-align: center!important;
}

#planaccess a{
 color: #fff!important;
}

.property-active-btn a i{
    color: #fff!important;
}
.main-banner-wrapper {
    /* height: 80vh!important; */
    padding: 5px 0px 0px!important;
}
.our-agent-single .btn-primary{
    width: 100%!important;
    font-size: 16px!important;
    font-weight: 800;
    cursor: pointer;
}
.btn_wishlist{
    background-color: #4caf50;
    color: #fff!important;
}
.btn_wishlist:hover{
    background-color: #4caf50;
    color: #fff!important;
}
.list-inline-item .wishlist-icon i{
    color: #ff5a5f !important;
    font-size: 30px;
    font-weight: 900;
}
.float-right .bucket-btn{
    border:1px solid #4caf50;
    color: #4caf50!important;
}
.preloader_row{
    position: relative;
    width: 100%!important;
    height: 50vh!important;
}
.preloader_row1{
    width: 100%!important;
    height: 100vh!important;
}
.payment_summery .heading strong{
    color: #ff5a5f!important;
    padding-left: 10px!important;
}
.post_review{
    text-align: center!important;
    cursor: pointer;
}
.product_id{
    background: #ff5a5f;
    color: #000;
    border-radius: 0px;
    cursor: pointer;
    padding:5px 7px!important;
    width: 36%!important;
}
.product_id span{
    color: #fff!important;
    padding-left: 8px!important;
}
.product_id:hover{
    background: #ff5a5f;
    color: #000;
    border-radius: 0px;
    cursor: pointer;
}




.product_id1{
    background: rgb(247, 247, 247);
    color: #000;
    border-radius: 0px;
    cursor: pointer;
    padding:5px 7px!important;
    /* width: 36%!important; */
}
.product_id1 span{
    color: #000!important;
    padding-left: 8px!important;
}
.product_id1:hover{
    background: #ff5a5f;
    color: #000;
    border-radius: 0px;
    cursor: pointer;
}
.lsd_list li{
    cursor: pointer!important;
}
#address_details{
    text-align: justify;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.user_details_map img{
    width: 50px!important;
    margin-right: 10px!important;
}
.user_details_map span{
    margin-left: 10px!important;
}
@media(min-width: 768px) {  
 #fixed_appointment_heading{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: justify;
 }   
#mobile_view{
    display: none!important;
}
    .single_page_address h6{
        justify-content: flex-end!important;
        align-items: flex-end!important;
        display: flex!important;
    }
    #mobile_viewd_li{display: none!important;}
    .chekout_btn {
        margin-top: 15px!important;
    }
    .hidden-lg{
        display: none!important;
    }
    .ul_mobile{
        display: none!important;
    }
    .listing_single_description .ul_details{
        display: flex!important;
        justify-content: space-between!important;
        align-items: center!important;
    }
    
    .no_property{
        font-size: 40px;
        font-weight: 600;
        margin: 0px!important;
        text-align: center;
        padding: 15px 0px;
        letter-spacing: 1.4px;
    }
    .no_property_row{
        margin: 30px 0px!important;
    }

}
@media(max-width: 768px) {    
    #fixed_appointment_heading{
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 10px;
        text-align: justify;
     }
     
.main-banner-wrapper {
    height: 80vh!important;
    margin: auto!important;
    padding: 5px 0px 0px!important;
}   
      
#deshtop{
    display: none!important;
}
    .listing_single_description .ul_details{
        display: contents!important;
    }
    .no_property{
        font-size: 16px;
        font-weight: 600;
        margin: 0pximportrant;
        text-align: center;
        padding: 10px 0px;
        letter-spacing: 1px;
    }
    .no_property_row{
        margin: 20px 0px!important;
    }
    .lsd_list{
        margin-bottom: 15px!important;
    }       
    .listing_single_description .ul_details .list-inline-item{
        width: 45%;
        padding: 5px 2px!important;
        margin:8px!important;
    } 
    .listing_single_description .ul_details .ul_mobile {
        display: flex!important;
    }
    .deshtop_li{
        display: none!important;
    }
    .product_id{
        width: 100%!important;
        letter-spacing: 1.0px!important;
    }
    
    .product_id1{
        width: 100%!important;
        letter-spacing: 1.0px!important;
    }
    .hidden-sm{
        display: none!important;
    }    
    .icon_box_area{
        margin: 5px 0px!important;
    }
    .single_page_address h6{
        justify-content: center!important;
        align-items: center!important;
        display: flex!important;
    }
    .application_statics h4{
        text-align: center!important;
        margin: 0px!important;
    }
    .payment_summery h6{
        font-size: 14px;
        margin:8px 0px!important;
    }
    .chekout_btn {
        margin-top: 15px!important;
    }
    .share-tab{
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: -60px!important;
    }
    section{
        padding: 20px 0px!important;
    }
    .single_property_title{
        margin:10px 0px!important;
    }
    .our-agent-single .mt50{
     margin-top: 20px!important;
    }

}
.payment_summery{
    margin:0px auto 20px!important;
}
.payment_summery h6{
    font-size: 14px;
    margin:5px 0px;
}
@media(max-width: 950px) { 
    #deshtop_view{
        display: none!important;
    }
}
@media(min-width: 950px) { 
    #mobile_view{
        display: none!important;
    }

}
