.property-active-btn{
    background-color: #4caf50;
    color: #fff!important;
    cursor: no-drop!important;
}
.property-active-btn:hover{
    background-color: #4caf50;
    color: #fff!important;
    cursor: no-drop!important;
}
.property-active-btn a{
    cursor: no-drop!important;
}

.property-active-btn a i{
    color: #fff!important;
    cursor: no-drop!important;
}
.btn_wishlist{
    background-color: #4caf50;
    color: #fff!important;
}
.btn_wishlist:hover{
    background-color: #4caf50;
    color: #fff!important;
}
.list-inline-item .wishlist-icon i{
    color: #ff5a5f !important;
    font-size: 30px;
    font-weight: 900;
}
.float-right .bucket-btn{
    border:1px solid #4caf50;
    color: #4caf50!important;
}
.preloader_row{
    position: relative;
    width: 100%!important;
    height: 50vh!important;
}
@media(min-width: 768px) {  
    .single_page_address h6{
        justify-content: flex-end!important;
        align-items: flex-end!important;
        display: flex!important;
    }
}
@media(max-width: 768px) {  
    .single_page_address h6{
        justify-content: center!important;
        align-items: center!important;
        display: flex!important;
    }
    .application_statics h4{
        text-align: center!important;
        margin: 0px!important;
    }
}
.payment_summery{
    text-align: center!important;
    margin:0px auto 20px!important;
}