<div class="wrapper">
    <div class="container mt20">
        <div class="row preloader_row" *ngIf="showLoadingIndicator">
            <div class="col-lg-12">
                <div class="preloader"></div>
            </div>
        </div>
        <div class="row" *ngIf="showLoadingIndicator == false">
            <div class="col-lg-10 offset-lg-1 col-12 create_column">
                <div class="my_dashboard_review">
                    <form role="form" action="" method="post" class="f" [formGroup]="Service_form" novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-12 service_heading">
                                <h2>Update User</h2>
                            </div>
                            <div class="col-lg-6 col-12 mt15">
                                <div class="form-group">
                                    <!-- <label for="service" class="form-label">Enter User name</label> -->
                                    <input type="text" class="form-control" id="user" formControlName="user" placeholder="Enter User Name" [ngClass]="{ 'is-invalid': submitted && f.user.errors }">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 mt15">
                                <div class="form-group">
                                    <!-- <label for="contact" class="form-label">Please Select Area</label> -->
                                    <input type="text" class="form-control" id="contact" formControlName="contact" placeholder="Enter Mobile No:" (keypress)="keyPressNumbers($event)" minlength="10" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 mt15 ">
                                <div class="form-group">
                                    <!-- <label for="Area" class="form-label">Please Select Area</label> -->
                                    <select id="City" class="form-select form-select-lg w100" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"> 
                                    <!-- <option value="">Select City</option> -->
                                   <option value="1">Delhi</option>
                                </select>
                                </div>
                            </div>

                            <div class="col-md-6  col-12 mt15">
                                <input class="w100 form-control" type="text" placeholder="Search locality" matInput aria-label="Number" formControlName="locality_data" [matAutocomplete]="auto" (ngModelChange)="get_locality($event)" [ngClass]="{ 'is-invalid': submitted && f.locality.errors }">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let area of filteredOptions | async" [value]="area.locality_text" (onSelectionChange)="change_selected_locality(area)">
                                        {{area.locality_text}}
                                    </mat-option>
                                </mat-autocomplete>
                                <input type="hidden" class="form-control" id="locality" formControlName="locality" [ngClass]="{ 'is-invalid': submitted && f.locality.errors }">
                                <span *ngIf="submitted && f.locality.errors" id='dropdownerror'>
                                <span *ngIf="f.locality.errors.required">(Please Select Any Locality)</span>
                                </span>
                            </div>
                            <div class="col-lg-6 col-12 mt15 col-sm-12" id="multiselect-dropdown2">
                                <div class="form-group">
                                    <!-- <label for="LocalArea" class="form-label">Please Select Local Area</label> -->
                                    <ng-multiselect-dropdown class="form-control sub_localty_dropdown" [placeholder]="'Select Sub-locality'" [settings]="dropdownSettings1" [data]="dropdown_sublocality" formControlName="sub_locality" [ngClass]="{ 'is-invalid': submitted && f.sub_locality.errors }">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 mt15 col-sm-12">
                                <div class="form-group">
                                    <ng-multiselect-dropdown class="form-control" [placeholder]="'Select Service'" [settings]="dropdownSettings" [data]="dropdown_service" formControlName="service" [ngClass]="{ 'is-invalid': submitted && f.service.errors }">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-lg-4 offset-lg-8 col-12 mt20 search-column">
                                <button type="submit" class="btn btn-submit" (click)="onSubmit()">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>