mat-slider {
    width: 100%;
}
.bg-lightgray {
    background-color: lightgray;
}

.container1{
  padding-top: 120px!important;
}
.application_statics{
  padding:  20px 0px 0px!important;
}
.single-page_inner_column #myTab{
  width: 100%!important;
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;
}
.shop_single_tab_content  .btn-thm2 {
  width: 80px!important;
}
.list-inline-item{
  margin: 0px!important;
}
.UpdateProperty_select_img .portfolio_item:hover img{
  transform: scale(1.2)!important;
  transition: 0.3s all;
}
.UpdateProperty_select_img .portfolio_item .overlay{
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  z-index: 100!important;
  transition: 0.3s all;
}
.UpdateProperty_select_img .portfolio_item .overlay h4{
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.UpdateProperty_select_img{
  margin: 40px 0px 0px 0px;
}
.UpdateProperty_select_img h2{
  margin: 0px 0px 20px 0px;
}
.UpdateProperty_select_img .portfolio_item{
  width: 300px;
  margin: 0px 20px 30px;
  z-index: 100!important;
  transition: 0.3s all;
}
.UpdateProperty_select_img .portfolio_item img{
  width: 300px;
  transition: 0.3s all;
}
.portfolio_item{
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
    height: 200px;
    margin: 15px 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .portfolio_item img{
    height: 200px;
    width: 100%;
  }
  .portfolio_item .edu_stats_list{
    border-radius: 8px;
    background-color: rgb(255, 90, 95);
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 35px;
    z-index: 100000!important;
  }
  .portfolio_item button:active .flaticon-garbage{
    color: rgb(255, 90, 95);
  }
  .portfolio_item button:hover .flaticon-garbage{
    color: rgb(255, 90, 95);
  }
  .portfolio_item .edu_stats_list:hover{
    border-radius: 8px;
    background-color: rgb(255, 90, 95);
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 35px;
  }
  .portfolio_item .edu_stats_list span{
    color: rgb(255, 255, 255);
  }
  .additional_row{
      margin: 15px 0px!important;
      padding: 15px 0px!important;
      background-color: #fff!important;
  }
  .additional_row .form-group{
      display: flex!important;
      align-items: center!important;
      justify-content: center!important;
  }
  .additional_row li label{
    margin-left: 12px!important;
    font-size: 12px!important;
  }
  #Negotiable_info_btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #Negotiable_info_btn i{
    font-size: 32px;
    color: #f35b3f;
  }
  .draftbtn{
    margin-right: 15px!important;
    color: #fff;
    background-color:#ff5a5f!important;
  }
  .preloader_row{
      position: relative;
      width: 100%;
      height: 100vh;
  }
  .preloader_row1{
    position: relative;
    width: 100%;
    height: 250px;
    z-index: 100!important;
  }
  
  #dropdownerror{
    font-size: 16px!important;
    font-weight: 600;
    padding: 5px 10px!important;
    background-color: #fff;
    color: #dc3545;
    margin-left: 10px;
  }
.google_map_error{
  font-size: 22px;
  font-weight: 600;
  background: #fff;
  text-align: center;
}
@media(max-width: 768px) { 
    .additional_row li label{
      margin-left: 2px!important;
    }
    .btn_location_map{
      width:100%!important;
    }
    .additional_row{
        margin: 15px 0px!important;
        padding: 15px 5px!important;
        background-color: #fff!important;
    }
    .additional_row .form-group{
        display: flex!important;
        align-items: center!important;
        justify-content: space-around!important;
        margin:7px 0px!important;
    }
    .additional_row .col-6{
        padding: 0px!important;
    }
    .UpdateProperty_select_img .portfolio_item{
      margin: 0px!important;
    }
    #mobile_view{
      margin-bottom: 10px;
      display: block;
      font-size: 14px!important;
      padding: 5px 10px!important;
      background-color: #fff;
      color: #dc3545;
      border: 1px solid #dc3545;
      box-shadow: 5px 1px 5px #dc3545;
    }
    #deshtop_view{
      display: none!important;
    }
    .text-right{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .flaticon-maps-and-flags{
      right: 35px!important;
      top: 50px!important;
    }
    
    .form-label{
      margin-top: 15px!important;
    }
    .mt-3{
      margin-top: 0px!important;
    }
    .mt-3 button{
      margin-top: 15px!important;
    }
}
@media(min-width: 769px) { 
  #mobile_view{
    display: none!important;
  }
  #deshtop_view{
    font-size: 16px!important;
    font-weight: 600;
    padding: 5px 10px!important;
    background-color: #fff;
    color: #dc3545;
    margin-left: 10px;
    border: 1px solid #dc3545;
    box-shadow: 5px 1px 5px #dc3545;
  }
}
