<div class="wrapper">
    <div class="p-5 bg-secondary rounded-3">
        <div class="container-fluid py-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                </ol>
            </nav>
            <h2 class="col-custom">Privacy Policy</h2>
        </div>
    </div>
    <!-- Our Terms & Conditions -->
    <section class="our-terms bgc-f7">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12">
                    <div class="terms_condition_grid">
                        <div class="grids mb30">
                            <h2 class="text-center"><b>Privacy Policy</b></h2>
                            <h5 class="text-center">Last updated on: November , 2021</h5>
                            <!--<ol class="mt35">-->
                            <!-- <li>-->
                            <h3 class="mt25"><b>1. General</b></h3>

                            <ol>
                                <li>
                                    <p><b>a. </b>We recognise the critical nature of your data and are committed to protecting and respecting your privacy. This Privacy Statement describes how Housingstreet Marketing And Consulting Private Limited('<b>we</b>'/'<b>our</b>'/'<b>us</b>')
                                        collects, uses, and/or discloses certain personally identifiable information('
                                        <b>personal data</b>'/'<b>data</b>'/'<b>information</b>') when a user ('<b>you</b>'/'<b>your</b>'/'<b>user</b>') visits our website at https://www.housingstreet.com ('<b>Website</b>') or any internet-enabled application
                                        (collectively referred to as '
                                        <b>Service</b>') that may be available from time to time. You consent to us collecting, storing, processing, transferring, and disclosing information in the manner stated in this Privacy Policy if you continue to
                                        use our Service. </p>
                                </li>
                                <li>
                                    <p><b>b. </b>This Policy is an integral part of the Website’s terms of use and other terms ('<b>Terms of Use</b>'). Our Privacy Policy is subject to modification without notice at any time. To be informed about any changes,
                                        please review this Policy regularly.</p>
                                    <p><b>c. </b>All our partners and third-party service providers who work with or for us and have access to personal information are expected to read and adhere to this policy.</p>
                                </li>
                            </ol>
                        </div>

                        <div class="grids mb30">
                            <h3><b>2. What data do we collect?</b></h3>
                            <ol>
                                <li>
                                    <p><b>a. </b>We collect personal data about you, such as your name, email address, mobile number, location, physical address, bank account information (account number, IFSC code, branch name, and account holder's full
                                        name), and/or any other data we deem fit, which may include, but is not limited to, payment information such as debit and credit card numbers. Please note that while providing your geographical location is completely
                                        optional, sharing the same will help optimise your search results.</p>
                                </li>
                                <li>
                                    <p><b>b. </b>Further, when you list your property for rent or sale on our Services, we collect data about you, including your name, address, the location of the property, the expected rental or sale price, registration
                                        status, and photos of the property, as well as any other information that we deem necessary to suitably list your property. If you are a business listing a property on our Services, we will also require you to give
                                        us the name of your firm/company, its registered address, and its GST number.</p>
                                </li>
                                <li>
                                    <p><b>c. </b>If you register for our Service using one of your social media accounts, such as Google or Facebook, we may collect information about those accounts. You may opt-out of sharing certain information when registering
                                        with us using any social media account, subject to the terms and conditions of such social media platform.</p>
                                </li>
                                <li>
                                    <p><b>d. </b>When you purchase a subscription or paid service through our Services, we or our payment gateway provider may collect your purchase details, address, or billing information, such as your bank details, credit
                                        card number and expiration date. When you place an order through an in-app purchase option on one of our applications, the order is processed by such mobile operating system platform providers. Unless cancelled,
                                        subscriptions or purchased Services may be renewed automatically. If you decide at any moment that you do not desire to have your subscription renewed automatically, you may cancel it before the end of the subscription
                                        term. </p>
                                </li>
                                <li>
                                    <p><b>e. </b>If you contact us by email, fax, video conference, telephone, or letter, any information you provide may be collected as personal data.</p>
                                </li>
                                <li>
                                    <p><b>f. </b>Certain information is collected automatically when you visit our Website. This data set includes the current Operating System (OS) installed on your device, your Internet Protocol (IP) address, the duration
                                        of your access, your browser type and language, and the website you last visited before visiting our Website. Additionally, we collect information about how you use our products and services.</p>
                                </li>
                                <li>
                                    <p><b>g. </b>To create featured products and services such as the top-rated projects or most viewed properties, we will automatically collect data concerning your visit and content usage and combine that data with other
                                        customers/users' similar data.</p>
                                </li>
                                <li>
                                    <p><b>h. </b>The complete Uniform Resource Locators (URL) clickstream to, through, and from our Website (including date and time); cookie number; products and/or content you saw or searched for; page response times; duration
                                        of visits to certain pages; download errors; information on page interaction (such as scrolling, clicks, and mouse-overs).</p>
                                </li>
                                <li>
                                    <p><b>i. </b>We collect information automatically through the use of "Cookies." Cookies are small data files that websites store on your hard drive. Cookies enable us to improve our Website, our marketing activities, and
                                        your experience, among other things. we use cookies to determine which areas and features of our Website are the most popular and to keep track of the number of visitors to our Website. You can find additional information
                                        about this in our section on Cookie Policy below.</p>
                                </li>
                                <li>
                                    <p><b>j. </b>By using this Website, you agree that we may use your feedback in promotional materials and on the Website.</p>
                                </li>
                                <li>
                                    <p><b>k. </b>If you choose to receive marketing correspondence from us, subscribe to our mailing list or newsletters, enter one of our competitions, or provide us with your contact information at networking events, we
                                        may use your personal data for our legitimate interests to keep you informed about our goods, Services, business updates, and events.</p>
                                </li>
                                <li>
                                    <p><b>l. </b>You confirm and grant us the right to retain your information in perpetuity as long as we require to provide you with the products and Services and for such a period as mandated by applicable laws.</p>
                                </li>
                                <li>
                                    <p><b>m. </b>We may combine your demographic and other information with that from other sources to provide you with specifically suited communications and promotions. We measure user behaviour on our Services using a variety
                                        of tools, including Google Analytics. Google Analytics has been enabled expressly to support display advertising to assist us in gaining a better knowledge of our users' demographics and interests. The reports are
                                        completely anonymous and cannot be linked to any personally identifying information you may have shared with us. You can opt-out of Google Analytics for display advertising and adjust Google Display Network ads
                                        through the offered Ads Settings choices.</p>
                                </li>
                            </ol>
                        </div>
                        <div class="grids mb30">
                            <h3><b>3. How we use the Information</b></h3>
                            <p>We use the information collected through this Website as described in this Policy and we may use your information to:</p>
                            <ol class="ms-4">
                                <li>
                                    <p><b>a. </b>assist our users in selling their properties by way of connecting with potential buyers;</p>
                                </li>
                                <li>
                                    <p><b>b. </b>better knowledge of user’s requirements and interests;
                                    </p>
                                </li>
                                <li>
                                    <p><b>c. </b>communicate with you about promotions, future events, and news about our Services; </p>
                                </li>
                                <li>
                                    <p><b>d. </b>comply with any disclosure requirements imposed by applicable legislation.
                                    </p>
                                </li>
                                <li>
                                    <p><b>e. </b>gather geographical location data enabling us to optimise search results and display the most relevant results for our users.</p>
                                </li>
                                <li>
                                    <p><b>f. </b>identify and contact you;</p>
                                </li>
                                <li>
                                    <p><b>g. </b>permit us to provide you with a superior level of service by responding to your customer service inquiries;</p>
                                </li>
                                <li>
                                    <p><b>h. </b>process your personal information without your knowledge or consent where required by applicable law or regulation for verification of identity or prevention, detection or investigation, including cyber incidents,
                                        prosecution and punishment of offences.</p>
                                </li>
                                <li>
                                    <p><b>i. </b>provide and deliver requested services;</p>
                                </li>
                                <li>
                                    <p><b>j. </b>provide you with additional information, services, as well as newsletters; send you related information, such as confirmations, updates, security alerts, and support and administrative messages; </p>
                                </li>
                                <li>
                                    <p><b>k. </b>resolve technical issues; </p>
                                </li>
                                <li>
                                    <p><b>l. </b>safeguard, investigate, and deter errors, fraud, unauthorised use, and other illegal behaviour. </p>
                                </li>
                                <li>
                                    <p><b>m. </b>to comprehend, enhance, and personalise your experience when using our Website, or services as well as to offer recommendations;</p>
                                </li>
                                <li>
                                    <p><b>n. </b>to promote payment transparency and to transfer monies payable by us to any user.</p>
                                </li>
                                <li>
                                    <p><b>o. </b>to provide related services such as preparation of a rent agreement or police verification of a tenant;</p>
                                </li>
                            </ol>
                        </div>
                        <div class="grids mb30">
                            <h3><b>4. Your Rights on your Data</b></h3>
                            <p>We make every effort to ensure that you are completely aware of your data protection rights. Each user has the following rights:</p>
                            <ol class="ms-4">
                                <li>
                                    <p><b>a. </b><u>The right to access</u>: you have the right to request copies of your data from us. We may charge a nominal fee for this service.</p>
                                </li>
                                <li>
                                    <p><b>b. </b><u>The right to rectification</u>: you have the right to request that we add, delete, or amend the information if you believe it is erroneous or incomplete.
                                    </p>
                                </li>
                                <li>
                                    <p><b>c. </b><u>The right to opt-out</u>: you have the right to opt-out of sharing certain information when registering with us.</p>
                                </li>
                            </ol>
                        </div>
                        <div class="grids mb30">
                            <h3><b>5. Data Transfer</b></h3>
                            <ol>
                                <li>
                                    <p><b>a. </b>User information is vital to our business, and while we take commercially reasonable technical and organisational safeguards to protect it, we cannot guarantee its total security. We strongly discourage you
                                        from putting your personal information on our Website's forums, comments, or other publicly accessible sections, notwithstanding our security safeguards.</p>
                                </li>
                                <li>
                                    <p><b>b. </b>We will only share personal data with your consent or provide you with a product or service that you have requested or authorised or to complete a transaction. Additionally, we share information with our affiliates
                                        and third-party partners who perform services on our behalf.
                                    </p>
                                </li>
                                <li>
                                    <p><b>c. </b>We may engage other individuals and businesses to perform some duties on our behalf. Some of these functions include visiting properties, providing details about them, and facilitating the transaction, delivering
                                        mails or e-mail, optimising customer lists, marketing, payment processing, transmitting content, and providing customer service.</p>
                                </li>
                                <li>
                                    <p><b>d. </b>While these third-party service providers may require access to personal information to fulfil their functions, they are precluded from using it for any other purpose. Additionally, they are expected to adhere
                                        to this Privacy Policy and any data protection regulations while processing personal information.
                                    </p>
                                </li>
                                <li>
                                    <p><b>e. </b>We release account and other personal information when we believe it is necessary to comply with applicable laws, to enforce or apply our Terms of Service and other agreements, or to protect our users' or
                                        others' rights, property, or safety. This includes exchanging data with other businesses and organisations to avoid fraud and mitigate credit risk.</p>
                                </li>
                            </ol>
                        </div>

                        <div class="grids mb30">
                            <h3><b>6. Cookie Policy</b></h3>
                            <ol>
                                <li>
                                    <p><b>a. </b>We utilize cookies to enhance our Website’s performance. These small text files are kept in your computer’s main memory and deleted once the browser is closed. Other cookies (long-term cookies) remain on your
                                        computer for an extended period and enable your device to be recognised on subsequent visits. This enables us to enhance the Website's accessibility and to develop a better understanding of your interests to provide
                                        you with necessary features and services, as well as for other objectives, such as:
                                    </p>
                                    <ol class="ms-4">
                                        <li>
                                            <p>i. ensuring that you remain logged in to the Website and storing the session ID of users.</p>
                                        </li>
                                        <li>
                                            <p>ii. gaining knowledge of how you utilise our Website.</p>
                                        </li>
                                        <li>
                                            <p>iii. Keeping track of the items on your wish list.</p>
                                        </li>
                                        <li>
                                            <p>iv. doing research and diagnostics to enhance the quality of the content, products, and services.</p>
                                        </li>
                                        <li>
                                            <p>v. Adapting our Services to your specific needs and interests.</p>
                                        </li>
                                        <li>
                                            <p>vi. aggregate usage information such as the total number of users, pages and media, and service features, etc.</p>
                                        </li>
                                        <li>
                                            <p>vii. preventing fraud.</p>
                                        </li>
                                        <li>
                                            <p>viii. enhancing security.</p>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <p><b>b. </b>Our cookies enable you to take advantage of several critical features on our Website. If you disable or refuse our cookies you may not be able to use certain features of Our Website.
                                    </p>
                                </li>
                                <li>
                                    <p><b>c. </b>Additionally, when you interact with our Services, authorised third parties may set cookies. Search engines, measurement and analytics service providers, social media networks, and advertising businesses are
                                        all examples of third parties. Third parties use cookies to offer content, including advertisements tailored to your interests, to track the success of their advertisements, and to perform functions on our behalf.</p>
                                </li>
                                <li>
                                    <p><b>d. </b>You can disable cookie storage in your browser settings by selecting the "disable cookies" option. However, this may restrict the functionality of our Service.</p>
                                </li>
                            </ol>
                        </div>

                        <div class="grids mb30">
                            <h3><b>7. Data Security</b></h3>
                            <ol>
                                <li>
                                    <p><b>a. </b>We protect your data with commercially reasonable physical, electronic, and procedural measures. Technical precautions have been implemented to safeguard data against unlawful or unauthorised access, accidental
                                        loss, misuse, disclosure, alteration, damage or destruction. These precautions include password encryption in our database, providing data over HTTPS and login access to sensitive data.</p>
                                </li>
                                <li>
                                    <p><b>b. </b>We limit access to personal data to employees, agents, consultants, and other third parties that need it for a legitimate business reason. Such employees, agents or third parties who interact with data have
                                        received training on how to protect it from unauthorised or illegal usage.
                                    </p>
                                </li>
                                <li>
                                    <p><b>c. </b>Protecting your password as well as your computer, mobile device, and applications from unauthorised access is extremely important. You must secure your login and password to prevent unauthorised access to
                                        or misuse of your accounts and services. Avoid using or reusing the same passwords for our Service and other accounts. We will never request your password via email or telephone. If you believe your account has
                                        been compromised, please contact us immediately using the contact information shown below. Always log off of a shared computer after using it.</p>
                                </li>
                                <li>
                                    <p><b>d. </b>The information you provide will be retained for as long as necessary to complete the transaction with you or as required by applicable law.</p>
                                </li>
                            </ol>
                        </div>

                        <div class="grids mb30">
                            <h3><b>8. Links to Third-Party Site/Apps</b></h3>
                            <ol>
                                <li>
                                    <p><b>a. </b>Our Service may contain links to and from third-party websites. Please be aware that if you click on a link to one of these third-party websites, the collection and privacy of your personal data will be governed
                                        by the terms of the third-party website.</p>
                                </li>
                                <li>
                                    <p><b>b. </b>You agree and confirm that we are neither directly nor indirectly liable for any alleged or actual loss or damage alleged to have been caused as a consequence of or in connection with your reliance on any
                                        such third-party website, portal, content, advertising, products, or services available on or through any third-party links, or for any defamatory content, libel, slander, errors, omissions, falsehoods, or obscenity.
                                    </p>
                                </li>
                                <li>
                                    <p><b>c. </b>We encourage you to read the privacy policies of any third-party websites you visit after leaving our Service.</p>
                                </li>
                            </ol>
                        </div>

                        <div class="grids mb30">
                            <h3><b>9. Confidentiality</b></h3>
                            <p>In the following restricted circumstances, the Company may disclose your Information with a third party without getting the User's prior authorization. </p>
                            <ol class="ms-4">
                                <li>
                                    <p><b>a. </b>if the disclosure is required by law to any authority. </p>
                                </li>
                                <li>
                                    <p><b>b. </b>To conduct business and optimise Services, we may share data with affiliate firms and their officers and employees for the purpose of processing personal information on our behalf. These recipients have consented
                                        to the information being processed in accordance with this Privacy Policy.
                                    </p>
                                </li>
                                <li>
                                    <p><b>c. </b>We may share data with advertisers and third parties to assist them in estimating the value of advertising on our Website or other service portals; however, this data is usually in the form of aggregated statistics
                                        on visits to various pages on our Website.</p>
                                </li>
                                <li>
                                    <p><b>d. </b>We may share your Information to enforce or protect our rights or the rights of any or all of our affiliates, associates, employees, directors, or officers, or when we have reason to believe that disclosing
                                        such user information is necessary to identify, contact, or bring legal action against someone who may be interfering with our rights or our Websites, whether intentionally or unintentionally, or when anyone else
                                        could be harmed by such activities.</p>
                                </li>
                                <li>
                                    <p><b>e. </b>Users who register their telephone or mobile numbers on our Services may get telephone or text message communications from us with information about new products and services or forthcoming events.</p>
                                </li>
                            </ol>
                        </div>

                        <div class="grids mb30">
                            <h3><b>10. Social Network Plugins</b></h3>
                            <p class="ms-5">This Service may incorporate social media plugins and/or buttons to facilitate sharing on your preferred social media platforms. To protect users' privacy, these plugins are programmed to not set any cookies while assessing
                                the page. Cookies may be set if you use the plugin voluntarily. The plugin's collection and use of information are governed by the social networks' respective privacy policies.</p>
                        </div>

                        <div class="grids mb30">
                            <h3><b>11. Sharing of Personal Information</b></h3>
                            <p class="ms-5">Except as set forth below, we do not share your personal information with third parties without your explicit consent: </p>
                            <ol class="ms-5">
                                <li>
                                    <p><b>a. </b>To third parties who provide services on our behalf, provided they adhere to the data protection principles set out in the Information Technology Act, 2000 (21 of 2000) and other applicable legislation, or
                                        enter into a written agreement with us requiring the third party to provide at least the same level of privacy protection as required by such principles.</p>
                                </li>
                                <li>
                                    <p><b>b. </b>To adhere to applicable laws or to act lawfully in response to legitimate requests and legal processes.
                                    </p>
                                </li>
                                <li>
                                    <p><b>c. </b>To protect our rights and property, as well as the rights and property of our agents and others, including to enforce our agreements, policies, and terms and conditions of use.</p>
                                </li>
                                <li>
                                    <p><b>d. </b>In an emergency, including to ensure the personal safety of any individual; and</p>
                                </li>
                                <li>
                                    <p><b>e. </b>In connection with the completion (or negotiation) of a business transaction involving the sale or transfer of products or services or all or a portion of our business or assets (business deals may include,
                                        for example, any merger, financing, acquisition, divestiture or bankruptcy transaction or proceeding).</p>
                                </li>
                            </ol>
                        </div>

                        <div class="grids mb30">
                            <h3><b>12. Individuals below the Age of Majority</b></h3>
                            <p class="ms-5">If you are under the age of 18 or the age of majority in your jurisdiction, whichever is greater, you may only use our Website with the express written permission of your parent or legal guardian. In any case, we will not be
                                liable for any claim brought against us as a result of your failure to adhere to this clause.</p>
                        </div>

                        <div class="grids mb30">
                            <h3><b>13. Your Information Choices and Changes</b></h3>
                            <ol class="ms-4">
                                <li>
                                    <p><b>a. </b>You can choose the manner in which we collect and process your data. You may access and correct your personal information, as well as opt-out of certain services we provide. In some instances, applicable regulations
                                        may restrict your ability to control and access your data.</p>
                                </li>
                                <li>
                                    <p><b>b. </b>Until you unsubscribe from our mailing list, we will use your e-mail address for promotional purposes. You may unsubscribe from our promotional email communications if you no longer wish to receive them by
                                        following the unsubscribe instructions included in those communications. If you opt-out of receiving promotional emails from us, we may continue to send you non-promotional emails, such as those regarding our ongoing
                                        business relationship. Additionally, you may send requests to the email address listed at the end of this document regarding your preferences, changes, or deletions to your information, as well as requests to opt-out
                                        of third-party sharing of your personal information.
                                    </p>
                                </li>
                                <li>
                                    <p><b>c. </b>You have the option of deleting your user account with us. To begin the deletion procedure, please contact us via the email address listed under the 'Contact Us' section.</p>
                                </li>
                            </ol>
                        </div>

                        <div class="grids mb30">
                            <h3><b>14. Changes to our Privacy Policy</b></h3>
                            <ol class="ms-4">
                                <li>
                                    <p><b>a. </b>This Privacy Policy is subject to regular review and updates to keep up with legal, regulatory, and operational changes. This page is the most up-to-date version of the policy. Continued use of our Service
                                        after the date of the update means that you have accepted the update.</p>
                                </li>
                                <li>
                                    <p><b>b. </b>You may terminate your use of our Service if you do not agree to any changes to this Privacy Policy. This Privacy Policy was last updated on the date specified in the 'Last Updated' section above.
                                    </p>
                                </li>
                            </ol>
                        </div>

                        <div class="grids mb30">
                            <h3><b>15. Grievance Redressal</b></h3>
                            <p class="ms-5">To solve any privacy or user grievances, we have established a complaint redress mechanism in accordance with the Information Technology Act, 2000 and the rules promulgated thereunder. If you have any concerns about our service,
                                please explain your issue in detail and we will do our best to resolve it.</p>
                        </div>

                        <div class="grids mb30">
                            <h3><b>16. Contact Us</b></h3>
                            <p class="ms-5">Please use the following contact information if you have any questions or if you want to exercise your data protection rights:</p>
                            <p class="ms-5">Email: <a class="page_links" href="mailto: legal@housingstreet.com">legal@housingstreet.com</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Real Estate Agent -->
    <app-real-estate-agent></app-real-estate-agent>
</div>