<div *ngIf="showLoadingIndicator">
    <div class="preloader"></div>
</div>
<div class="container container1 py-4">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h5 class="text-center">Don't let your property stay vacant - go ahead and fill out details for listing.</h5>
        <hr>
        <div class="row text-center">
            <h3>Add New Property</h3>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2">
                <div class="row">
                    <!-- Sale feature Commented -->
                    <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                            <button type="button" class="btn btn-block btn-secondary btn-lg for_sale"
                                (click)="mob_verify_check('sale')">For Sale</button>
                        </div> -->
                    <!-- Sale feature Commented -->
                    <div class="col-lg-6 col-md-6 col-sm-12 m-auto">
                        <button type="button" class="btn btn-block btn-secondary btn-lg" [routerLink]="['/agent/list-property-rent']">For Rent</button>
                        <!-- <button type="button" class="btn btn-block btn-secondary btn-lg" (click)="mob_verify_check('rent')">For Rent</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>