.px-5{
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}
.my-4 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
#sign_up_form i{
    font-size: 20px!important;
}
.alert{
    padding: 1rem 0rem!important;
}
.invalid-feedback1{
    color: #dc3545;
    font-size: 14px!important;
}
.terms_condition_grid {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    padding: 30px;
    position: relative;
}

.terms_condition_grid .grids h4 {
    margin-bottom: 25px;
}

.terms_condition_grid .grids p {
    font-size: 18px;
    font-family: "Nunito";
    color: #484848;
    line-height: 1.714;
    margin-left: 25px;
    text-align: justify;
}

.terms_condition_grid .grids p {
    /* margin-left: 0px!important; */
    font-size: 14px!important;
    line-height: 26px!important;
}

.modal_links {
    color: #007bff !important;
    cursor: pointer;
}

.page_links {
    color: #007bff !important;
}

.ml-custom {
    margin-left: 2.5rem !important;
}

@media(min-width: 768px) {

    .preloader{
        height: 650px!important;
    }
    .bg-secondary {
        padding: 8rem 3rem 1rem 3rem!important;
    }
    
    
}

@media only screen and (max-width: 768px) {
    .bg-secondary {
        padding: 5rem 3rem 0rem 3rem!important;
    }
   
}